.ajukan-surat-child {
    position: absolute;
    top: 50px;
    left: -104px;
    width: 368.98px;
    height: 117.2px;
}
  
.ajukan-surat-item {
    position: absolute;
    top: -80px;
    right: 0;
    width: 250px;
    height: 330.53px;
    object-fit: contain;
    overflow: hidden;
}