a {
    text-decoration: none;
}

.primary-text {
    flex: 1;
    position: relative;
    font-size: var(--body-b2-size);
    font-weight: 600;
    font-family: var(--heading-h4);
    color: var(--white-white-1);
    text-align: center;
    margin: auto;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.primary-text:hover {
    text-decoration: none;
}

.warning-text {
    flex: 1;
    position: relative;
    font-size: var(--body-b2-size);
    font-weight: 600;
    font-family: var(--heading-h4);
    color: #100F0F;
    text-align: center;
    margin: auto;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.warning-text:hover {
    text-decoration: none;
}

.primary-button {
    cursor: pointer;
    margin: auto;
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: var(--green-green-1);
    height: 40px;
    width: 105px;
    border-radius: var(--br-xs);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.primary-button:hover{
    text-decoration: none;
    background-color: #163c3f;
}

.delete-button {
    cursor: pointer;
    margin: auto;
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: #990012;
    height: 40px;
    width: 118px;
    border-radius: var(--br-xs);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.delete-button:hover{
    text-decoration: none;
    background-color: #6B000C;
}

.cancel-button {
    cursor: pointer;
    margin: auto;
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: #a6a4a4;
    height: 40px;
    width: 118px;
    border-radius: var(--br-xs);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.cancel-button:hover{
    text-decoration: none;
    background-color: #818181;
}

.warning-button {
    cursor: pointer;
    margin: auto;
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: #FEC400;
    color: #100F0F;
    height: 40px;
    width: 105px;
    border-radius: var(--br-xs);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.warning-button:hover{
    text-decoration: none;
    background-color: #CD8609;
}

.primary-large-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: var(--green-green-1);
    flex: 1;
    border-radius: var(--br-xs);
    flex-direction: row;
    box-sizing: border-box;
    gap: 0 8px;
    max-width: 300px;
    min-height: 50px;
    white-space: nowrap;
}

.primary-large-button:hover {
    background-color: #163c3f;
    color: white;
}

.fluentadd-16-filled-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.tambah-template {
    width: 138px;
    position: relative;
    font-size: var(--body-b2-size);
    font-weight: 600;
    font-family: var(--heading-h4);
    color: var(--white-white-1);
    text-align: center;
}

.primary-large-button,
.tambah-template {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-input {
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: var(--green-green-1);
    color: white;
    border: none;
    border-radius: var(--br-xs);
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    gap: 0 8px;
    width: 200px;
    min-height: 50px;
    text-align: center;
    text-decoration: none;
}

.button-input:hover {
    text-decoration: none;
    background-color: #163c3f;
    color: white;
}

.lihat-permintaan-template {
    flex: 1;
    position: relative;
    font-size: var(--body-b2-size);
    font-weight: 600;
    font-family: var(--heading-h4);
    color: var(--green-green-1);
    text-align: center;
}

.primary-large-outline-button {
    cursor: pointer;
    border: 2px solid var(--green-green-1);
    padding: var(--padding-5xs) 22px;
    background-color: transparent;
    flex: 1;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    min-height: 50px;
}

.primary-large-outline-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid #163c3f;
}

.primary-long-button {
    position: relative;
    font-weight: 600;
    border-radius: 12px;
    background-color: #0f7454;
    width: 1010px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    color: #fffffe;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    border: none;
    text-decoration: none;
}

.primary-long-button:hover {
    background-color: #163c3f;
    box-shadow: none;
    text-decoration: none;
    color: #fffffe;
}

.action-buttons {
    position: relative;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: none;
    border: none;
}

.outline-long-button {
    position: relative;
    font-weight: 600;
    border-radius: 12px;
    background-color: transparent;
    width: 1010px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    border: 2px solid var(--green-green-1);
    color: var(--green-green-1);
    text-decoration: none;
    margin-top: 20px;
}

.outline-long-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid #163c3f;
    color: #163c3f;
    text-decoration: none;
}