.daftar-template-surat-child {
  width: 355.4px;
  height: 330.5px;
  position: absolute;
  margin: 0 !important;
  top: -20px;
  right: -69.4px;
  object-fit: contain;
  z-index: 1;
}

.ajukan-surat-item {
  position: absolute;
  margin: 0 !important;
  top: 58px;
  left: -61px;
  width: 355.4px;
  height: 330.5px;
  object-fit: contain;
  z-index: 1;
}

.wrapper-group-8-child {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.31);
}

.wrapper-group-8 {
  height: 39px;
  width: 30.6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.beranda {
  flex: 1;
  position: relative;
}

.request-frame {
  width: 88px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}

.request-surat {
  flex: 1;
  position: relative;
  white-space: nowrap;
}

.request-frame1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}

.arsip-surat {
  flex: 1;
  position: relative;
  white-space: nowrap;
}

.iconoutlinechevron-down {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.arsip-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: 0 10px;
}

.template-surat {
  flex: 1;
  position: relative;
  white-space: nowrap;
}

.request-frame2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}

.faq {
  flex: 1;
  position: relative;
}

.beranda-frame,
.request-frame3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.request-frame3 {
  width: 52px;
  align-items: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}

.beranda-frame {
  width: 719.6px;
  align-items: center;
  gap: 0 26px;
  max-width: 100%;
}

.navbar-child {
  height: 64px;
  width: 1322px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 0.05),
    rgba(245, 245, 245, 0.05)
  );
  backdrop-filter: blur(40px);
  display: none;
  max-width: 100%;
  z-index: 2;
}

.admin {
  flex: 1;
  position: relative;
  font-weight: 600;
}

.iconoutlinechevron-down1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.button {
  height: 40px;
  border-radius: var(--br-xs);
  background-color: var(--green-green-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  gap: 0 8px;
}

.admin-text,
.button {
  flex: 1;
  justify-content: center;
}

.admin-text,
.button-frame,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-frame {
  width: 127px;
  justify-content: flex-start;
  color: var(--white-white-1);
}

.gaji-detail-frame-child {
  margin-left: -104px;
  height: 117.2px;
  width: 369px;
  position: relative;
  max-width: 100%;
}

.daftar {
  background: linear-gradient(
    180deg,
    #bce8a4,
    #abdfa7 28.5%,
    #80c9ae 66.5%,
    #5cb7b3
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.daftar-template-surat-container {
  margin: 0;
  height: 57px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1px;
}

.search-icon {
  height: 24px;
  width: 24px;
  position: relative;
}

.button1,
.ketik-kata-kunci {
  display: flex;
  align-items: center;
}

.ketik-kata-kunci {
  width: 330px;
  border: 0;
  outline: 0;
  font-family: var(--heading-h4);
  font-size: var(--body-b2-size);
  background-color: transparent;
  height: 19px;
  position: relative;
  color: var(--black-black-2);
  text-align: center;
  justify-content: center;
  max-width: calc(100% - 32px);
  padding: 0;
}

.button1 {
  align-self: stretch;
  height: 48px;
  border-radius: var(--br-xs);
  background-color: var(--white-white-1);
  border: 2px solid var(--green-green-1);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xl);
  gap: 0 8px;
  max-width: 100%;
}

/* p */
.keuangan-frame,
.search-bar,
.template-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}

.search-bar,
.template-list {
  flex-direction: column;
  align-items: center;
  gap: 24px 0;
  max-width: 100%;
}

.template-list {
  gap: 41px 0;
}

.gaji-detail-frame,
.keuangan-template,
.r-t-x-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.gaji-detail-frame,
.keuangan-template {
  flex-direction: row;
}

.gaji-detail-frame {
  width: 986px;
  gap: 0 189px;
}

.keuangan-template {
  align-self: stretch;
}

.keuangan {
  margin: 0;
  max-width: 80%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: left;
}

.template-ini-digunakan {
  align-self: stretch;
  position: relative;
  font-size: var(--body-b2-size);
}

.f-a-q {
  width: 391px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.lets-iconsview-alt {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.button5 {
  flex: 1;
  position: relative;
  font-size: var(--body-b2-size);
  font-weight: 600;
  font-family: var(--heading-h4);
  color: var(--white-white-1);
  text-align: center;
}

.button4 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--green-green-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  gap: 0 8px;
}

.button4:hover {
  background-color: #253237;
}

.template-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.template-info p {
  font-weight: 200;
}

.button-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 126px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 10px;
  text-decoration: none;
}

.template-surat1 {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: var(--br-xs);
  background-color: var(--green-green-4);
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  width: 744px;
  gap: var(--gap-xl);
}

.keuangan1 {
  margin: 0;
  width: 118px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-ini-digunakan1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-b2-size);
}

.keuangan-parent {
  width: 391px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px 0;
  max-width: 100%;
}

.lets-iconsview-alt1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.button7 {
  flex: 1;
  position: relative;
  font-size: var(--body-b2-size);
  font-weight: 600;
  font-family: var(--heading-h4);
  color: var(--white-white-1);
  text-align: center;
}

.button6 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--green-green-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  gap: 0 8px;
}

.button-wrapper,
.template-surat2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.button-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 126px;
  justify-content: flex-start;
}

.template-surat2 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--green-green-4);
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}

.keuangan2 {
  margin: 0;
  width: 118px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-ini-digunakan2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-b2-size);
}

.keuangan-group {
  width: 391px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px 0;
  max-width: 100%;
}

.lets-iconsview-alt2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.button9 {
  flex: 1;
  position: relative;
  font-size: var(--body-b2-size);
  font-weight: 600;
  font-family: var(--heading-h4);
  color: var(--white-white-1);
  text-align: center;
}

.button-container,
.button8 {
  display: flex;
  flex-direction: row;
}

.button8 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--green-green-1);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  gap: 0 8px;
}

.button-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 126px;
  align-items: flex-start;
  justify-content: flex-start;
}
/* pertahankan */
.request-surat1,
.template-surat3 {
  align-items: flex-start;
  box-sizing: border-box;
}

.template-surat3 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--green-green-4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
/* pertahankan */
.request-surat1 {
  width: 764px;
  padding: 0 0 0 var(--padding-xl);
  gap: 20px 0;
  font-size: var(--heading-h4-size);
}
/* pertahankan */
.keuangan-template-frame,
.request-surat1,
.template-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}

.keuangan-template-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 47px 0;
  margin: auto;
}

.template-frame {
  align-self: stretch;
  align-items: flex-start;
  gap: 37px 0;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--green-green-5);
  font-family: var(--heading-h4);
}

.daftar-template-surat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.daftar-template-surat {
  padding-top: 50px;
  width: 100%;
  position: relative;
  background-color: var(--white-white-1);
  overflow: hidden;
  gap: 204px 0;
  letter-spacing: normal;
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-37xl);
    box-sizing: border-box;
  }
  .gaji-detail-frame-child,
  .r-t-x-footer {
    flex: 1;
  }
  .gaji-detail-frame {
    flex-wrap: wrap;
    gap: 0 94px;
  }
}