.wrapper-group-8-child {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.31);
}
.wrapper-group-8 {
  height: 39px;
  width: 30.6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.beranda {
  flex: 1;
  position: relative;
}
.sub-frame {
  width: 88px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.request-surat {
  flex: 1;
  position: relative;
}
.sub-frame1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  min-width: 88px;
}
.arsip-surat {
  flex: 1;
  position: relative;
}
.iconoutlinechevron-down {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.i-d-input {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: 0 10px;
  min-width: 93px;
}
.template-surat {
  flex: 1;
  position: relative;
}
.sub-frame2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  min-width: 93px;
}
.faq {
  flex: 1;
  position: relative;
}
.frames-group,
.sub-frame3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sub-frame3 {
  width: 52px;
  align-items: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frames-group {
  width: 719.6px;
  align-items: center;
  gap: 0 26px;
  max-width: 100%;
}
.navbar-child {
  height: 64px;
  width: 1322px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 0.05),
    rgba(245, 245, 245, 0.05)
  );
  backdrop-filter: blur(40px);
  display: none;
  max-width: 100%;
  z-index: 2;
}
.admin {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.iconoutlinechevron-down1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  height: 40px;
  border-radius: var(--br-xs);
  background-color: var(--green-green-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 24px;
  box-sizing: border-box;
  gap: 0 8px;
}
.button,
.request-frame {
  flex: 1;
  justify-content: center;
}
.beranda-frame,
.navbar,
.request-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.beranda-frame {
  width: 127px;
  justify-content: flex-start;
  color: var(--white-white-1);
}
.navbar {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--green-green-4);
  justify-content: space-between;
  padding: 12.5px 112px;
  box-sizing: border-box;
  gap: -831.61px;
  max-width: 100%;
}
.input-surat-child {
  width: 355.4px;
  height: 330.5px;
  position: absolute;
  margin: 0 !important;
  top: -20px;
  right: -69.4px;
  object-fit: contain;
  z-index: 1;
}
.file-input-field-child {
  height: 117.2px;
  width: 369px;
  position: absolute;
  margin: 0 !important;
  top: -52px;
  left: -227px;
}
.input {
  background: linear-gradient(
    180deg,
    #bce8a4,
    #abdfa7 28.5%,
    #80c9ae 66.5%,
    #5cb7b3
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.input-surat-masuk-container1 {
  width: 100%;
}
.input-surat-masuk-container {
  margin: 0;
  width: 439px;
  height: 57px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.id-surat {
  position: relative;
  font-weight: 600;
}
.i-d-surat {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.ku001 {
  position: relative;
  font-weight: 600;
}
.i-d-info-fields,
.keuangan {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.keuangan {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.jenis-surat {
  position: relative;
  font-weight: 600;
}
.jenis-surat-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.keuangan1 {
  position: relative;
  font-weight: 600;
}
.i-d-info-fields1,
.keuangan-wrapper {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.keuangan-wrapper {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields1 {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.nomor-surat {
  position: relative;
  font-weight: 600;
}
.nomor-surat-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.itsiii2023 {
  position: relative;
  font-weight: 600;
}
.i-d-info-fields2,
.itsiii2023-wrapper {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.itsiii2023-wrapper {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields2 {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.pengirim {
  position: relative;
  font-weight: 600;
}
.pengirim-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.rektor-universitas-andalas {
  position: relative;
  font-weight: 600;
}
.i-d-info-fields3,
.rektor-universitas-andalas-wrapper {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.rektor-universitas-andalas-wrapper {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields3 {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.bentuk-surat {
  position: relative;
  font-weight: 600;
}
.bentuk-surat-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.soft-copy {
  position: relative;
  font-weight: 600;
}
.i-d-info-fields4,
.soft-copy-wrapper {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.soft-copy-wrapper {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields4 {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.keperluan {
  position: relative;
  font-weight: 600;
}
.keperluan-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.undangan-makan-malam {
  position: relative;
  font-weight: 600;
}
.i-d-info-fields5,
.undangan-makan-malam-dies-nata-wrapper {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.undangan-makan-malam-dies-nata-wrapper {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields5 {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.tanggal-surat-masuk {
  position: relative;
  font-weight: 600;
}
.tanggal-surat-masuk-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--green-green-3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.agustus-2022 {
  position: relative;
  font-weight: 600;
}
.agustus-2022-wrapper,
.i-d-info-fields6 {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.agustus-2022-wrapper {
  align-self: stretch;
  border: 1px solid var(--green-green-4);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  max-width: 100%;
  color: var(--green-green-5);
}
.i-d-info-fields6 {
  width: 1198px;
  border: 2px solid var(--green-green-4);
  align-items: flex-start;
}
.copyright-frame {
  width: 1194px;
  height: 356px;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px 0;
  text-align: left;
  font-size: var(--body-b2-size);
  color: var(--primary-white-1);
}
.copyright-frame,
.file-input-field,
.footer-developed-by {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-developed-by {
  flex-direction: column;
  align-items: center;
  gap: 85px 0;
  z-index: 2;
}
.file-input-field {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.label {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.secondary-message {
  width: 616.8px;
  height: 38px;
  position: relative;
  font-size: var(--font-size-6xl-2);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-inter);
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.group-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 17px;
  transform: scale(2.001);
}
.wrapper-group {
  position: absolute;
  top: 0;
  left: 52.1px;
  width: 69px;
  height: 80.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.k-u-label-child,
.k-u-label-item {
  position: absolute;
  top: 66px;
  left: 0;
  width: 220.1px;
  height: 116px;
  z-index: 1;
}
.k-u-label-item {
  top: 18px;
  left: 103.1px;
  width: 169.1px;
  height: 165.8px;
  object-fit: contain;
  z-index: 2;
}
.k-u-label {
  height: 183.8px;
  width: 272.2px;
  position: relative;
}
.upload-illustration-child {
  height: 337.2px;
  width: 334.4px;
  position: absolute;
  margin: 0 !important;
  bottom: -52.4px;
  left: -121.5px;
  object-fit: contain;
  z-index: 3;
}
.link-label,
.upload-illustration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.upload-illustration {
  width: 314.7px;
  justify-content: flex-end;
  padding: 32.600000000000364px 0 35.399999999999636px;
  box-sizing: border-box;
  position: relative;
}
.link-label {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.file-kamu-di {
  color: var(--green-green-5);
}
.upload-file-kamu-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.link-label-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px 0;
}
.keperluan1 {
  align-self: stretch;
  height: 6.3px;
  position: relative;
  border-radius: 3.15px;
  background-color: var(--green-green-5);
}
.keperluan-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.800000000000182px 0 0;
  box-sizing: border-box;
  min-width: 174px;
}
.keperluan2 {
  align-self: stretch;
  height: 6.3px;
  position: relative;
  border-radius: 3.15px;
  background-color: var(--green-green-5);
}
.keperluan-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.800000000000182px 0 0;
  box-sizing: border-box;
  min-width: 174px;
}
.atau {
  margin: 0;
  width: 51px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-input1,
.footercontent {
  display: flex;
  align-items: flex-start;
}
.footercontent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 15.7px;
  color: var(--color-gray-100);
}
.file-input1 {
  width: 616.8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 29.9px 0;
  max-width: 100%;
  color: var(--green-green-2);
}
.cantumkan-link-google {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.inputfielduploadframe {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 1.6000000000003638px;
  max-width: 100%;
}
.input-field,
.input-field-child,
.inputfielduploadframe {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-field-child {
  width: 212px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 38px;
  align-items: flex-start;
  padding: 0 0 0.0999999999994543px;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-6xl-2);
  color: var(--color-gray-100);
}
.input-field {
  flex: 1;
  border-radius: 18.88px;
  border: 3.1px solid var(--green-green-2);
  overflow: hidden;
  align-items: center;
  padding: 18.8817195892334px 50.35125350952149px;
  min-width: 212px;
  max-width: 100%;
}
.save-icon {
  height: 37.8px;
  width: 37.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.body-14pt {
  align-self: stretch;
  width: 82px;
  position: relative;
  line-height: 37.76px;
  font-weight: 600;
  display: none;
  align-items: center;
}
.button1,
.file-uploadbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 12.59px;
}
.button1 {
  border-radius: 18.88px;
  background-color: var(--green-green-1);
  align-items: center;
  padding: 18.8817195892334px 50px;
}
.file-uploadbutton {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl-2);
  color: var(--primary-white-1);
  font-family: var(--font-inter);
}
.downloadlinkframe,
.file-input,
.save-button {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.downloadlinkframe {
  width: 618.4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px 0;
  color: var(--green-green-5);
}
.file-input,
.save-button {
  box-sizing: border-box;
}
.file-input {
  flex: 1;
  border-radius: 37.76px;
  border: 6.3px dashed var(--green-green-2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl) 84.69999999999982px 22px;
  gap: 39.9px 0;
  flex-shrink: 0;
}
.save-button {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 60px 0 66px;
  font-size: var(--heading-h4-size);
  color: var(--color-gray-100);
}
.label-parent {
  width: 1010px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px 0;
}
.label-parent,
.soft-copy-text,
.soft-copy-text-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.soft-copy-text-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--heading-h3-size);
}
.soft-copy-text {
  width: 1194px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 77px 0;
  flex-shrink: 0;
}
.rektor-text,
.simpan {
  display: flex;
  justify-content: center;
}
.rektor-text {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 33.30000000000018px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--green-green-5);
  font-family: var(--heading-h4);
}
.simpan {
  width: 60px;
  position: relative;
  font-weight: 600;
  align-items: center;
}
.button2,
.footerdevelopedbyframe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.button2 {
  width: 1194px;
  border-radius: var(--br-xs);
  background-color: var(--green-green-1);
  padding: 15.5px var(--padding-xl);
}
.footerdevelopedbyframe {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-14xl);
  text-align: center;
  font-size: var(--body-b2-size);
  color: var(--white-white-1);
  font-family: var(--heading-h4);
}
.developed-by-rtx,
.propensi-d02 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.developed-by-rtx {
  align-self: stretch;
}
.propensi-d02 {
  width: 151px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-t-x-teamfooter {
  width: 267px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.in-collaboration-with {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.image-1-icon,
.image-18-icon {
  position: relative;
  object-fit: cover;
}
.image-1-icon {
  height: 117px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.image-18-icon {
  height: 99px;
  width: 95.3px;
}
.image-1-parent,
.incollaborationwith {
  width: 214.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 18px;
}
.incollaborationwith {
  width: 242px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
}
.propensi-dteamframe {
  align-self: stretch;
  background-color: var(--green-green-4);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-21xl) 149px;
  gap: var(--gap-xl);
}
.copyright-2024-tazkia {
  margin: 0;
  width: 656px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer,
.footer-info,
.input-surat {
  display: flex;
  align-items: flex-start;
  text-align: center;
  font-family: var(--heading-h4);
}
.footer-info {
  align-self: stretch;
  background-color: var(--green-green-5);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl);
  font-size: var(--heading-h4-size);
  color: var(--white-white-1);
}
.footer,
.input-surat {
  flex-direction: column;
  justify-content: flex-start;
  color: var(--green-green-5);
}
.footer {
  align-self: stretch;
  font-size: var(--heading-h4-size);
}
.input-surat {
  width: 100%;
  position: relative;
  background-color: var(--white-white-1);
  overflow: hidden;
  gap: 89px 0;
  letter-spacing: normal;
  font-size: var(--body-b2-size);
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-37xl);
    box-sizing: border-box;
  }
  .footer-developed-by {
    gap: 42px 0;
  }
  .soft-copy-text {
    gap: 38px 0;
  }
}
@media screen and (max-width: 1050px) {
  .input-surat-masuk-container {
    font-size: 38px;
  }
  .label {
    font-size: 26px;
  }
  .save-button {
    padding-left: var(--padding-14xl);
    padding-right: 30px;
    box-sizing: border-box;
  }
  .label-parent {
    gap: 30px 0;
  }
  .propensi-dteamframe {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frames-group {
    flex-wrap: wrap;
  }
  .navbar {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .downloadlinkframe,
  .footer-developed-by {
    gap: 21px 0;
  }
  .file-input {
    gap: 20px 0;
    padding-bottom: 55px;
    box-sizing: border-box;
  }
  .soft-copy-text {
    gap: 19px 0;
  }
  .propensi-dteamframe {
    padding-left: var(--padding-55xl);
    padding-right: var(--padding-55xl);
    box-sizing: border-box;
  }
  .input-surat {
    gap: 44px 0;
  }
}
@media screen and (max-width: 450px) {
  .input-surat-masuk-container {
    font-size: 29px;
  }
  .label {
    font-size: var(--font-size-lgi);
  }
  .secondary-message {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .atau,
  .cantumkan-link-google,
  .upload-file-kamu-container {
    font-size: var(--font-size-lgi);
  }
  .input-field {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .body-14pt {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .developed-by-rtx,
  .in-collaboration-with,
  .propensi-d02 {
    font-size: var(--font-size-lgi);
  }
  .propensi-dteamframe {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .copyright-2024-tazkia {
    font-size: var(--font-size-lgi);
  }
  .input-surat {
    gap: 22px 0;
  }
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add border for visual distinction */
  border-radius: 5px; /* Add border-radius for rounded corners */
  background-color: #f9f9f9; /* Add background color */
}

label {
  font-weight: bold; /* Make labels bold for emphasis */
  display: block; /* Ensure labels appear on their own line */
  margin-top: 10px; /* Add margin at the top of each label */
}

input[type="file"],
input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%; /* Make form inputs span the full width of their container */
  padding: 8px; /* Add padding for spacing */
  margin-top: 5px; /* Add margin at the top of each input */
  margin-bottom: 15px; /* Add margin at the bottom of each input */
  border: 1px solid #ccc; /* Add border for visual distinction */
  border-radius: 5px; /* Add border-radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

input[type="submit"] {
  width: 100%; /* Make submit button span the full width of its container */
  padding: 10px; /* Add padding for spacing */
  background-color: #0f7454; /* Add background color */
  color: #fff; /* Add text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #0f7454; /* Darken background color on hover */
}
