body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --heading-h4: Rubik;

  /* font sizes */
  --heading-h4-size: 24px;
  --font-size-lgi: 19px;
  --body-b2-size: 16px;
  --heading-h2-size: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;

  /* Colors */
  --white-white-1: #fffffe;
  --black-black-1: #100f0f;
  --color-gray-100: rgba(16, 15, 15, 0.05);
  --black-black-2: rgba(16, 15, 15, 0.5);
  --green-green-5: #253237;
  --green-green-4: #b1cdb8;
  --color-seagreen-100: #369c7a;
  --green-green-2: #3a8b5a;
  --green-green-1: #0f7454;
  --red-red-1: #990012;

  /* Gaps */
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-xs: 12px;
  --gap-844xs-6: -831.6px;
  --gap-base: 16px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-130xl: 149px;
  --padding-55xl: 74px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-smi-5: 12.5px;
  --padding-93xl: 112px;
  --padding-9xl: 28px;
  --padding-37xl: 56px;
  --padding-3xs: 10px;
  --padding-smi: 13px;
  --padding-10xs-5: 2.5px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
}
