@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

nav {
  position: sticky;
  top: 10px;
  width: calc(100% - 20px);
  height: 70px;
  background: #b1cdb8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  border-radius: 12px;
  margin: 10px 10px;
}

nav .navbar{
  height: 100%;
  padding: 0 50px;
}

.navbar .logo img{
  height: 50%;
  width: 50%;
}

nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}

nav .navbar .links{
  display: flex;
}

nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #253237;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlCss-arrow,
.links li:hover .js-arrow,
.htmlCss-sub-menu.show,
.dropdownContent.show {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #253237;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70%;
  background-color: #b1cdb8;
  color: #253237;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2px;
  display: none;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

nav .navbar .links li .sub-menu li {
  border-bottom: none;
  padding: 2px;
  margin: 0;
}

.linehrz {
  margin: 2px 0;
  width: 80%;
  border: none;
  border-top: 1px solid rgba(16, 15, 15, 0.2);
}

nav .navbar .links li .sub-menu a {
  color: #253237;
  font-size: 15px;
  font-weight: 500;
  display: block;
  text-decoration: none;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}

.navbar .bx-menu{
  display: none;
}

.iconoutlinechevronDown {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.buttonUser {
  min-width: 152px;
  border-radius: 12px;
  background-color: #0f7454;
  height: 40px;
  justify-content: center;
  padding: 8px 24px;
  box-sizing: border-box;
  gap: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.arsip,
.berandaWrapper, 
.buttonUser,
.buttonWrapper,
.navbarAdmin,
.navbarLoggedInInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarLoggedInInner {
  margin-left: auto;
}

.buttonWrapper {
  position: relative;
  height: 40px;
  justify-content: center;
}

.navbarAdmin,
.navbarLoggedInInner {
  justify-content: flex-start;
  color: #fffffe;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #b1cdb8;
  color: #253237;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 20px;
  border-radius: 12px;
  right: 0;
  left: auto;
  width: 152px;
}

.buttonWrapper:hover .dropdownContent {
  display: block;
  margin-top: 20px;
}

.dropdownContent a {
  color: #253237;
  text-decoration: none;
}

.iconTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile,
.logout {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.horizontalLine {
  border: 1px solid rgba(16, 15, 15, 0.2);
  margin: 12px 0;
}
  
.htmlCss-sub-menu.show,
.dropdownContent.show {
  display: block !important;
}

/* @media (max-width: 1100px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  .navbar .bx-menu{
    display: block;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
} */

@media (max-width:1100px){
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #b1cdb8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}