/* Tabs status */
.tabs-group {
    width: 80%;
    height: 56px;
    margin: 20px auto 0;
    display: flex;
    box-sizing: border-box;
    border-radius: var(--br-31xl);
    border: 4px solid var(--green-green-3);
    background-color: var(--green-green-5);
    font-weight: 600;
}

.tabs-group .tab-link {
    flex: 1;
    gap: 0 8px;
    width: auto;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--white-white-1);
    padding: var(--padding-3xs) var(--padding-13xl);
}

.tab-link:hover {
    color: var(--white-white-1);
    text-decoration: none;
}

.tabs-group .tab-link.active {
    background-color: var(--green-green-1);
    border-radius: var(--br-31xl);
    color: var(--white-white-1);
    flex-direction: row;
    box-sizing: border-box;
}

.tabs-group .tab-link.active {
    color: var(--white-white-1);
    text-decoration: none;
}

.tab-pane {
    max-width: 90%;
    display: none; 
}

.tab-pane.active {
    max-width: 90%;
    display: flex; 
    margin: 20px auto 0;
}

/* Tabel */
.table thead {
    background-color: var(--green-green-2);
    color: #fff;
    text-align: center;
}

.table tbody td {
    text-align: center;
}

table.table tbody tr {
    background-color: #ffffff;
}

.table-button {
    color: var(--white-white-1);
    display: flex;
    margin-inline: 3px;
    flex-direction: row;
    padding: var(--padding-5xs);
    border-radius: var(--br-xs);
    justify-content: center;
}

.table-button:hover {
    color: var(--white-white-1);
    background-color: var(--green-green-2);
    text-decoration: none;
}

/* Search button */
.search-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}