/* Tabs status */
.tabs-group {
    width: 80%;
    height: 56px;
    margin: 30px auto 0;
    display: flex;
    box-sizing: border-box;
    border-radius: var(--br-31xl);
    border: 4px solid var(--green-green-3);
    background-color: var(--green-green-5);
    font-weight: 600;
}

.tabs-group .tab-link {
    flex: 1;
    gap: 0 8px;
    width: auto;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--white-white-1);
    padding: var(--padding-3xs) var(--padding-13xl);
}

.tab-link:hover {
    color: var(--white-white-1);
    text-decoration: none;
}

.tabs-group .tab-link.active {
    background-color: var(--green-green-1);
    border-radius: var(--br-31xl);
    color: var(--white-white-1);
    flex-direction: row;
    box-sizing: border-box;
}

.tabs-group .tab-link.active {
    color: var(--white-white-1);
    text-decoration: none;
}

.tab-pane {
    max-width: 90%;
    display: none; 
}

.tab-pane.active {
    max-width: 90%;
    display: flex; 
    margin: 20px auto 0;
}

/* Tabel */
.table thead {
    background-color: var(--green-green-2) !important;
    color: #fff !important;
    text-align: center;
}

.table thead th {
    background-color: var(--green-green-2) !important;
    color: #fff !important;
}

.table tbody td {
    text-align: center;
}

table.table tbody tr {
    background-color: #ffffff;
}

.table-button {
    color: var(--white-white-1);
    display: flex;
    margin-inline: 3px;
    flex-direction: row;
    padding: var(--padding-5xs);
    border-radius: var(--br-xs);
    justify-content: center;
}

.table-button:hover {
    color: var(--white-white-1);
    background-color: var(--green-green-2);
    text-decoration: none;
}

.table-container {
    width: 100%;
}

#diajukan-table, #dibatalkan-table, #ditolak-table, #diproses-table, #selesai-table,
#adminAll, #adminDiajukan, #adminDibatalkan, #adminDitolak, #adminDiproses, #adminSelesai,
#request-ttd, #arsip-ttd,
#dieskalasiPeng, #terjawabPeng,
#belumDijawabAdm, #dieskalasiAdm, #terjawabAdm, #dihapusAdm,
#daftar-template, #suratkeluar,
#semuaMasuk, #diarsipkanMasuk, #folupMasuk, #disposisiMasuk,
#semuaTemplate, #diajukanTemplate, #diterimaTemplate, #ditolakTemplate {
    border-collapse: collapse;
    width: 100%;
}

#diajukan-table th, #diajukan-table td,
#dibatalkan-table th, #dibatalkan-table td,
#ditolak-table th, #ditolak-table td,
#diproses-table th, #diproses-table td,
#selesai-table th, #selesai-table td,
#adminAll th, #adminAll td,
#adminDiajukan th, #adminDiajukan td,
#adminDibatalkan th, #adminDibatalkan td,
#adminDitolak th, #adminDitolak td,
#adminDiproses th, #adminDiproses td,
#adminSelesai th, #adminSelesai td,
#request-ttd th, #request-ttd td,
#arsip-ttd th, #arsip-ttd td,
#dieskalasiPeng th, #dieskalasiPeng td,
#terjawabPeng th, #terjawabPeng td,
#belumDijawabAdm th, #belumDijawabAdm td,
#dieskalasiAdm th, #dieskalasiAdm td,
#terjawabAdm th, #terjawabAdm td,
#dihapusAdm th, #dihapusAdm td,
#daftar-template th, #daftar-template td,
#semuaMasuk th, #semuaMasuk td,
#diarsipkanMasuk th, #diarsipkanMasuk td,
#folupMasuk th, #folupMasuk td,
#disposisiMasuk th, #disposisiMasuk td,
#suratkeluar th, #suratkeluar td,
#semuaTemplate th, #semuaTemplate td,
#diajukanTemplate th, #diajukanTemplate td,
#diterimaTemplate th, #diterimaTemplate td,
#ditolakTemplate th, #ditolakTemplate td {
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
}