@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  mar
}

.developedByRtx,
.propensiD02 {
  position: relative;
  white-space: nowrap;
}

.devTeamFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px 0;
  gap: 12px 0;
}

.inCollaborationWith {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
}

.fasilkomIcon,
.tazkiaIcon {
  position: relative;
  object-fit: cover;
}

.tazkiaIcon {
  height: 50px;
  width: 50px;
  height: 50px;
  width: 50px;
}

.fasilkomIcon {
  height: 50px;
  width: 50px;
  height: 50px;
  width: 50px;
}

.fasilkomRectangle {
  width: 214px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 18px;
}

.collaboratorFrames,
.frameRoot {
  display: flex;
  align-items: flex-start;
}

.collaboratorFrames {
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px 0;
  gap: 12px 0;
}

.frameRoot {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-self: stretch;
  background-color: #b1cdb8;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 60px;
  padding: 30px 60px;
  text-align: center;
  font-size: 14px;
  font-size: 14px;
  color: #253237;
  font-family: Rubik;
}

.copyright2024Tazkia {
  position: relative;
}

.footerCopyright {
  align-self: stretch;
  background-color: #253237;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  font-size: 12px;
  color: #fffffe;
  font-family: Rubik;
}

.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
  /* margin-top: auto; */
  /* margin-top: auto; */
}

@media only screen and (max-width: 1100px) {
  .developedByRtx,
  .propensiD02 {
    position: relative;
  }

  .devTeamFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px 0;
  }

  .inCollaborationWith {
    position: relative;
    font-weight: 600;
  }

  .fasilkomIcon,
  .tazkiaIcon {
    position: relative;
    object-fit: cover;
  }

  .tazkiaIcon {
    height: 117px;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
  }

  .fasilkomIcon {
    height: 99px;
    width: 95.3px;
  }

  .collaboratorFrames,
  .fasilkomRectangle,
  .frameRoot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .fasilkomRectangle {
    align-self: stretch;
    flex-direction: row;
    gap: 0 18px;
  }

  .collaboratorFrames,
  .frameRoot {
    flex-direction: column;
  }

  .collaboratorFrames {
    width: 214px;
    gap: 10px 0;
  }

  .frameRoot {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: stretch;
    background-color: #b1cdb8;
    overflow: hidden;
    padding: 40px 20px;
    gap: 40px 0;
    text-align: center;
    font-size: 16px;
    color: #253237;
    font-family: Rubik;
  }

  .allRightsReserved,
  .copyright2024Tazkia {
    margin: 0;
  }
  
  .footerCopyright {
    align-self: stretch;
    background-color: #253237;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    color: #fffffe;
    font-family: Rubik;
    margin-top: auto;
  }

}