.permintaan-template {
  padding-top: 60px;
  padding-bottom: 100px;
}

.main-frame-child {
  height: 117.2px;
  width: 369px;
  position: relative;
  max-width: 100%;
}
.edit {
  background: linear-gradient(
    180deg,
    #bce8a4,
    #abdfa7 28.5%,
    #80c9ae 66.5%,
    #5cb7b3
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.edit-profile {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.edit-profile-text,
.main-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8px 8px;
}
.main-frame {
  margin-left: -104px;
  width: 977px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 48px;
  color: #253237;
  font-family: Rubik;
}
.inner-frame-child {
  height: 330.5px;
  width: 355.4px;
  position: absolute;
  margin: 0 !important;
  top: -312px;
  right: -181.4px;
  object-fit: contain;
}
.button-text-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ubah-foto {
  position: relative;
  font-weight: 600;
}
.bitcoin-iconsedit-filled {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.button1 {
  display: flex;
  align-items: center;
}
.button1 {
  border-radius: 12px;
  flex-direction: row;
  justify-content: center;
  padding: 8px 22px;
  gap: 0 8px;
}
.button {
  height: 460px;
  width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px 0;
  min-width: 400px;
  max-width: 100%;
}
.label {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.placeholder-text,
.text-input,
.text-input1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-text {
  width: 392px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 43px;
  flex-direction: row;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 16px;
  color: rgba(16, 15, 15, 0.5);
}
.text-input,
.text-input1 {
  align-self: stretch;
}
.text-input1 {
  border-radius: 8px;
  background-color: rgba(16, 15, 15, 0.05);
  border: 2px solid #3a8b5a;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
}
.text-input {
  flex-direction: column;
  gap: 16px 0;
}
.label1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.placeholder-text1,
.text-input2,
.text-input3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-text1 {
  width: 392px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 43px;
  flex-direction: row;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 16px;
  color: rgba(16, 15, 15, 0.5);
}
.text-input2,
.text-input3 {
  align-self: stretch;
}
.text-input3 {
  border-radius: 8px;
  background-color: rgba(16, 15, 15, 0.05);
  border: 2px solid #3a8b5a;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
}
.text-input2 {
  flex-direction: column;
  gap: 16px 0;
}
.label2 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.placeholder-text2,
.text-input4,
.text-input5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-text2 {
  width: 392px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 43px;
  flex-direction: row;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 16px;
  color: rgba(16, 15, 15, 0.5);
}
.text-input4,
.text-input5 {
  align-self: stretch;
}
.text-input5 {
  border-radius: 8px;
  background-color: rgba(16, 15, 15, 0.05);
  border: 2px solid #3a8b5a;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
}
.text-input4 {
  flex-direction: column;
  gap: 16px 0;
}
.label3 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.placeholder-text3,
.text-input6,
.text-input7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-text3 {
  width: 392px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 43px;
  flex-direction: row;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 16px;
  color: rgba(16, 15, 15, 0.5);
}
.text-input6,
.text-input7 {
  align-self: stretch;
}
.text-input7 {
  border-radius: 8px;
  background-color: rgba(16, 15, 15, 0.05);
  border: 2px solid #3a8b5a;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
}
.text-input6 {
  flex-direction: column;
  gap: 16px 0;
}
.label4 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.placeholder-text4,
.text-input8,
.text-input9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-text4 {
  width: 392px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 43px;
  flex-direction: row;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 16px;
  color: rgba(16, 15, 15, 0.5);
}
.text-input8,
.text-input9 {
  align-self: stretch;
}
.text-input9 {
  border-radius: 8px;
  border: 2px solid #3a8b5a;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
}
.text-input8 {
  flex-direction: column;
  gap: 16px 0;
}
.label5 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.placeholder {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.placeholder-text5,
.text-input11 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-text5 {
  width: 392px;
  padding: 12px 20px;
}
.text-input11 {
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid #3a8b5a;
  overflow: hidden;
  color: rgba(16, 15, 15, 0.5);
}
.text-input10 {
  align-self: stretch;
  flex-direction: column;
  gap: 16px 0;
}
.ellipse-shape,
.text-input-frame,
.text-input10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.text-input-frame {
  flex: 1;
  flex-direction: column;
  gap: 25px 0;
  min-width: 469px;
  text-align: left;
}
.ellipse-shape {
  align-self: stretch;
  flex-direction: row;
  gap: 0 95px;
}
.simpan-perubahan {
  position: relative;
  font-weight: 600;
}
.button2 {
  align-self: stretch;
  height: 50px;
  border-radius: 12px;
  background-color: #0f7454;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  box-sizing: border-box;
  color: #fffffe;
}
.ellipse-shape-parent,
.inner-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ellipse-shape-parent {
  flex: 1;
  flex-direction: column;
  gap: 100px 0;
  z-index: 1;
}
.inner-frame {
  width: 1216px;
  flex-direction: row;
  position: relative;
}
.button-frame,
.profile {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.button-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #100f0f;
  font-family: Rubik;
}
.profile {
  width: 100%;
  position: relative;
  background-color: #fffffe;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 102px 0 426px;
  gap: 73px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .button {
    flex: 1;
  }
  .ellipse-shape {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .edit-profile {
    font-size: 38px;
  }
  .profile {
    gap: 36px 0;
  }
}
@media screen and (max-width: 725px) {
  .main-frame {
    flex-wrap: wrap;
  }
  .button,
  .text-input-frame {
    min-width: 100%;
  }
  .ellipse-shape {
    gap: 0 47px;
  }
  .ellipse-shape-parent {
    gap: 50px 0;
  }
}
@media screen and (max-width: 450px) {
  .edit-profile {
    font-size: 29px;
  }
  .ellipse-shape {
    gap: 0 24px;
  }
  .ellipse-shape-parent {
    gap: 25px 0;
  }
  .profile {
    gap: 18px 0;
  }
}
