
    <div style="left: 112px; top: 396px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 55px; display: inline-flex">
      <div style="width: 859px; height: 56px; background: #253237; border-radius: 50px; border: 4px #459A7D solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; height: 56px; padding-left: 32px; padding-right: 32px; padding-top: 10px; padding-bottom: 10px; background: #0F7454; border-radius: 50px; justify-content: center; align-items: center; gap: 12px; display: flex">
          <div style="color: #FFFFFE; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Diterima</div>
        </div>
        <div style="flex: 1 1 0; height: 56px; padding-left: 32px; padding-right: 32px; padding-top: 10px; padding-bottom: 10px; border-radius: 50px; justify-content: center; align-items: center; gap: 12px; display: flex">
          <div style="color: #FFFFFE; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Follow Up</div>
        </div>
        <div style="flex: 1 1 0; height: 56px; padding-left: 32px; padding-right: 32px; padding-top: 10px; padding-bottom: 10px; border-radius: 50px; justify-content: center; align-items: center; gap: 12px; display: flex">
          <div style="color: #FFFFFE; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Disposisi</div>
        </div>
      </div>
      <div style="justify-content: flex-start; align-items: flex-start; gap: 462px; display: inline-flex">
        <div style="width: 392px; height: 48px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; border-radius: 12px; border: 2px #0F7454 solid; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div style="width: 24px; height: 24px; position: relative">
            <div style="width: 19.01px; height: 19.01px; left: 2.01px; top: 1.95px; position: absolute; background: #3A8B5A"></div>
          </div>
          <div style="text-align: center; color: rgba(16, 15, 15, 0.50); font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Keuangan</div>
        </div>
        <div style="justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div style="width: 223px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; border-radius: 12px; border: 2px #0F7454 solid; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="width: 24px; height: 24px; position: relative">
              <div style="width: 12px; height: 6px; left: 6px; top: 12px; position: absolute; background: #0F7454"></div>
              <div style="width: 21.50px; height: 21px; left: 1.25px; top: 1.75px; position: absolute; background: #0F7454"></div>
            </div>
            <div style="text-align: center; color: #0F7454; font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Periode 2021/2022</div>
          </div>
          <div style="width: 127px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; border-radius: 12px; border: 2px #0F7454 solid; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="width: 24px; height: 24px; position: relative">
              <div style="width: 20px; height: 14px; left: 2px; top: 4px; position: absolute; background: #0F7454"></div>
            </div>
            <div style="text-align: center; color: #0F7454; font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Filters</div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 50px; left: 113px; top: 591px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 1px; display: inline-flex">
      <div style="width: 160px; height: 50px; padding-left: 40px; padding-right: 40px; padding-top: 8px; padding-bottom: 8px; background: #3A8B5A; border-top-left-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: white; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Nomor Arsip</div>
      </div>
      <div style="width: 210px; height: 50px; padding-left: 40px; padding-right: 40px; padding-top: 8px; padding-bottom: 8px; background: #3A8B5A; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: white; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Kategori</div>
      </div>
      <div style="width: 210px; height: 50px; padding-left: 40px; padding-right: 40px; padding-top: 8px; padding-bottom: 8px; background: #3A8B5A; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: white; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Judul</div>
      </div>
      <div style="width: 210px; height: 50px; padding-left: 40px; padding-right: 40px; padding-top: 8px; padding-bottom: 8px; background: #3A8B5A; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: white; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Pengirim</div>
      </div>
      <div style="width: 210px; height: 50px; padding-left: 40px; padding-right: 40px; padding-top: 8px; padding-bottom: 8px; background: #3A8B5A; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: white; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Tanggal Dibuat</div>
      </div>
      <div style="width: 210px; height: 50px; padding-left: 40px; padding-right: 40px; padding-top: 8px; padding-bottom: 8px; background: #3A8B5A; border-top-left-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: white; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Action</div>
      </div>
    </div>
    <div style="left: 113px; top: 653px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: flex-start; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="width: 160px; height: 64px; padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; border: 2px #3A8B5A solid; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="color: #100F0F; font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">KU001</div>
        </div>
        <div style="width: 210px; height: 64px; padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; border-top: 2px #3A8B5A solid; border-bottom: 2px #3A8B5A solid; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="color: #100F0F; font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Keuangan</div>
        </div>
        <div style="width: 210px; height: 64px; padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; border-left: 2px #3A8B5A solid; border-top: 2px #3A8B5A solid; border-bottom: 2px #3A8B5A solid; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="color: #253237; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">08.006/ITS/III/2023</div>
        </div>
        <div style="width: 210px; height: 64px; padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; border-left: 2px #3A8B5A solid; border-top: 2px #3A8B5A solid; border-bottom: 2px #3A8B5A solid; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="width: 180px; text-align: center; color: #100F0F; font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Rektor Universitas Andalas</div>
        </div>
        <div style="width: 210px; height: 64px; padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; border-left: 2px #3A8B5A solid; border-top: 2px #3A8B5A solid; border-bottom: 2px #3A8B5A solid; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="color: #100F0F; font-size: 16px; font-family: Rubik; font-weight: 400; word-wrap: break-word">8 Agustus 2022</div>
        </div>
        <div style="width: 210px; height: 64px; padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; border: 2px #3A8B5A solid; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="width: 94px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #0F7454; border-radius: 12px; justify-content: center; align-items: center; gap: 10px; display: flex">
            <div style="text-align: center; color: #FFFFFE; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Detail</div>
          </div>
        </div>
      </div>
      
    <div style="height: 50px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 635px; top: 296px; position: absolute; background: #0F7454; border-radius: 12px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div style="width: 17.25px; height: 17.25px; left: 3px; top: 3px; position: absolute; background: #FFFFFE"></div>
      </div>
      <div style="text-align: center; color: #FFFFFE; font-size: 16px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Input Surat</div>
    </div>
  </div>