<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-LdG/VIBk5lH/5GjtuZW9jpjqQuSc5O+Z4e8C8Ad+MlI3yd4fPnYNkIPLsGyOxPk4"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/add-template.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/request-surat.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  </head>
  <body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>
    <div class="tambah-template2">
      <div class="home-frame">
        <b class="pengajuan-permohonan-surat-container">
          <span class="pengajuan">Tambah</span>
          <span> Template</span>
        </b>
        <nav th:replace="~{fragments/asset :: asset}"></nav>
      </div>
      <div class="attach-button">
        <div class="label-input-frame">
          <div class="label-frame">
            <form
              action="/template/new-template"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="text-input-frame">
                <label for="requestTemplate" class="label9">Request Template:</label>
                <select class="text-input14" id="requestTemplate" name="requestTemplate" onchange="updateKategori()">
                  <option value="" class="pilih-request-template">-- Pilih Request Template --</option>
                  <option th:each="requestTemplate : ${requestTemplates}"
                          th:value="${requestTemplate.id}"
                          th:data-kategori="${requestTemplate.kategori}"
                          th:text="${requestTemplate.id}"></option>
                </select>
              </div>
              <div class="text-input-frame">
                <div class="label9">Nama Template</div>
                <input
                  class="text-input14"
                  type="text"
                  id="namaTemplate"
                  name="namaTemplate"
                  required
                />
              </div>
              <div class="text-input-frame">
                <label for="kategori" class="label9">Kategori:</label>
                <select
                  class="text-input14"
                  id="kategori"
                  name="kategori"
                  required
                >
                  <option value="" class="pilih-kategori">
                    -- Pilih Kategori --
                  </option>
                  <option value="Legal">Legal</option>
                  <option value="SDM">SDM</option>
                  <option value="Keuangan">Keuangan</option>
                  <option value="Sarana">Sarana</option>
                  <option value="Kemahasiswaan">Kemahasiswaan</option>
                </select>
              </div>
              <div class="text-input-frame">
                <label for="listPengguna" class="label9">List Pengguna:</label>
                <div class="radio-parent">
                  <input
                    type="checkbox"
                    id="pengguna1"
                    name="listPengguna"
                    value="Mahasiswa"
                  />
                  <label for="pengguna1">
                    <span class="check"></span>
                    <span class="label-text">Mahasiswa</span>
                  </label>
                </div>
                <div class="radio-parent">
                  <input
                    type="checkbox"
                    id="pengguna2"
                    name="listPengguna"
                    value="Dosen"
                  />
                  <label for="pengguna2">
                    <span class="check"></span>
                    <span class="label-text">Dosen</span>
                  </label>
                </div>
                <div class="radio-parent">
                  <input
                    type="checkbox"
                    id="pengguna3"
                    name="listPengguna"
                    value="Staf"
                  />
                  <label for="pengguna3">
                    <span class="check"></span>
                    <span class="label-text">Staf</span>
                  </label>
                </div>
              </div>
              <div id="fieldsContainer">
                <div class="row-container">
                  <div class="list-field">
                    <label for="listField" class="label9">List Field:</label>
                    <input
                      type="text"
                      class="text-input15 listField"
                      name="listField[]"
                      required
                    />
                  </div>
                  <div class="button-container">
                    <button
                      type="button"
                      class="button15"
                      onclick="addRow()"
                      style="color: #fffffe"
                    >
                      <img
                        class="lets-iconsadd-round2"
                        loading="lazy"
                        alt=""
                        src="/images/plus-icon.svg"
                      />
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 50px">
                <div class="upload-illustration-frame">
                  <div class="file-input">
                    <div class="secondary-message">secondary message</div>
                    <div class="rectangle-frame">
                      <div class="arsip-surat-frame">
                        <div class="button-frame1">
                          <label class="upload-illustration" for="file">
                            <div class="chevrondown-icon">
                              <div class="wrapper-group">
                                <img
                                  class="group-icon"
                                  alt=""
                                  src="/images/imagetengah.png"
                                />
                              </div>
                              <img
                                class="chevrondown-icon-child"
                                alt=""
                                src="/images/upload.svg"
                              />
                              <img
                                class="chevrondown-icon-item"
                                loading="lazy"
                                alt=""
                                src="/images/imagekanan.png"
                              />
                            </div>
                            <img
                              class="upload-illustration-child"
                              alt=""
                              src="/images/imagekiri.png"
                            />
                          </label>
                          <input
                            type="file"
                            class="custom-file-input"
                            id="file"
                            name="file"
                            required
                          />
                        </div>
                        <h3 class="upload-file-kamu-container">
                          <span>Upload</span>
                          <span class="file-kamu-di">
                            file kamu di sini dalam format .pdf</span
                          >
                        </h3>
                        <span class="file-name"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center action-buttons">
                <button
                  type="submit"
                  onclick="submitForm()"
                  class="primary-long-button"
                >
                  Buat template
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script>
      let listFieldValues = []; // Array to store input values
      document.getElementById("file").addEventListener("change", function () {
        var fileName = this.files[0].name;
        document.querySelector(".file-name").textContent = fileName;
      });

      function updateKategori() {
      const requestTemplateDropdown = document.getElementById("requestTemplate");
      const selectedOption = requestTemplateDropdown.options[requestTemplateDropdown.selectedIndex];
      const kategori = selectedOption.getAttribute("data-kategori");

      const kategoriDropdown = document.getElementById("kategori");

      if (selectedOption.value === "") {
        // Reset kategori to default if requestTemplate is default
        kategoriDropdown.selectedIndex = 0;
      } else {
        // Set kategori based on selected requestTemplate
        for (let i = 0; i < kategoriDropdown.options.length; i++) {
          if (kategoriDropdown.options[i].value === kategori) {
            kategoriDropdown.selectedIndex = i;
            break;
          }
        }
      }
    }

      function addRow() {
        const container = document.getElementById("fieldsContainer");

        const rowContainer = document.createElement("div");
        rowContainer.className = "row-container";

        const listFieldContainer = document.createElement("div");
        listFieldContainer.className = "list-field";

        const input = document.createElement("input");
        input.type = "text";
        input.className = "text-input15 listField";
        input.name = "listField[]";
        input.required = true;

        listFieldContainer.appendChild(input);

        const buttonContainer = document.createElement("div");
        buttonContainer.className = "button-container";

        const addButton = document.createElement("button");
        addButton.type = "button";
        addButton.className = "button15";
        addButton.style.color = "#fffffe";
        addButton.onclick = addRow;

        const addIcon = document.createElement("img");
        addIcon.className = "lets-iconsadd-round2";
        addIcon.loading = "lazy";
        addIcon.alt = "";
        addIcon.src = "/images/plus-icon.svg";

        addButton.appendChild(addIcon);

        const deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.className = "button15-red";
        deleteButton.style.color = "#fffffe";
        deleteButton.onclick = function () {
          deleteRow(this);
        };

        const deleteIcon = document.createElement("img");
        deleteIcon.className = "mdidelete-icon1";
        deleteIcon.loading = "lazy";
        deleteIcon.alt = "";
        deleteIcon.src = "/images/delete.svg";

        deleteButton.appendChild(deleteIcon);

        buttonContainer.appendChild(addButton);
        buttonContainer.appendChild(deleteButton);

        rowContainer.appendChild(listFieldContainer);
        rowContainer.appendChild(buttonContainer);

        container.appendChild(rowContainer);

        // Add event listener to the new input field to capture its value
        input.addEventListener("input", function () {
          listFieldValues.push(input.value); // Push the value to the array
        });
      }

      function deleteRow(button) {
        const rowContainer = button.closest(".row-container");
        const input = rowContainer.querySelector(".listField");

        if (input) {
          const index = listFieldValues.indexOf(input.value);
          if (index !== -1) {
            listFieldValues.splice(index, 1); // Remove the value from the array
          }
        }

        rowContainer.remove();
      }

      function submitForm() {
        // Create FormData object
        let formData = new FormData();

        // Select all input fields with the name 'listField[]'
        const listFieldInputs = document.querySelectorAll(
          'input[name="listField[]"]'
        );

        // Append the values of each input field to the FormData object
        listFieldInputs.forEach((input) => {
          formData.append("listField", input.value);
        });

        // Submit the form
        fetch("/template/new-template", {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            // Handle response as needed
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
