<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-LdG/VIBk5lH/5GjtuZW9jpjqQuSc5O+Z4e8C8Ad+MlI3yd4fPnYNkIPLsGyOxPk4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/add-template.css"/>
    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    
    <!-- <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    /> -->

    <style>
        .custom-checkbox input[type="checkbox"] {
            display: none; /* Sembunyikan kotak centang asli */
        }

        .custom-checkbox label {
            position: relative;
            padding-left: 25px; /* Buat ruang antara kotak centang dan label */
            cursor: pointer;
        }

        .custom-checkbox label:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #adb5bd; /* Warna border */
            background-color: #fff; /* Warna latar belakang */
        }

        .custom-checkbox input[type="checkbox"]:checked + label:before {
            background-color: #28a745; /* Warna latar belakang saat dicentang */
            border-color: #28a745; /* Warna border saat dicentang */
        }

        .custom-checkbox label:after {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 6px;
            border: solid #fff; /* Warna tanda centang */
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0; /* Sembunyikan tanda centang secara default */
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1; /* Tampilkan tanda centang saat dicentang */
        }
    </style>
</head>

<body>

<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="tambah-template2">
    <div class="home-frame">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Tambah</span>
            <span> Template</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>
    </div>

    <div class="attach-button">
        <div class="label-input-frame">
            <div class="label-frame">
                <form action="/template/new-template" method="post" enctype="multipart/form-data">
                    
                    <div class="text-input-frame">
                        <div class="label9">Nama Template</div>
                        <input class="text-input14" type="text" id="namaTemplate" name="namaTemplate" />
                    </div>
                   
                    <div class="text-input-frame">
                        <label for="kategori" class="label9">Kategori:</label>
                        <select class="text-input14" id="kategori" name="kategori" required>
                            <option value="" class="pilih-kategori">-- Pilih Kategori --</option>
                            <option value="Legal">Legal</option>
                            <option value="SDM">SDM</option>
                            <option value="Keuangan">Keuangan</option>
                            <option value="Sarana">Sarana</option>
                            <option value="Kemahasiswaan">Kemahasiswaan</option>
                        </select>
                    </div>
                    
                    <div class="text-input-frame">
                        <label for="listPengguna" class="label9">List Pengguna:</label>
                        <div class="custom-checkbox">
                            <input type="checkbox" id="pengguna1" name="listPengguna" value="Mahasiswa">
                            <label for="pengguna1">
                                <span class="check"></span>
                                <span class="label-text">Mahasiswa</span>
                            </label>
                        </div>

                        <div class="custom-checkbox">
                            <input type="checkbox" id="pengguna2" name="listPengguna" value="Dosen">
                            <label for="pengguna2">
                                <span class="check"></span>
                                <span class="label-text">Dosen</span>
                            </label>
                        </div>

                        <div class="custom-checkbox">
                            <input type="checkbox" id="pengguna3" name="listPengguna" value="Staf">
                            <label for="pengguna3">
                                <span class="check"></span>
                                <span class="label-text">Staf</span>
                            </label>
                        </div>
                    </div>                    
                   
                    <div class="text-input-frame" id="listFieldContainer">
                        <label for="listField" class="label9">List Field:</label>
                        <input type="text" class="text-input14" id="listField1" name="listField" required>
                    </div>
                    <br>
                    <button type="button" class="button15" onclick="addRow()" style="color:#fffffe">Add Row</button>
                    <br>
                    <button type="button" class="button15-red" onclick="deleteRow()" style="color:#fffffe">Delete Row</button>
                    <br><br>
                    <div class="form-group">
                        <div class="upload-illustration-frame">
                            <div class="file-input">
                                <div class="secondary-message">secondary message</div>
                                <div class="rectangle-frame">
                                    <div class="arsip-surat-frame">
                                        <div class="button-frame1">
                                            <label class="upload-illustration" for="file">
                                                <div class="chevrondown-icon">
                                                    <div class="wrapper-group">
                                                        <img
                                                                class="group-icon"
                                                                alt=""
                                                                src="/images/imagetengah.png"
                                                        />
                                                    </div>
                                                    <img
                                                            class="chevrondown-icon-child"
                                                            alt=""
                                                            src="/images/upload.svg"
                                                    />

                                                    <img
                                                            class="chevrondown-icon-item"
                                                            loading="lazy"
                                                            alt=""
                                                            src="/images/imagekanan.png"
                                                    />
                                                </div>
                                                <img
                                                        class="upload-illustration-child"
                                                        alt=""
                                                        src="/images/imagekiri.png"
                                                />
                                            </label>
                                            <input type="file" class="custom-file-input" id="file" name="file">
                                        </div>
                                        <h3 class="upload-file-kamu-container">
                                            <span>Upload</span>
                                            <span class="file-kamu-di"> file kamu di sini dalam format .pdf</span>
                                        </h3>
                                        <span class="file-name"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="creator-info-frame">
                        <button type="submit" class="button15" onclick="submitForm()">
                            <div class="buat-template">Buat template</div>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script>
let listFieldValues = []; // Array to store input values

document.getElementById('file').addEventListener('change', function() {
    var fileName = this.files[0].name;
    document.querySelector('.file-name').textContent = fileName;
});

function addRow() {
    let newInput = document.createElement('input');
    newInput.type = 'text';
    newInput.className = 'text-input14 listField';
    newInput.name = 'listField'; // Set the name as listField

    let container = document.getElementById('listFieldContainer');
    container.appendChild(document.createElement('br'));
    container.appendChild(newInput);

    // Add event listener to the new input field to capture its value
    newInput.addEventListener('input', function() {
        listFieldValues.push(newInput.value); // Push the value to the array
    });
}

// Function to delete the last row
function deleteRow() {
    let container = document.getElementById('listFieldContainer');
    let inputs = container.querySelectorAll('.listField');

    if (inputs.length > 0) {
        let lastInput = inputs[inputs.length - 1];
        container.removeChild(lastInput.previousElementSibling); // Remove the <br> element
        container.removeChild(lastInput); // Remove the input element

        // Remove the last value from the listFieldValues array
        listFieldValues.pop();
    }
}

// Function to submit the form
function submitForm() {
    // Add the listFieldValues array to the form data before submitting
    let formData = new FormData();
    for (let i = 0; i < listFieldValues.length; i++) {
        formData.append('listField', listFieldValues[i]);
    }

    // Submit the form
    fetch('/template/new-template', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        // Handle response as needed
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

</script>
</body>
</html>
