<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    <link rel="stylesheet" href="/css/detail-surat.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="detail-surat-diajukan">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Detail</span>
            <span> Surat</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>
        
        <div class="frame-parent" th:each="requestSurat: ${requestSurats}">
            
            <form th:action="@{/admin/detail/{id}/updateStatus(id=${requestSurat.id})}" method="post">

                <div class="row">
                    <div class="detail-wrapper">
                        <div class="detail">ID Surat</div>
                    </div>

                    <div class="content-wrapper">
                        <div class="content" th:text="${requestSurat.id}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="detail-wrapper">
                        <div class="detail">Jenis Surat</div>
                    </div>

                    <div class="content-wrapper">
                        <div class="content" th:text="${requestSurat.jenisSurat}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="detail-wrapper">
                        <div class="detail">Bahasa</div>
                    </div>

                    <div class="content-wrapper">
                        <div class="content" th:text="${requestSurat.bahasa}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="detail-wrapper">
                        <div class="detail">Bentuk Surat</div>
                    </div>

                    <div class="content-wrapper">
                        <div class="content" th:text="${requestSurat.bentukSurat}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="detail-wrapper">
                        <div class="detail">Tanggal Pengajuan</div>
                    </div>

                    <div class="content-wrapper">
                        <div class="content" th:text="${requestSurat.tanggalPengajuan}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="detail-wrapper">
                        <div class="detail">Status</div>
                    </div>

                    <div class="content-wrapper">
                        <select class="content" th:field="${requestSurats.status}">
                            <option th:each="entry : ${statusMap.entrySet()}"
                                    th:value="${entry.key}" th:text="${entry.value}" 
                                    th:selected="${entry.key == requestSurats.status}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="forward-frame">
                    <div class="label">Teruskan ke ...</div>
                    
                    <div class="tembusan">
                        <div class="tembusan-wrapper">
                            <select class="tembusan-content">
                                <option th:each="pengguna : ${listTembusan}"
                                        th:value="${pengguna.nama}"
                                        th:text="${pengguna.nama}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="text-center action-buttons">
                    <button type="submit" class="button">Simpan perubahan</button>
                </div>

            </form>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
