<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="permintaan-template">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Daftar</span>
            <span> Permohonan Surat</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>

        <section class="bentuk-surat-text">
            <div class="tabs-container">
                <div class="tabs-group-parent">
                    <div class="tabs-group">
                        <a class="component-3" th:href="@{/admin/request}">
                            <img
                                class="iconoutlineexclamation-circl"
                                alt=""
                                src="/images/iconoutlineexclamationcircle.svg"
                            />
                            <div class="tabs1">Diajukan</div>
                        </a>

                        <a class="component-2" th:href="@{/admin/request/cancelled}">
                            <img
                                class="iconoutlineexclamation-circl1"
                                alt=""
                                src="/images/iconoutlineexclamationcircle.svg"
                            />
                            <div class="tabs">Dibatalkan</div>
                        </a>

                        <a class="component-3" th:href="@{/admin/request/rejected}">
                            <img
                                class="iconoutlineexclamation-circl1"
                                alt=""
                                src="/images/iconoutlineexclamationcircle.svg"
                            />
                            <div class="tabs1">Ditolak</div>
                        </a>

                        <a class="component-3" th:href="@{/admin/request/process}">
                            <img
                                class="iconoutlineexclamation-circl1"
                                alt=""
                                src="/images/iconoutlineexclamationcircle.svg"
                            />
                            <div class="tabs1">Diproses</div>
                        </a>

                        <a class="component-3" th:href="@{/admin/request/finished}">
                            <img
                                class="iconoutlineexclamation-circl1"
                                alt=""
                                src="/images/iconoutlineexclamationcircle.svg"
                            />
                            <div class="tabs1">Selesai</div>
                        </a>
                    </div>

                    <div class="search-button">
                        <form th:action="@{/admin/request/cancelled}" method="get">
                            <div class="button17">
                                <img class="search-icon1" alt="" src="/images/search.svg" />
                                <input class="keuangan3" placeholder="Cari surat" type="text" name="keyword" />
                            </div>
                        </form>

                    </div>
                </div>

                <div class="t-e-m-p-container-parent">
                    <div class="agustus-label-parent">
                        <!-- Start of the table -->
                        <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width: 10%; text-align: center; vertical-align: middle;">ID Surat</th>
                                    <th style="width: 40%; text-align: center; vertical-align: middle;">Jenis Surat</th>
                                    <th style="width: 15%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                                    <th style="width: 10%; text-align: center; vertical-align: middle;">Bentuk Surat</th>
                                    <td style="width: 15%; text-align: center; vertical-align: middle;">
                                        <div style="display: block;">Tanggal</div>
                                        <div style="display: block;">Pengajuan</div>
                                    </td>
                                    <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!-- Iterate through requestTemplates -->
                                <tr th:each="requestSurat: ${requestSurats}">
                                    <td th:text="${requestSurat.id}"></td>
                                    <td th:text="${requestSurat.jenisSurat}" style="text-align: left;"></td>
                                    <td>
                                        <span th:text="${requestSurat.pengaju.nama}"></span>
                                        <br/>
                                        (<span th:text="${requestSurat.pengaju.id}"></span>)
                                        <br/>
                                        <span th:text="${requestSurat.pengaju.email}"></span>
                                    </td>
                                    <td th:text="${requestSurat.bentukSurat}"></td>
                                    <td th:text="${requestSurat.tanggalPengajuan}"></td>
                                    <td style="display: flex; justify-content: space-between;">
                                        <a th:href="@{/detail/{id}(id=${requestSurat.id})}" class="button20">
                                            <div class="button21">Detail</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End of the table -->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
