<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/auth-failed.css}"/>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="auth-failed">
      <img class="auth-failed-child" alt="" src="/images/kiri-red.svg" />

      <div class="frame-parent">
        <img class="frame-child" alt="" src="/images/kanan-red.svg" />

        <div class="group-f-r-a-m-e">
          <div class="child-l-o-c-k-e-d-i-c-o-n">
            <img
              class="zondiconslock-closed"
              alt=""
              src="/images/auth-failed.svg"
            />
          </div>
          <div class="message-please-login">
            <div class="button-login">
              <h1 class="maaf-akun-anda">Maaf, akun Anda belum terdaftar</h1>
            </div>
            <h1 class="silahkan-coba-login">
              Silahkan coba login kembali dengan akun Tazkia Anda.
            </h1>
          </div>
          <a class="button-login-again" th:href= "@{/logout}">
            <button class="button">
              <div class="button1">Kembali</div>
            </button>
            </a>
        </div>
      </div>
    </div>
  </body>
</html>
