<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>
    <link rel="stylesheet" href="/css/button.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
    
</head>

<body>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pageKey = 'templatePage'; // Gunakan identifikasi unik untuk setiap halaman
            const tabs = document.querySelectorAll('#tab .tab-link');
            const tabPanes = document.querySelectorAll('.tab-pane');
            let savedActiveTab = sessionStorage.getItem(pageKey);
        
            console.log('Saved active tab from session:', savedActiveTab); // Log untuk debugging
        
            function setActiveTab(activeTabId) {
                console.log('Setting active tab:', activeTabId); // Log untuk debugging
                document.querySelectorAll('.tab-link.active, .tab-pane.active').forEach(el => {
                    el.classList.remove('active', 'show');
                });
                const activeTab = document.querySelector(`.tab-link[href="${activeTabId}"]`);
                const activePane = document.querySelector(activeTabId);
                if (activeTab && activePane) {
                    activeTab.classList.add('active');
                    activePane.classList.add('active', 'show');
                }
                sessionStorage.setItem(pageKey, activeTabId);
                if(document.getElementById('hiddenActiveTab')) {
                    document.getElementById('hiddenActiveTab').value = activeTabId; // Update hidden input
                }
            }
        
            // Tentukan tab default atau pulihkan tab sebelumnya
            if (!savedActiveTab) {
                console.log('No saved tab, setting default to #semua'); // Log untuk debugging
                setActiveTab('#semua');
            } else {
                setActiveTab(savedActiveTab);
            }
        
            tabs.forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    setActiveTab(this.getAttribute('href'));
                });
            });
        });
    </script>    
    
<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="permintaan-template">

    <b class="pengajuan-permohonan-surat-container">
        <span class="pengajuan">Daftar</span>
        <span>Permintaan  Template</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>

    <div class="content-wrapper" style="margin-inline: 10px;">

        <div class="tabs-group" id="tab">
            <a class="tab-link" data-toggle="tab" href="#semua">Semua</a>
            <a class="tab-link" data-toggle="tab" href="#diajukan">Diajukan</a>
            <a class="tab-link" data-toggle="tab" href="#diterima">Diterima</a>
            <a class="tab-link" data-toggle="tab" href="#ditolak">Ditolak</a>
        </div>

        <br>

        <!-- SEMUA -->
        <div class="tab-pane" id="semua">
            <div class="table-container">
                <table id="semuaTemplate" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                            <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                            <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Status</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="requestTemplate : ${requestTemplates}" th:unless="${#lists.isEmpty(requestTemplates)}">
                            <td th:text="${requestTemplate.id}"></td>
                            <td th:text="${requestTemplate.kategori}"></td>
                            <td th:text="${requestTemplate.pengaju.nama}"></td>
                            <td th:text="${requestTemplate.bahasa}"></td>
                            <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                            <td th:text="${requestTemplate.status == 1 ? 'Diajukan' :
                            (requestTemplate.status == 2 ? 'Diterima' :
                            (requestTemplate.status == 3 ? 'Ditolak' : ''))}">
                            </td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="primary-button">
                                    <div class="primary-text">Detail</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- DIAJUKAN -->
        <div class="tab-pane" id="diajukan">
            <div class="table-container">
                <table id="diajukanTemplate" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                            <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                            <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="requestTemplate : ${requestedRequests}" th:unless="${#lists.isEmpty(requestedRequests)}">
                            <td th:text="${requestTemplate.id}"></td>
                            <td th:text="${requestTemplate.kategori}"></td>
                            <td th:text="${requestTemplate.pengaju.nama}"></td>
                            <td th:text="${requestTemplate.bahasa}"></td>
                            <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="primary-button">
                                    <div class="primary-text">Detail</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- DITERIMA -->
        <div class="tab-pane" id="diterima">
            <div class="table-container">
                <table id="diterimaTemplate" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                            <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                            <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="requestTemplate : ${acceptedRequests}" th:unless="${#lists.isEmpty(acceptedRequests)}">
                            <td th:text="${requestTemplate.id}"></td>
                            <td th:text="${requestTemplate.kategori}"></td>
                            <td th:text="${requestTemplate.pengaju.nama}"></td>
                            <td th:text="${requestTemplate.bahasa}"></td>
                            <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="primary-button">
                                    <div class="primary-text">Detail</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- DITOLAK -->
        <div class="tab-pane" id="ditolak">
            <div class="table-container">
                <table id="ditolakTemplate" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                            <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                            <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="requestTemplate : ${rejectedRequests}" th:unless="${#lists.isEmpty(rejectedRequests)}">
                            <td th:text="${requestTemplate.id}"></td>
                            <td th:text="${requestTemplate.kategori}"></td>
                            <td th:text="${requestTemplate.pengaju.nama}"></td>
                            <td th:text="${requestTemplate.bahasa}"></td>
                            <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="primary-button">
                                    <div class="primary-text">Detail</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script>
    new DataTable('#semuaTemplate');
    new DataTable('#diajukanTemplate');
    new DataTable('#diterimaTemplate');
    new DataTable('#ditolakTemplate');
</script>

</body>
</html>