<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pageKey = 'templatePage'; // Gunakan identifikasi unik untuk setiap halaman
            const tabs = document.querySelectorAll('#tab .tab-link');
            const tabPanes = document.querySelectorAll('.tab-pane');
            let savedActiveTab = sessionStorage.getItem(pageKey);
        
            console.log('Saved active tab from session:', savedActiveTab); // Log untuk debugging
        
            function setActiveTab(activeTabId) {
                console.log('Setting active tab:', activeTabId); // Log untuk debugging
                document.querySelectorAll('.tab-link.active, .tab-pane.active').forEach(el => {
                    el.classList.remove('active', 'show');
                });
                const activeTab = document.querySelector(`.tab-link[href="${activeTabId}"]`);
                const activePane = document.querySelector(activeTabId);
                if (activeTab && activePane) {
                    activeTab.classList.add('active');
                    activePane.classList.add('active', 'show');
                }
                sessionStorage.setItem(pageKey, activeTabId);
                if(document.getElementById('hiddenActiveTab')) {
                    document.getElementById('hiddenActiveTab').value = activeTabId; // Update hidden input
                }
            }
        
            // Tentukan tab default atau pulihkan tab sebelumnya
            if (!savedActiveTab) {
                console.log('No saved tab, setting default to #semua'); // Log untuk debugging
                setActiveTab('#semua');
            } else {
                setActiveTab(savedActiveTab);
            }
        
            tabs.forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    setActiveTab(this.getAttribute('href'));
                });
            });
        });
    </script>    
    
<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="permintaan-template">

    <b class="pengajuan-permohonan-surat-container">
        <span class="pengajuan">Daftar</span>
        <span>Permintaan Template</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>

    <div class="content-wrapper" style="margin-inline: 10px;">

        <div class="search-wrapper">
            <form th:action="@{/template/new-requests}" method="get" id="searchForm">
                <div class="button17">
                    <img class="search-icon1" alt="" src="/images/search.svg" />
                    <input class="keuangan3" placeholder="Cari..." type="text" name="keyword" id="searchInput" />
                    <input type="hidden" name="activeTab" id="hiddenActiveTab">
                </div>
            </form>
        </div>

        <div class="tabs-group" id="tab">
            <a class="tab-link" data-toggle="tab" href="#semua">Semua</a>
            <a class="tab-link" data-toggle="tab" href="#diajukan">Diajukan</a>
            <a class="tab-link" data-toggle="tab" href="#diterima">Diterima</a>
            <a class="tab-link" data-toggle="tab" href="#ditolak">Ditolak</a>
        </div>

        <br>

        <!-- SEMUA -->
        <div class="tab-pane" id="semua">
            <table class="table table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                    <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Status</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(requestTemplates)}">
                    <td colspan="6" style="text-align: center;">Belum ada permintaan template</td>
                </tr>
                <tr th:each="requestTemplate : ${requestTemplates}" th:unless="${#lists.isEmpty(requestTemplates)}">
                    <td th:text="${requestTemplate.id}"></td>
                    <td th:text="${requestTemplate.kategori}"></td>
                    <td th:text="${requestTemplate.pengaju.nama}"></td>
                    <td th:text="${requestTemplate.bahasa}"></td>
                    <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                    <td th:text="${requestTemplate.status == 1 ? 'Diajukan' :
                      (requestTemplate.status == 2 ? 'Diterima' :
                      (requestTemplate.status == 3 ? 'Ditolak' : ''))}">
                    </td>
                    <td style="display: flex; justify-content: space-between;">
                        <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="button20">
                            <div class="button21">Detail</div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- DIAJUKAN -->
        <div class="tab-pane" id="diajukan">
            <table class="table table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                    <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(requestedRequests)}">
                    <td colspan="6" style="text-align: center;">Belum ada permintaan template</td>
                </tr>
                <tr th:each="requestTemplate : ${requestedRequests}" th:unless="${#lists.isEmpty(requestedRequests)}">
                    <td th:text="${requestTemplate.id}"></td>
                    <td th:text="${requestTemplate.kategori}"></td>
                    <td th:text="${requestTemplate.pengaju.nama}"></td>
                    <td th:text="${requestTemplate.bahasa}"></td>
                    <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                    <td style="display: flex; justify-content: space-between;">
                        <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="button20">
                            <div class="button21">Detail</div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- DITERIMA -->
        <div class="tab-pane" id="diterima">
            <table class="table table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                    <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(acceptedRequests)}">
                    <td colspan="6" style="text-align: center;">Belum ada permintaan template yang diterima</td>
                </tr>
                <tr th:each="requestTemplate : ${acceptedRequests}" th:unless="${#lists.isEmpty(acceptedRequests)}">
                    <td th:text="${requestTemplate.id}"></td>
                    <td th:text="${requestTemplate.kategori}"></td>
                    <td th:text="${requestTemplate.pengaju.nama}"></td>
                    <td th:text="${requestTemplate.bahasa}"></td>
                    <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                    <td style="display: flex; justify-content: space-between;">
                        <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="button20">
                            <div class="button21">Detail</div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="ditolak">
            <table class="table table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
                    <th style="width: 45%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                    <th style="width: 15%; text-align: center; vertical-align: middle;">Bahasa</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                    <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(rejectedRequests)}">
                    <td colspan="6" style="text-align: center;">Belum ada permintaan template yang ditolak</td>
                </tr>
                <tr th:each="requestTemplate : ${rejectedRequests}" th:unless="${#lists.isEmpty(rejectedRequests)}">
                    <td th:text="${requestTemplate.id}"></td>
                    <td th:text="${requestTemplate.kategori}"></td>
                    <td th:text="${requestTemplate.pengaju.nama}"></td>
                    <td th:text="${requestTemplate.bahasa}"></td>
                    <td th:text="${#dates.format(requestTemplate.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                    <td style="display: flex; justify-content: space-between;">
                        <a th:href="@{'/template/request/detail/' + ${requestTemplate.id}}" class="button20">
                            <div class="button21">Detail</div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
        // Simulate click event on #semua tab link
        document.querySelector('#tab .tab-link[href="#semua"]').click();
    });

  document.querySelectorAll('#tab .tab-link').forEach(link => {
      link.addEventListener('click', function(e) {
          e.preventDefault();
          let currentActive = document.querySelector('#tab .tab-link.active');
          let currentActivePane = document.querySelector('.tab-pane.active');

          if (currentActive) {
              currentActive.classList.remove('active');
              currentActivePane.classList.remove('active');
              currentActivePane.classList.remove('show');
          }

          let newActivePaneId = this.getAttribute('href');
          let newActivePane = document.querySelector(newActivePaneId);

          this.classList.add('active');
          newActivePane.classList.add('active');
          newActivePane.classList.add('show');
      });
  });

</script> -->

</body>
</html>