<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>
    <link rel="stylesheet" href="/css/button.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <!-- Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
</head>

<body>

<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="page-container">

    <b class="pengajuan-permohonan-surat-container">
        <span class="pengajuan">Daftar</span>
        <span>Surat  Keluar</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>
    
    <div class="content-wrapper" style="margin-inline: 10px;">
      <div class="buttonWrapper" th:if="${role == 'Admin'}" style="margin: 30px; text-decoration: none; color: white;">
          <a th:href="@{/surat-keluar/form}" class="button-input">
              <img class="fluentadd-16-filled-icon" alt="" src="/images/plus-icon.svg"/>
              <div class="primary-text">Input Surat</div>
          </a>
      </div>

      <div class="buttonWrapper" th:if="${role == 'Pengurus'}" style="margin: 30px; text-decoration: none; color: white;">
        
      </div>
    
      <div class="tab-pane active">
        <div class="table-container">
            <table id="suratkeluar" class="table table-bordered" style="width:100%">
                <thead>
                  <tr>
                      <th style="width: 15%; text-align: center; vertical-align: middle;">Nomor Arsip</th>
                      <th style="width: 13%; text-align: center; vertical-align: middle;">Kategori</th>
                      <th style="width: 40%; text-align: center; vertical-align: middle;">Perihal</th>
                      <th style="width: 18%; text-align: center; vertical-align: middle;">Tanggal Diarsipkan</th>
                      <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="suratKeluar : ${suratKeluarList}">
                    <td th:text="${suratKeluar.nomorArsip}"></td>
                    <td th:text="${suratKeluar.kategori}"></td>
                    <td th:text="${suratKeluar.perihal}"></td>
                    <td th:text="${#dates.format(suratKeluar.tanggalDibuat, 'dd-MM-yyyy')}"></td>
                    <td style="display: flex; justify-content: space-between; border: none;">
                      <a class="primary-button" th:href="@{'/surat-keluar/detail/' + ${suratKeluar.nomorArsip}}">
                          <div class="primary-text">Detail</div>
                      </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script>
  new DataTable('#suratkeluar');
</script>
</body>
</html>