<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/daftar-template.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>
    <link rel="stylesheet" href="/css/button.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <!-- Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
</head>

<body>
<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="page-container">

    <b class="pengajuan-permohonan-surat-container">
        <span class="pengajuan">Daftar</span>
        <span> Template  Surat</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>
    
    <div class="content-wrapper" style="margin-inline: 10px;">
        <div class="keuangan-frame" style="margin-top: 20px;">
            <button class="primary-large-button" th:onclick="'window.location.href = \'/template/new-template\''" style="width: 200px;">
                <img class="fluentadd-16-filled-icon" alt="" src="/images/plus.svg" />
                <div class="tambah-template">Tambah Template</div>
            </button>

            <button class="primary-large-outline-button" th:onclick="'window.location.href = \'/template/new-requests\''" style="width: 200px;">
                <div class="lihat-permintaan-template">Lihat Permintaan Template</div>
            </button>
        </div>

        <div class="tab-pane active">
            <div class="table-container">
                <table id="daftar-template" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th class="custom-th" style="width: 10%; text-align: center; vertical-align: middle;">ID Template</th>
                            <th class="custom-th" style="width: 40%; text-align: center; vertical-align: middle;">Nama Template</th>
                            <th class="custom-th" style="width: 15%; text-align: center; vertical-align: middle;">Kategori</th>
                            <th class="custom-th" style="width: 10%; text-align: center; vertical-align: middle;">Status</th>
                            <th class="custom-th" style="width: 15%; text-align: center; vertical-align: middle;">Tanggal Dibuat</th>
                            <th class="custom-th" style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="requestSurat: ${activeTemplates}">
                            <td th:text="${requestSurat.id}"></td>
                            <td th:text="${requestSurat.namaTemplate}" style="text-align: left;"></td>
                            <td th:text="${requestSurat.kategori}"></td>
                            <td th:if="${requestSurat.isActive}">Active</td>
                            <td th:unless="${requestSurat.isActive}">Inactive</td>
                            <td th:text="${#dates.format(requestSurat.tanggalDibuat, 'dd-MM-yyyy')}"></td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/template/detail/' + ${requestSurat.id}}" class="primary-button">
                                    <div class="primary-text">Detail</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script> new DataTable('#daftar-template'); </script>

</body>

</html>
