<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/css/global-daftar-template.css"/>
  <link rel="stylesheet" href="/css/riwayat-surat.css"/>
  <link rel="stylesheet" href="/css/tabs.css"/>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    
  <style>
    .button {
      background-color: #3a8b5a;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      display: flex; 
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      width: 200px;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

  <div class="permintaan-template">
    
    <b class="pengajuan-permohonan-surat-container">
      <span class="pengajuan">Daftar</span>
      <span>Surat Masuk</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>
      
    <div class="content-wrapper" style="margin-inline: 10px;">
      <div class="buttonWrapper" style="margin: 30px; text-decoration: none; color: white;">
        <a
          th:if="${role == 'Admin'}"
          th:href="@{/surat-masuk/form}"
          class="button" style="text-decoration: none; color: white;"
        >
          <img class="input-surat1" alt="" src="/images/plus-icon.svg" />
          <div class="input-surat1">Input Surat</div>
        </a>
      </div>
      
      <div class="search-wrapper">
        <form action="/surat-masuk/all" method="get" id="searchForm">
          <div class="button17">
            <img class="search-icon1" alt="" src="/images/search.svg" />
            <input class="keuangan3" placeholder="Cari..." type="text" name="search" id="searchInput" />
          </div>
        </form>
      </div>

      <div class="tabs-group" id="tab">
        <a class="tab-link active" data-toggle="tab" href="#semua">Semua</a>
        <!-- <a class="tab-link" data-toggle="tab" href="#diarsipkan">Diarsipkan</a> -->
        <a class="tab-link" data-toggle="tab" href="#followUp">Follow Up</a>
        <a class="tab-link" data-toggle="tab" href="#disposisi">Disposisi</a>
      </div>

      <br><br>

      <!-- SEMUA -->
      <div class="tab-pane active" id="semua">
        <table class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th style="width: 12%; text-align: center; vertical-align: middle;">Nomor Arsip</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
              <th style="width: 40%; text-align: center; vertical-align: middle;">Perihal</th>
              <th style="width: 18%; text-align: center; vertical-align: middle;">Tanggal Diarsipkan</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Pengirim</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(allSuratMasuk)}">
              <td colspan="6" style="text-align: center;">Belum ada surat masuk</td>
            </tr>
            <tr th:each="suratMasuk : ${allSuratMasuk}" th:unless="${#lists.isEmpty(allSuratMasuk)}">
              <td th:text="${suratMasuk.nomorArsip}"></td>
              <td th:text="${suratMasuk.kategori}"></td>
              <td th:text="${suratMasuk.perihal}"></td>
              <td th:text="${#dates.format(suratMasuk.tanggalDibuat, 'dd-MM-yyyy')}"></td>
              <td th:text="${suratMasuk.pengirim}"></td>
              <td style="display: flex;">
                <a class="button20" th:href="@{'/surat-masuk/detail/' + ${suratMasuk.nomorArsip}}">
                  <div class="button21">Detail</div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- DIARSIPKAN -->
      <div class="tab-pane" id="diarsipkan">
        <table class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th style="width: 12%; text-align: center; vertical-align: middle;">Nomor Arsip</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
              <th style="width: 40%; text-align: center; vertical-align: middle;">Perihal</th>
              <th style="width: 18%; text-align: center; vertical-align: middle;">Tanggal Diarsipkan</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Pengirim</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(suratMasukDiarsipkan)}">
              <td colspan="6" style="text-align: center;">Belum ada surat masuk yang diarsipkan</td>
            </tr>
            <tr th:each="suratMasuk : ${suratMasukDiarsipkan}" th:unless="${#lists.isEmpty(suratMasukDiarsipkan)}">
              <td th:text="${suratMasuk.nomorArsip}"></td>
              <td th:text="${suratMasuk.kategori}"></td>
              <td th:text="${suratMasuk.perihal}"></td>
              <td th:text="${#dates.format(suratMasuk.tanggalDibuat, 'dd-MM-yyyy')}"></td>
              <td th:text="${suratMasuk.pengirim}"></td>
              <td style="display: flex;">
                <a class="button20" th:href="@{'/surat-masuk/detail/' + ${suratMasuk.nomorArsip}}">
                  <div class="button21">Detail</div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- FOLLOW UP -->
      <div class="tab-pane" id="followUp">
        <table class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th style="width: 12%; text-align: center; vertical-align: middle;">Nomor Arsip</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
              <th style="width: 40%; text-align: center; vertical-align: middle;">Perihal</th>
              <th style="width: 18%; text-align: center; vertical-align: middle;">Tanggal Diarsipkan</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Pengirim</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(suratMasukFollowUp)}">
              <td colspan="6" style="text-align: center;">Belum ada surat masuk yang difollow-up</td>
            </tr>
            <tr th:each="suratMasuk : ${suratMasukFollowUp}" th:unless="${#lists.isEmpty(suratMasukFollowUp)}">
              <td th:text="${suratMasuk.nomorArsip}"></td>
              <td th:text="${suratMasuk.kategori}"></td>
              <td th:text="${suratMasuk.perihal}"></td>
              <td th:text="${#dates.format(suratMasuk.tanggalDibuat, 'dd-MM-yyyy')}"></td>
              <td th:text="${suratMasuk.pengirim}"></td>
              <td style="display: flex;">
                <a class="button20" th:href="@{'/surat-masuk/detail/' + ${suratMasuk.nomorArsip}}">
                  <div class="button21">Detail</div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- DISPOSISI -->
      <div class="tab-pane" id="disposisi">
        <table class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th style="width: 12%; text-align: center; vertical-align: middle;">Nomor Arsip</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Kategori</th>
              <th style="width: 40%; text-align: center; vertical-align: middle;">Perihal</th>
              <th style="width: 18%; text-align: center; vertical-align: middle;">Tanggal Diarsipkan</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Pengirim</th>
              <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(suratMasukDisposisi)}">
              <td colspan="6" style="text-align: center;">Belum ada surat masuk yang didisposisi</td>
            </tr>
            <tr th:each="suratMasuk : ${suratMasukDisposisi}" th:unless="${#lists.isEmpty(suratMasukDisposisi)}">
              <td th:text="${suratMasuk.nomorArsip}"></td>
              <td th:text="${suratMasuk.kategori}"></td>
              <td th:text="${suratMasuk.perihal}"></td>
              <td th:text="${#dates.format(suratMasuk.tanggalDibuat, 'dd-MM-yyyy')}"></td>
              <td th:text="${suratMasuk.pengirim}"></td>
              <td style="display: flex;">
                <a class="button20" th:href="@{'/surat-masuk/detail/' + ${suratMasuk.nomorArsip}}">
                  <div class="button21">Detail</div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>

  <footer th:replace="~{fragments/footer :: footer}"></footer>

  <script>
    document.querySelectorAll('#tab .tab-link').forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        let currentActive = document.querySelector('#tab .tab-link.active');
        let currentActivePane = document.querySelector('.tab-pane.active');
        
        if (currentActive) {
          currentActive.classList.remove('active');
          currentActivePane.classList.remove('active');
          currentActivePane.classList.remove('show');
        }

        let newActivePaneId = this.getAttribute('href');
        let newActivePane = document.querySelector(newActivePaneId);

        this.classList.add('active');
        newActivePane.classList.add('active');
        newActivePane.classList.add('show');
      });
    });
  </script>
</body>
</html>