<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Active Templates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/daftar-template.css"/>
    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>
<body>

<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="daftar-template-surat">
    <img class="ajukan-surat-item" alt="" src="/images/kiri.svg" />
    <img class="daftar-template-surat-child" alt="" src="/images/kanan.svg"/>
    <section class="template-frame">
        <div class="keuangan-template-frame">
            <div class="keuangan-template">
                <div class="gaji-detail-frame">
                    <div class="r-t-x-footer">
                        <div class="template-list">
                            <h1 class="daftar-template-surat-container">
                                <span>
                                    <span class="daftar">Daftar</span>
                                    <span> Template Surat</span>
                                </span>
                            </h1>
                            <div class="search-bar">
                                <form th:action="@{/template/search}" method="get">
                                    <div class="button1">
                                        <img class="search-icon" alt="" src="/images/search.svg" />
                                        <input class="ketik-kata-kunci" placeholder="Cari template berdasarkan nama..." type="text" name="namaTemplate" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-surat1">
                <div class="keuangan-frame">
                    <button class="button2" th:onclick="'window.location.href = \'/template/new-template\''">
                        <img class="fluentadd-16-filled-icon" alt="" src="/images/plus.svg" />
                        <div class="tambah-template">Tambah Template</div>
                    </button>

                    <button class="button3" th:onclick="'window.location.href = \'/template/new-requests\''">
                        <div class="lihat-permintaan-template">
                            Lihat Permintaan Template
                        </div>
                    </button>
                </div>
                <br>
                <h3>Active Templates</h3>
                <div th:each="template : ${activeTemplates}" class="template-surat1">
                    <div class="f-a-q">
                        <h3 class="keuangan" th:text="${template.namaTemplate}"></h3>
                        <br>
                        <p style="font-size: 20px;">ID: </b><span th:text="${template.id}"></span></p>
                        <p style="font-size: 20px;">Kategori: </b><span th:text="${template.kategori}"></span></p>
                        <a th:href="@{'/template/detail/' + ${template.id}}">
                            <button class="button-group">
                                <div class="button4">
                                    <img class="lets-iconsview-alt" alt="" src="/images/eye.svg" />
                                    <div class="button5">Detail</div>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </section>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
