<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/css/global-final.css" />
    <link rel="stylesheet" href="/css/asset.css"/>
    <link rel="stylesheet" href="/css/dashboard.css" />

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="content-container">
        <b class="title-container">
            <span class="title-gradient">Dashboard</span>
        </b>  
        <nav th:replace="~{fragments/asset :: asset}"></nav>
        <br>

        <div class="container" style="width: 100%; max-width: 1200px;"> 
            <div class="label p-1" style="text-align: center;">Overview Total</div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card border-0 m-4">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h5 class="card-title">Surat Keluar</h5>
                            <h2 class="card-text" th:text="${totalSuratKeluar}"></h2>
                            <h4 class="card-title">Total</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 m-4">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h5 class="card-title">Surat Masuk</h5>
                            <h2 class="card-text" th:text="${totalSuratMasuk}"></h2>
                            <h5 class="card-title">Total</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 m-4">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h5 class="card-title">Forum</h5>
                            <h2 class="card-text" th:text="${totalForumEsk}"></h2>
                            <h5 class="card-title">Dieskalasi</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 m-4">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h5 class="card-title">Tanda Tangan</h5>
                            <h2 class="card-text" th:text="${totalTtd}"></h2>
                            <h5 class="card-title">Total</h5>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row align-items-center">
                <div class="col-6">
                    <div class="label p-1" style="text-align: center;">Jumlah Surat Masuk - Keluar per Kategori</div>
                    <canvas id="barChartSuratMasukKeluarKategori" style="padding-right: 20px; height: 300px; width: 600px;"></canvas>
                </div>
                <div class="col-6">
                    <div class="label p-1" style="text-align: center;">Rata-Rata Durasi Pemrosesan Request</div>
                    <canvas id="lineChartPerformaSurat" style="height: 300px; width: 600px;"></canvas>
                </div>
            </div>

            <br><br><br>

            <div class="row align-items-center">
                <div class="col-8">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="label p-1" style="text-align: start;">Jumlah Surat Masuk - Keluar per Waktu</div>
                        <div>
                            <button class="buttonWaktu" id="tahunIni">Tahun ini</button>
                            <button class="buttonWaktu" id="bulanIni">Bulan ini</button>
                            <button class="buttonWaktu active" id="mingguIni">Minggu ini</button>
                        </div>
                    </div>
                    
                    <canvas id="barChartSuratMasukKeluar" style="padding-right: 10px; height: 396px; width: 792px;"></canvas>
                </div>
                <div class="col-4">
                    <div class="row-cols-1">
                        <div class="label p-1" style="text-align: center;">Surat Masuk</div>
                    </div>
                    <div class="row-cols-1">
                        <canvas id="pieChartSuratMasuk" style="max-height: 170px;"></canvas>
                    </div>
                    <div class="row-cols-1" style="margin-top: 20px;">
                        <div class="label p-1" style="text-align: center;">Surat Ditanda Tangan</div>
                    </div>
                    <div class="row-cols-1">
                        <canvas id="pieChartSuratKeluar" style="max-height: 170px;"></canvas>
                    </div>
                </div>
            </div>

            <br><br><br>

        </div>

    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <!-- BAR CHART SURAT MASUK KELUAR PER WAKTU -->
    <script th:inline="javascript">
        let barChartSuratMasukKeluar;
        var mapSuratMasukTahun = [[${mapSuratMasukTahun}]];
        var mapSuratMasukBulan = [[${mapSuratMasukBulan}]];
        var mapSuratMasukMinggu = [[${mapSuratMasukMinggu}]];
        var mapSuratKeluarTahun = [[${mapSuratKeluarTahun}]];
        var mapSuratKeluarBulan = [[${mapSuratKeluarBulan}]];
        var mapSuratKeluarMinggu = [[${mapSuratKeluarMinggu}]];

        document.addEventListener('DOMContentLoaded', function() {
            const ctx = document.getElementById('barChartSuratMasukKeluar');
    
            barChartSuratMasukKeluar = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [
                        {
                            label: 'Surat Masuk',
                            data: [],
                            backgroundColor: '#459a7d',
                        },
                        {
                            label: 'Surat Keluar',
                            data: [],
                            backgroundColor: '#b1cdb8',
                        }
                    ]
                },
                options: {
                    scales: {
                        y: { beginAtZero: true }
                    },
                    responsive: true,
                    plugins: {
                        legend: { position: 'top' }
                    }
                }
            });
    
            updateChartData(mapSuratMasukMinggu, mapSuratKeluarMinggu, barChartSuratMasukKeluar);

            document.querySelectorAll('.buttonWaktu').forEach(button => {
                button.addEventListener('click', function() {
                    document.querySelectorAll('.buttonWaktu').forEach(btn => btn.classList.remove('active'));
                    this.classList.add('active');
    
                    let mapSuratMasuk, mapSuratKeluar;
                    switch (this.id) {
                        case 'tahunIni':
                            mapSuratMasuk = mapSuratMasukTahun;
                            mapSuratKeluar = mapSuratKeluarTahun;
                            break;
                        case 'bulanIni':
                            mapSuratMasuk = mapSuratMasukBulan;
                            mapSuratKeluar = mapSuratKeluarBulan;
                            break;
                        case 'mingguIni':
                            mapSuratMasuk = mapSuratMasukMinggu;
                            mapSuratKeluar = mapSuratKeluarMinggu;
                            break;
                    }

                    updateChartData(mapSuratMasuk, mapSuratKeluar, barChartSuratMasukKeluar);
                });
            });
        });
    
        function updateChartData(mapSuratMasuk, mapSuratKeluar, chart) {
            var labels = Object.keys(mapSuratMasuk);
            var dataSuratMasuk = labels.map(key => mapSuratMasuk[key]);
            var dataSuratKeluar = labels.map(key => mapSuratKeluar[key]);
    
            chart.data.labels = labels;
            chart.data.datasets[0].data = dataSuratMasuk;
            chart.data.datasets[1].data = dataSuratKeluar;
            chart.update();
        }

    </script>
        var mapSuratMasuk = [[${mapSuratMasukMinggu}]];
        var labels = Object.keys(mapSuratMasuk);
        var dataSuratMasuk = labels.map(function(key) {
            return mapSuratMasuk[key];
        });

        var mapSuratKeluar = [[${mapSuratKeluarMinggu}]];
        var labels = Object.keys(mapSuratKeluar);
        var dataSuratKeluar = labels.map(function(key) {
            return mapSuratKeluar[key];
        });

        const barChartSuratMasukKeluar = document.getElementById('barChartSuratMasukKeluar');
    
        new Chart(barChartSuratMasukKeluar, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Surat Masuk',
                        data: dataSuratMasuk,
                        backgroundColor: '#459a7d',

                    },
                    {
                        label: 'Surat Keluar',
                        data: dataSuratKeluar,
                        backgroundColor: '#b1cdb8',
                    }
                ]
            }, 
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }
        });
    </script> -->

     <!-- BAR CHART SURAT MASUK KELUAR KATEGORI -->
     <script th:inline="javascript">
        var mapSuratMasukKategori = [[${mapSuratMasukKategori}]];
        var labels = Object.keys(mapSuratMasukKategori);
        var dataSuratMasuk = labels.map(function(key) {
            return mapSuratMasukKategori[key];
        });

        var mapSuratKeluarKategori = [[${mapSuratKeluarKategori}]];
        var labels = Object.keys(mapSuratKeluarKategori);
        var dataSuratKeluar = labels.map(function(key) {
            return mapSuratKeluarKategori[key];
        });

        const barChartSuratMasukKeluarKategori = document.getElementById('barChartSuratMasukKeluarKategori');
    
        new Chart(barChartSuratMasukKeluarKategori, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Surat Masuk',
                        data: dataSuratMasuk,
                        backgroundColor: '#459a7d',
                    },
                    {
                        label: 'Surat Keluar',
                        data: dataSuratKeluar,
                        backgroundColor: '#b1cdb8',
                    }
                ]
            }, 
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }
        });
    </script>

    <!-- LINE CHART PERFORMA SURAT - KATEGORI -->
    <script th:inline="javascript">
        var mapPerformaSurat = [[${performaRequestSurat}]];
        var labels = Object.keys(mapPerformaSurat);
        var chartData = labels.map(function(key) {
            return mapPerformaSurat[key];
        });

        const lineChartPerformaSurat = document.getElementById('lineChartPerformaSurat');
    
        new Chart(lineChartPerformaSurat, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Hari',
                    data: chartData,
                    borderColor: '#459a7d',
                    backgroundColor: '#459a7d',
                }]
            }, 
            options: {
                responsive: true,
                plugins: {
                legend: {
                    position: 'top',
                },
                }
            }
        });

    </script>

    <!-- PIE CHART SURAT MASUK - KATEGORI -->
    <script th:inline="javascript">
        var mapSuratMasukKategori = [[${mapSuratMasukKategori}]];
        var labels = Object.keys(mapSuratMasukKategori);
        var chartData = labels.map(function(key) {
            return mapSuratMasukKategori[key];
        });

        const pieChartSuratMasuk = document.getElementById('pieChartSuratMasuk');
    
        new Chart(pieChartSuratMasuk, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Jumlah',
                    data: chartData,
                    backgroundColor: ['#459a7d', '#b1cdb8'],
                }]
            }, 
            options: {
                responsive: true,
                plugins: {
                legend: {
                    position: 'right',
                },
                }
            }
        });

    </script>

    <!-- PIE CHART SURAT KELUAR - KATEGORI -->
    <script th:inline="javascript">
        var mapSuratKeluarKategori = [[${mapSuratKeluarKategori}]];
        var labels = Object.keys(mapSuratKeluarKategori);
        var chartData = labels.map(function(key) {
            return mapSuratKeluarKategori[key];
        });

        const pieChartSuratKeluar = document.getElementById('pieChartSuratKeluar');
    
        new Chart(pieChartSuratKeluar, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Jumlah',
                    data: chartData,
                    backgroundColor: ['#459a7d', '#b1cdb8'],
                }]
            }, 
            options: {
                responsive: true,
                plugins: {
                legend: {
                    position: 'right',
                },
                }
            }
        });

    </script>

</body>

</html>