<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <link rel="stylesheet" href="/css/dashboard.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap" />
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="dashboard">
        <div class="home-frame">
            <!-- <b class="header">
                <span class="pengajuan">Dashboard</span>
                <span> Admin</span>
            </b> -->

            <nav th:replace="~{fragments/asset :: asset}"></nav>
        </div>

        <div class="cont">
            <div class="content">
                <div class="label" th:text="'Statistik Jumlah Request Surat Bulan ' + ${bulan}"></div>

                <div class="txtinput">
                    <canvas id="myChart"></canvas>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var jumlahRequestPerMinggu = /*[[${jumlahRequestPerMinggu}]]*/ {};
                        console.log("Data jumlah request per minggu:", jumlahRequestPerMinggu);
                    
                        function getWeekLabel(weekNumber) {
                            return "Minggu ke-" + weekNumber;
                        }
                    
                        var labels = [];
                        var data = [];
                    
                        var maxWeek = Object.keys(jumlahRequestPerMinggu).reduce(function(a, b) {
                            return Math.max(a, parseInt(b.split("-")[1]));
                        }, 0);
                    
                        for (var i = 1; i <= maxWeek; i++) {
                            var weekLabel = getWeekLabel(i);
                            labels.push(weekLabel);
                    
                            if (jumlahRequestPerMinggu.hasOwnProperty(weekLabel)) {
                                data.push(jumlahRequestPerMinggu[weekLabel]);
                            } else {
                                data.push(0);
                            }
                        }
                    
                        var dataChart = {
                            labels: labels,
                            datasets: [{
                                label: "",
                                data: data,
                                backgroundColor: '#0f7454',
                                borderColor: '#253237',
                                borderWidth: 1
                            }]
                        };
                    
                        const config = {
                            type: 'line',
                            data: dataChart,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: false,
                                        ticks: {
                                            callback: function(value, index, values) {
                                                return value;
                                            }
                                        }
                                    },
                                    x: {
                                        grid: {
                                            display: false
                                        }
                                    }
                                }
                            }
                        };
                    
                        var myChart = new Chart(
                            document.getElementById('myChart'),
                            config
                        );
                        /*]]>*/
                    </script>
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Performa Rata-rata Waktu Pemrosesan Surat'"></div>

                <div class="txtinput">
                    <canvas id="myBarChart"></canvas>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        // var jumlahRequestPerMinggu = /*[[${jumlahRequestPerMinggu}]]*/ {};
                        // console.log("Data jumlah request per minggu:", jumlahRequestPerMinggu);
                    
                        // Data contoh untuk grafik batang
                        var data = {
                            labels: ["Minggu 1", "Minggu 2", "Minggu 3", "Minggu 4", "Minggu 5"],
                            datasets: [{
                                label: "",
                                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1,
                                data: [10, 15, 12, 18, 20]
                            }]
                        };
                    
                        var contentChart = {
                            type: 'bar',
                            data: data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                    
                        var myBarChart = new Chart(
                            document.getElementById('myBarChart'),
                            contentChart
                        );
                        /*]]>*/
                    </script>
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Overview Request Surat Berdasarkan Status'"></div>

                <div class="txtinput">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5">
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${diajukan}"></h2>
                                        <h5 class="card-title">Diajukan</h5>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${dibatalkan}"></h2>
                                        <h5 class="card-title">Dibatalkan</h5>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${ditolak}"></h2>
                                        <h5 class="card-title">Ditolak</h5>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${diproses}"></h2>
                                        <h5 class="card-title">Diproses</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${selesai}"></h2>
                                        <h5 class="card-title">Selesai</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Overview Request Template Berdasarkan Status'"></div>

                <div class="txtinput">
                    <canvas id="myPieChart"></canvas>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var reqTemplateDiterima = /*[[${reqTemplateDiterima}]]*/ 0;
                        var reqTemplateDitolak = /*[[${reqTemplateDitolak}]]*/ 0;
                    
                        var data = {
                            labels: ['Diterima', 'Ditolak'],
                            datasets: [{
                                label: 'Status',
                                data: [reqTemplateDiterima, reqTemplateDitolak],
                                backgroundColor: [
                                    '#459a7d', // Warna untuk Diterima
                                    '#b1cdb8'   // Warna untuk Ditolak
                                ],
                                borderWidth: 1
                            }]
                        };
                    
                        const contentPie = {
                            type: 'pie',
                            data: data,
                            options: {
                                plugins: {
                                    legend: {
                                        position: 'bottom'
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio: false
                            }
                        };
                    
                        var myPieChart = new Chart(
                            document.getElementById('myPieChart'),
                            contentPie
                        );
                        /*]]>*/
                    </script>
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Overview Request Surat Berdasarkan Kategori'"></div>

                <div class="txtinput">
                    <canvas id="myBarKategoriReq"></canvas>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var jumlahRequestByKategori = /*[[${jumlahRequestByKategori}]]*/ {};
                        console.log("Data jumlah request per kategori:", jumlahRequestByKategori);
                        
                        var allCategories = ["Legal", "SDM", "Keuangan", "Sarana", "Kemahasiswaan"];
                        var data = [];
                        
                        allCategories.forEach(function(category) {
                            if (jumlahRequestByKategori.hasOwnProperty(category)) {
                                data.push(jumlahRequestByKategori[category]);
                            } else {
                                data.push(0);
                            }
                        });

                        var dataChart = {
                            labels: allCategories,
                            datasets: [{
                                label: "",
                                backgroundColor: '#459a7d',
                                borderColor: '#0f7454',
                                borderWidth: 1,
                                data: data
                            }]
                        };
                        
                        var barConfig = {
                            type: 'bar',
                            data: dataChart,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        
                        var myBarKategoriReq = new Chart(
                            document.getElementById('myBarKategoriReq'),
                            barConfig
                        );
                        /*]]>*/
                    </script>
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Statistik Jumlah Template Berdasarkan Kategori'"></div>

                <div class="txtinput">
                    <canvas id="myBarKategoriTemp"></canvas>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var activeTemplateByKategori = /*[[${activeTemplateByKategori}]]*/ {};
                        console.log("Data jumlah template active per kategori:", activeTemplateByKategori);
                        
                        var allCategories = ["Legal", "SDM", "Keuangan", "Sarana", "Kemahasiswaan"];
                        var data = [];
                        
                        allCategories.forEach(function(category) {
                            if (activeTemplateByKategori.hasOwnProperty(category)) {
                                data.push(activeTemplateByKategori[category]);
                            } else {
                                data.push(0);
                            }
                        });

                        var dataChart = {
                            labels: allCategories,
                            datasets: [{
                                label: "",
                                backgroundColor: '#459a7d',
                                borderColor: '#0f7454',
                                borderWidth: 1,
                                data: data
                            }]
                        };
                        
                        var barConfig = {
                            type: 'bar',
                            data: dataChart,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        
                        var myBarKategoriTemp = new Chart(
                            document.getElementById('myBarKategoriTemp'),
                            barConfig
                        );
                        /*]]>*/
                    </script>
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Statistik Jumlah Pertanyaan Yang Masuk Berdasarkan Status'"></div>

                <div class="txtinput">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${notAnsweredFaq}"></h2>
                                        <h5 class="card-title">Belum dijawab</h5>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${dieskalasiFaq}"></h2>
                                        <h5 class="card-title">Dieskalasi</h5>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${answeredFaq}"></h2>
                                        <h5 class="card-title">Terjawab</h5>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h2 class="card-text" th:text="${deletedFaq}"></h2>
                                        <h5 class="card-title">Dihapus</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Overview Surat Masuk Berdasarkan Status'"></div>

                <div class="txtinput">
                    <canvas id="myPie"></canvas>
                    
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var reqTemplateDiterima = /*[[${reqTemplateDiterima}]]*/ 0;
                        var reqTemplateDitolak = /*[[${reqTemplateDitolak}]]*/ 0;
                    
                        var data = {
                            labels: ['Diterima', 'Ditolak'],
                            datasets: [{
                                label: 'Status',
                                data: [reqTemplateDiterima, reqTemplateDitolak],
                                backgroundColor: [
                                    '#459a7d', // Warna untuk Diterima
                                    '#b1cdb8'   // Warna untuk Ditolak
                                ],
                                borderWidth: 1
                            }]
                        };
                    
                        const pieContent = {
                            type: 'pie',
                            data: data,
                            options: {
                                plugins: {
                                    legend: {
                                        position: 'bottom'
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio: false
                            }
                        };
                    
                        var myPie = new Chart(
                            document.getElementById('myPie'),
                            pieContent
                        );
                        /*]]>*/
                    </script>
                
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Statistik Jumlah Surat Keluar Berdasarkan Kategori'"></div>

                <div class="txtinput">
        
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Top Requester'"></div>

                <div class="txtinput">
                    <div class="container" style="margin: 0 auto;">
                        <div class="row-cols-1">
                            <div class="col">
                                <div class="card" style="min-width: 50%;">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                        <h4 class="card-text" th:text="${topRequester}" style="font-size: 24px;"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="label" th:text="'Statistik Jumlah Request Surat Berdasarkan Role'"></div>

                <div class="txtinput">
                    <canvas id="myDonut"></canvas>
                
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var allRoles = /*[[${allRoles}]]*/ [];
                        var jumlahRequestByRole = /*[[${jumlahRequestByRole}]]*/ {};

                        allRoles.forEach(function(role) {
                            if (!jumlahRequestByRole.hasOwnProperty(role)) {
                                jumlahRequestByRole[role] = 0;
                            }
                        });
                        
                        var labels = Object.keys(jumlahRequestByRole);
                        var data = Object.values(jumlahRequestByRole);
                        var backgroundColors = ['#0f7454', '#3a8b5a', '#459a7d', '#b1cdb8', '#253237'];
                        
                        var donutData = {
                            labels: labels,
                            datasets: [{
                                label: '',
                                data: data,
                                backgroundColor: backgroundColors.slice(0, labels.length),
                                borderWidth: 1
                            }]
                        };

                        const donutContent = {
                            type: 'doughnut',
                            data: donutData,
                            options: {
                                plugins: {
                                    legend: {
                                        position: 'bottom'
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio: false,
                                cutout: '50%'
                            }
                        };

                        var myDonut = new Chart(
                            document.getElementById('myDonut'),
                            donutContent
                        );
                        /*]]>*/
                    </script>                
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
