<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/css/global-final.css" />
    <link rel="stylesheet" href="/css/asset.css"/>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="permintaan-template">
        <b class="title-container">
            <span class="title-gradient">Dashboard</span>
        </b>  

        <nav th:replace="~{fragments/asset :: asset}"></nav>

        <div style="text-align:center; margin-top: 20px; margin-bottom: 20px;">
            <button class="chips active" id="overview">Overview</button>
            <button class="chips" id="suratMasuk">Surat Masuk</button>
            <button class="chips" id="suratKeluar">Surat Keluar</button>
        </div>

        
        <div class="container" style="width: 100%; max-width: 1200px;"> 
        
        <div id="overviewContent" class="content">
            <div class="row align-items-center">
                <div class="col">
                    <a th:href="@{'/surat-keluar/all'}" style="text-decoration: none; color: inherit;">
                        <div class="card border-0 m-3">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                <h2 class="card-text" th:text="${totalSuratKeluar}"></h2>
                                <h6 class="card-title">Surat Keluar</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{'/surat-masuk/all'}" style="text-decoration: none; color: inherit;">
                        <div class="card border-0 m-3">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                <h2 class="card-text" th:text="${totalSuratMasuk}"></h2>
                                <h6 class="card-title">Surat Masuk</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{'/faq'}" style="text-decoration: none; color: inherit;">
                        <div class="card border-0 m-3">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                <h2 class="card-text" th:text="${totalForumEsk}"></h2>
                                <h6 class="card-title">Forum Dieskalasi</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{'/ttd/request'}" style="text-decoration: none; color: inherit;">
                        <div class="card border-0 m-3">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                <h2 class="card-text" th:text="${totalBelumTtd}"></h2>
                                <h6 class="card-title">Surat Perlu TTD</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row align-items-center" style="margin-block: 40px;">
                <div class="col-8">
                    <div class="label p-1" style="text-align: center;">Rata-Rata Durasi Penandatanganan Surat</div>
                    <canvas id="barChartDurasiTtd" style="padding-right: 10px; height: 396px; width: 792px;"></canvas>

                    <!-- BAR CHART PERFORMA SURAT - KATEGORI -->
                    <script th:inline="javascript">
                        document.addEventListener('DOMContentLoaded', function () {
                            var mapAverageDurasiTtd = /*[[${mapAverageDurasiTtd}]]*/0;
                            var labels = Object.keys(mapAverageDurasiTtd);
                            var chartData = labels.map(function(key) {
                                return mapAverageDurasiTtd[key];
                            });
                    
                            const barChartDurasiTtd = document.getElementById('barChartDurasiTtd');
                        
                            new Chart(barChartDurasiTtd, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Hari',
                                        data: chartData,
                                        borderColor: '#459a7d',
                                        backgroundColor: '#459a7d',
                                    }]
                                }, 
                                options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    }
                                }
                            })
                        });
                    </script>
                </div>

                <div class="col-4">
                    <div class="row-cols-1" style="margin-bottom: 5px;">
                        <div class="label p-1" style="text-align: center;">Surat Masuk Didisposisi</div>
                    </div>
                    <div class="row-cols-1">
                        <canvas id="pieChartSuratMasukDisposisi" style="max-height: 170px;"></canvas>

                        <!-- PIE CHART SURAT MASUK DISPOSISI -->
                        <script th:inline="javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var suratMasukDisposisi = /*[[${suratMasukDisposisi}]]*/0;
                                var totalSuratMasuk = /*[[${totalSuratMasuk}]]*/0; 
                                var tidakDidisposisi = totalSuratMasuk - suratMasukDisposisi;

                                const pieChartSuratMasukDisposisi = document.getElementById('pieChartSuratMasukDisposisi');
                                new Chart(pieChartSuratMasukDisposisi, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ["Didisposisi", "Tidak"],
                                        datasets: [{
                                            label: 'Jumlah',
                                            data: [suratMasukDisposisi, tidakDidisposisi],
                                            backgroundColor: ['#459a7d', '#b1cdb8'],
                                        }]
                                    }, 
                                    options: {
                                        responsive: true,
                                        plugins: {
                                        legend: {
                                            position: 'right',
                                        },
                                        }
                                    }
                                })
                            });
                        </script>                    
                    </div>
                    <div class="row-cols-1" style="margin-top: 20px; margin-bottom: 5px;">
                        <div class="label p-1" style="text-align: center;">Surat Masuk Difollow-Up</div>
                    </div>
                    <div class="row-cols-1">
                        <canvas id="pieChartSuratMasukFollowUp" style="max-height: 170px;"></canvas>
                        
                        <!-- PIE CHART SURAT MASUK - FOLLOW UP -->
                        <script th:inline="javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var suratMasukFollowUp = /*[[${suratMasukFollowUp}]]*/0;
                                var totalSuratMasuk = /*[[${totalSuratMasuk}]]*/0; 
                                var tidakFollowUp = totalSuratMasuk - suratMasukFollowUp;
                        
                                const pieChartSuratMasukFollowUp = document.getElementById('pieChartSuratMasukFollowUp');
                            
                                new Chart(pieChartSuratMasukFollowUp, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ["Difollow-Up", "Tidak"],
                                        datasets: [{
                                            label: 'Jumlah',
                                            data: [suratMasukFollowUp, tidakFollowUp],
                                            backgroundColor: ['#459a7d', '#b1cdb8'],
                                        }]
                                    }, 
                                    options: {
                                        responsive: true,
                                        plugins: {
                                        legend: {
                                            position: 'right',
                                        },
                                        }
                                    }
                                })
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div id="suratMasukContent" class="content">
            <div class="row" style="margin-block: 40px; justify-content: space-between;" >
                <div class="col-8">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="label p-1" style="text-align: start;">Jumlah Surat Masuk per Waktu</div>
                        <div>
                            <button class="buttonWaktu" id="tahunIni">Tahun ini</button>
                            <button class="buttonWaktu" id="bulanIni">Bulan ini</button>
                            <button class="buttonWaktu active" id="mingguIni">Minggu ini</button>
                        </div>
                    </div>
                    
                    <canvas id="barChartSuratMasuk" style="padding-right: 10px; height: 396px; width: 792px;"></canvas>

                    <!-- BAR CHART SURAT MASUK PER WAKTU -->
                    <script th:inline="javascript">
                        let barChartSuratMasuk;
                        var mapSuratMasukTahun = /*[[${mapSuratMasukTahun}]]*/0;
                        var mapSuratMasukBulan = /*[[${mapSuratMasukBulan}]]*/0;
                        var mapSuratMasukMinggu = /*[[${mapSuratMasukMinggu}]]*/0;

                        document.addEventListener('DOMContentLoaded', function() {
                            const ctx = document.getElementById('barChartSuratMasuk');
                    
                            barChartSuratMasuk = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [],
                                    datasets: [
                                        {
                                            label: 'Surat Masuk',
                                            data: [],
                                            backgroundColor: '#459a7d',
                                        },
                                    ]
                                },
                                options: {
                                    scales: {
                                        y: { beginAtZero: true }
                                    },
                                    responsive: true,
                                    plugins: {
                                        legend: { position: 'top' }
                                    }
                                }
                            });
                    
                            updateChartData(mapSuratMasukMinggu, barChartSuratMasuk);

                            document.querySelectorAll('.buttonWaktu').forEach(button => {
                                button.addEventListener('click', function() {
                                    document.querySelectorAll('.buttonWaktu').forEach(btn => btn.classList.remove('active'));
                                    this.classList.add('active');
                    
                                    let mapSuratMasuk;
                                    switch (this.id) {
                                        case 'tahunIni':
                                            mapSuratMasuk = mapSuratMasukTahun;
                                            break;
                                        case 'bulanIni':
                                            mapSuratMasuk = mapSuratMasukBulan;
                                            break;
                                        case 'mingguIni':
                                            mapSuratMasuk = mapSuratMasukMinggu;
                                            break;
                                    }

                                    updateChartData(mapSuratMasuk, barChartSuratMasuk);
                                });
                            });
                        });
                    
                        function updateChartData(mapSuratMasuk, chart) {
                            var labels = Object.keys(mapSuratMasuk);
                            var dataSuratMasuk = labels.map(key => mapSuratMasuk[key]);
                    
                            chart.data.labels = labels;
                            chart.data.datasets[0].data = dataSuratMasuk;
                            chart.update();
                        }

                    </script>
                </div>

                <div class="col-4">
                    <div class="row-cols-1">
                        <div class="label p-1" style="text-align: center;">Jumlah Surat Masuk per Kategori</div>
                    </div>
                    <div class="row-cols-1">
                        <canvas id="pieChartSuratMasukKategori" style="max-height: 390px;"></canvas>

                        <!-- PIE CHART SURAT MASUK KATEGORI -->
                        <script th:inline="javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var mapSuratMasukKategori = /*[[${mapSuratMasukKategori}]]*/0;
                                var labels = Object.keys(mapSuratMasukKategori);
                                var dataSuratMasuk = labels.map(function(key) {
                                    return mapSuratMasukKategori[key];
                                });
                        
                                const pieChartSuratMasukKategori = document.getElementById('pieChartSuratMasukKategori');
                            
                                new Chart(pieChartSuratMasukKategori, {
                                    type: 'pie',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: 'Surat Masuk',
                                            data: dataSuratMasuk,
                                            backgroundColor: ['#06533a', '#0c855e', '#24bf8e', '#5bcaa7', '#4b937c', '#3d6d5e'],
                                        }]
                                    }, 
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                        }
                                    }
                                })
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div id="suratKeluarContent" class="content">
            <div class="row" style="margin-block: 40px; justify-content: space-between;" >
                <div class="col-8">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="label p-1" style="text-align: start;">Jumlah Surat Keluar per Waktu</div>
                        <div>
                            <button class="buttonWaktu" id="tahunIni">Tahun ini</button>
                            <button class="buttonWaktu" id="bulanIni">Bulan ini</button>
                            <button class="buttonWaktu active" id="mingguIni">Minggu ini</button>
                        </div>
                    </div>
                    
                    <canvas id="barChartSuratKeluar" style="padding-right: 10px; height: 396px; width: 792px;"></canvas>

                    <!-- BAR CHART SURAT KELUAR PER WAKTU -->
                    <script th:inline="javascript">
                        let barChartSuratKeluar;
                        var mapSuratKeluarTahun = /*[[${mapSuratKeluarTahun}]]*/0;
                        var mapSuratKeluarBulan = /*[[${mapSuratKeluarBulan}]]*/0;
                        var mapSuratKeluarMinggu = /*[[${mapSuratKeluarMinggu}]]*/0;

                        document.addEventListener('DOMContentLoaded', function() {
                            const ctx = document.getElementById('barChartSuratKeluar');

                            barChartSuratKeluar = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [],
                                    datasets: [
                                        {
                                            label: 'Surat Keluar',
                                            data: [],
                                            backgroundColor: '#459a7d',
                                        }
                                    ]
                                },
                                options: {
                                    scales: {
                                        y: { beginAtZero: true }
                                    },
                                    responsive: true,
                                    plugins: {
                                        legend: { position: 'top' }
                                    }
                                }
                            });

                            updateChartData(mapSuratKeluarMinggu, barChartSuratKeluar);

                            document.querySelectorAll('.buttonWaktu').forEach(button => {
                                button.addEventListener('click', function() {
                                    document.querySelectorAll('.buttonWaktu').forEach(btn => btn.classList.remove('active'));
                                    this.classList.add('active');

                                    let mapSuratKeluar;
                                    switch (this.id) {
                                        case 'tahunIni':
                                            mapSuratKeluar = mapSuratKeluarTahun;
                                            break;
                                        case 'bulanIni':
                                            mapSuratKeluar = mapSuratKeluarBulan;
                                            break;
                                        case 'mingguIni':
                                            mapSuratKeluar = mapSuratKeluarMinggu;
                                            break;
                                    }

                                    updateChartData(mapSuratKeluar, barChartSuratKeluar);
                                });
                            });
                        });

                        function updateChartData(mapSuratKeluar, chart) {
                            var labels = Object.keys(mapSuratKeluar);
                            var dataSuratKeluar = labels.map(key => mapSuratKeluar[key]);

                            chart.data.labels = labels;
                            chart.data.datasets[0].data = dataSuratKeluar;
                            chart.update();
                        }

                    </script>
                </div>

                <div class="col-4">
                    <div class="row-cols-1">
                        <div class="label p-1" style="text-align: center;">Jumlah Surat Keluar per Kategori</div>
                    </div>
                    <div class="row-cols-1">
                        <canvas id="pieChartSuratKeluarKategori" style="max-height: 390px;"></canvas>
                        <!-- PIE CHART SURAT KELUAR KATEGORI -->
                        <script th:inline="javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var mapSuratKeluarKategori = /*[[${mapSuratKeluarKategori}]]*/0;
                                var labels = Object.keys(mapSuratKeluarKategori);
                                var dataSuratKeluar = labels.map(function(key) {
                                    return mapSuratKeluarKategori[key];
                                });

                                const pieChartSuratKeluarKategori = document.getElementById('pieChartSuratKeluarKategori');
                            
                                new Chart(pieChartSuratKeluarKategori, {
                                    type: 'pie',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: 'Surat Keluar',
                                            data: dataSuratKeluar,
                                            backgroundColor: ['#06533a', '#0c855e', '#24bf8e', '#5bcaa7', '#4b937c', '#3d6d5e'],
                                        }]
                                    }, 
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                        }
                                    }
                                })
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
           var buttons = document.querySelectorAll(".chips");

           buttons.forEach(function(button) {
               button.addEventListener("click", function() {
                   buttons.forEach(function(btn) {
                       btn.classList.remove("active");
                   });

                   this.classList.add("active");
               });
           });
       });

       document.addEventListener("DOMContentLoaded", function() {
           var allContents = document.querySelectorAll(".content");
           allContents.forEach(function(content) {
               content.style.display = "none";
           });
           
           // Tampilkan konten grafik default (requestSuratContent) saat halaman dimuat
           document.getElementById("overviewContent").style.display = "block";
   
           // Tampilkan konten grafik yang sesuai saat tombol yang sesuai diklik
           document.getElementById("overview").addEventListener("click", function() {
               showContent("overviewContent");
           });
           document.getElementById("suratMasuk").addEventListener("click", function() {
               showContent("suratMasukContent");
           });
           document.getElementById("suratKeluar").addEventListener("click", function() {
               showContent("suratKeluarContent");
           });
   
           function showContent(contentId) {
               allContents.forEach(function(content) {
                   content.style.display = "none";
               });
               document.getElementById(contentId).style.display = "block";
           }
       });
    </script>


</body>

</html>