<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/detail-surat.css"/>
    <link rel="stylesheet" href="/css/button.css"/>
    
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="detail-surat-diajukan">
    <b class="pengajuan-permohonan-surat-container">
        <span class="pengajuan">Detail</span>
        <span> Permintaan Template</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>

    <form th:action="@{/template/request/detail/{id}/updateStatus(id=${requestTemplate.id})}" method="post">
        <div class="frame-parent">
            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">ID Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.id}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Jenis Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.kategori}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Bahasa</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.bahasa}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Nama Pengaju</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.pengaju.nama}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Keperluan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.keperluan}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Tanggal Pengajuan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.tanggalPengajuan}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Deskripsi</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.listFieldData[0].value}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Status</div>
                </div>

                <div class="content-wrapper-dropdown" th:if="${requestTemplate.status == 1}">
                    <select class="content-dropdown" th:field="${requestTemplate.status}" onchange="toggleReasonField(this)">
                        <option th:each="entry : ${statusMap.entrySet()}"
                                th:value="${entry.key}" th:text="${entry.value}"
                                th:selected="${entry.key == requestTemplate.status}">
                        </option>
                    </select>
                </div>

                <div class="content-wrapper-dropdown" th:if="${requestTemplate.status == 2 || requestTemplate.status == 3}">
                    <div class="content-dropdown" th:text="${statusMap[requestTemplate.status]}"></div>
                </div>
            </div>

            <div class="row" th:if="${requestTemplate.status == 3}">
                <div class="detail-wrapper">
                    <div class="detail">Alasan Penolakan</div>
                </div>
                <div class="content-wrapper">
                    <div class="content" th:text="${requestTemplate.alasanPenolakan}"></div>
                </div>
            </div>

            <div class="row" id="reasonField" style="display: none;">
                <div class="detail-wrapper">
                    <div class="detail">Alasan Penolakan</div>
                </div>

                <div class="content-wrapper">
                    <textarea class="content" th:field="${requestTemplate.alasanPenolakan}" style="width: 100%; height: 50px;"></textarea>
                </div>
            </div>

            <div class="frame-button" th:if="${base64PDF != null}">
                <h3 class="label6">Contoh File Surat</h3>
                <embed th:attr="src='data:application/pdf;base64,' + ${base64PDF}" type="application/pdf" width="100%" height="500px">
            </div>

            <div class="text-center action-buttons" th:if="${requestTemplate.status == 1}">
                <button type="submit" class="primary-long-button">Simpan perubahan</button>
            </div>
        </div>
    </form>
</div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:inline="javascript">
    function toggleReasonField(select) {
        var selectedValue = select.value;
        var reasonField = document.getElementById("reasonField");
        var alasanPenolakan = document.getElementById("alasanPenolakan");

        if (selectedValue === '3') {
            reasonField.style.display = "block";
            alasanPenolakan.required = true; // Set required attribute
        } else {
            reasonField.style.display = "none";
            alasanPenolakan.required = false; // Remove required attribute
        }
    }
</script>
</body>
</html>

