<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/detail-surat-masuk.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    />
  </head>
  <body>
    <div class="detail-semua-arsip">
      <div class="navbar2">
        <div class="frame-home">
          <div class="wrapper-group-82">
            <img
              class="wrapper-group-8-inner"
              loading="lazy"
              alt=""
              src="./public/group-8.svg"
            />
          </div>
          <div class="sub-frames">
            <b class="beranda2">Beranda</b>
          </div>
          <div class="sub-frames1">
            <b class="request-surat2">Request Surat</b>
          </div>
          <div class="frame-details">
            <b class="arsip-surat2">Arsip Surat</b>
            <img
              class="iconoutlinechevron-down4"
              alt=""
              src="./public/iconoutlinechevrondown.svg"
            />
          </div>
          <div class="sub-frames2">
            <b class="template-surat2">Template Surat</b>
          </div>
          <div class="sub-frames3">
            <b class="faq2">FAQ</b>
          </div>
        </div>
        <header class="navbar-inner"></header>
        <div class="footer-container">
          <div class="header-section">
            <div class="button17">
              <div class="admin2">Admin</div>
              <img
                class="iconoutlinechevron-down5"
                alt=""
                src="./public/iconoutlinechevrondown-1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <img
        class="detail-semua-arsip-child"
        alt=""
        src="./public/group-65@2x.png"
      />

      <main class="sub-detail-frame">
        <section class="label-frame">
          <img
            class="label-frame-child"
            loading="lazy"
            alt=""
            src="./public/group-64.svg"
          />

          <div class="arsip-surat-frame">
            <h1 class="detail-surat">
              <span class="detail">Detail</span>
              <span> Surat</span>
            </h1>
          </div>
        </section>
        <section class="button-download">
          <form class="surat-details">
            <div class="i-d-surat7">
              <div class="k-u-frame">
                <div class="types-frame">
                  <div class="id-surat2">ID Surat</div>
                </div>
                <div class="rektor-frame">
                  <div class="ku0016">KU001</div>
                </div>
              </div>
              <div class="k-u-frame1">
                <div class="jenis-surat-container">
                  <div class="jenis-surat2">Jenis Surat</div>
                </div>
                <div class="keuangan-wrapper2">
                  <div class="keuangan8">Keuangan</div>
                </div>
              </div>
              <div class="k-u-frame2">
                <div class="nomor-surat-container">
                  <div class="nomor-surat2">Nomor Surat</div>
                </div>
                <div class="itsiii2023-wrapper3">
                  <div class="itsiii20236">08.006/ITS/III/2023</div>
                </div>
              </div>
              <div class="k-u-frame3">
                <div class="pengirim-container">
                  <div class="pengirim7">Pengirim</div>
                </div>
                <div class="rektor-universitas-andalas-wrapper1">
                  <div class="rektor-universitas-andalas4">
                    Rektor Universitas Andalas
                  </div>
                </div>
              </div>
              <div class="k-u-frame4">
                <div class="bentuk-surat-container">
                  <div class="bentuk-surat2">Bentuk Surat</div>
                </div>
                <div class="soft-copy-container">
                  <div class="soft-copy2">Soft Copy</div>
                </div>
              </div>
              <div class="k-u-frame5">
                <div class="keperluan-container">
                  <div class="keperluan3">Keperluan</div>
                </div>
                <div class="undangan-makan-malam-dies-nata-container">
                  <div class="undangan-makan-malam1">
                    Undangan makan malam dies natalis
                  </div>
                </div>
              </div>
              <div class="k-u-frame6">
                <div class="tanggal-surat-masuk-container">
                  <div class="tanggal-surat-masuk5">Tanggal Surat Masuk</div>
                </div>
                <div class="agustus-2022-wrapper3">
                  <div class="agustus-20226">8 Agustus 2022</div>
                </div>
              </div>
              <div class="k-u-frame7">
                <div class="tanggal-surat-keluar-wrapper">
                  <div class="tanggal-surat-keluar">Tanggal Surat Keluar</div>
                </div>
                <div class="agustus-2022-wrapper4">
                  <div class="agustus-20227">12 Agustus 2022</div>
                </div>
              </div>
            </div>
            <div class="undangan-frame">
              <div class="label-parent">
                <h1 class="label1">Preview Surat</h1>
                <button class="button18">
                  <img
                    class="octicondownload-16"
                    alt=""
                    src="./public/octicondownload16.svg"
                  />

                  <div class="download-surat">Download surat</div>
                </button>
              </div>
              <img
                class="image-20-icon"
                loading="lazy"
                alt=""
                src="./public/image-20@2x.png"
              />

              <div class="button19">
                <div class="disposisi">Disposisi</div>
              </div>
            </div>
          </form>
        </section>
      </main>
      <div class="footer2">
        <div class="r-t-x-team-frame">
          <div class="developedby-frame">
            <h3 class="developed-by-rtx2">Developed by rt(x) Team</h3>
            <h3 class="propensi-d022">Propensi D02</h3>
          </div>
          <div class="incollaborationwith-frame">
            <h3 class="in-collaboration-with2">In collaboration with</h3>
            <div class="tazkia-instance-all-rights-res">
              <img
                class="image-1-icon2"
                loading="lazy"
                alt=""
                src="./public/image-1@2x.png"
              />

              <img
                class="image-18-icon2"
                loading="lazy"
                alt=""
                src="./public/image-18@2x.png"
              />
            </div>
          </div>
        </div>
        <footer class="developercredit">
          <h3 class="copyright-2024-tazkia2">
            © Copyright 2024 Tazkia Institute. All Rights Reserved.
          </h3>
        </footer>
      </div>
    </div>
  </body>
</html>
