<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/detail-surat.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="detail-surat-diajukan">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Detail</span>
            <span> Surat Keluar</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>
        
        <div class="frame-parent">
          <div class="row">
              <div class="detail-wrapper">
                  <div class="detail">Perihal</div>
              </div>

              <div class="content-wrapper">
                  <div class="content" th:text="${suratKeluar.perihal}"></div>
              </div>
          </div>

          <div class="row">
              <div class="detail-wrapper">
                  <div class="detail">Nomor Arsip</div>
              </div>

              <div class="content-wrapper">
                  <div class="content" th:text="${suratKeluar.nomorArsip}"></div>
              </div>
          </div>

          <div class="row" th:if="${suratKeluar.arsipSurat != null}">
            <div class="detail-wrapper">
                <div class="detail">Surat Masuk Terkait</div>
            </div>

            <div class="content-wrapper">
                <a class="content" 
                th:href="@{'/surat-masuk/detail/' + ${suratKeluar.arsipSurat}}"
                th:text="${suratKeluar.arsipSurat}"></a>
            </div>
          </div>

          <div class="row">
              <div class="detail-wrapper">
                  <div class="detail">Tanggal Dibuat</div>
              </div>

              <div class="content-wrapper">
                  <div class="content" th:text="${suratKeluar.tanggalDibuat}"></div>
              </div>
          </div>

          <div class="row">
              <div class="detail-wrapper">
                  <div class="detail">Kategori</div>
              </div>

              <div class="content-wrapper">
                  <div class="content" th:text="${suratKeluar.kategori}"></div>
              </div>
          </div>

          <div class="row" th:if="${suratKeluar.jenisSurat != null}">
              <div class="detail-wrapper">
                  <div class="detail">Jenis Surat</div>
              </div>

              <div class="content-wrapper">
                  <div class="content" th:text="${suratKeluar.jenisSurat}"></div>
              </div>
          </div>

          <div class="row" th:if="${suratKeluar.penerimaEksternal != ' '}">
              <div class="detail-wrapper">
                  <div class="detail">Penerima Eksternal</div>
              </div>

              <div class="content-wrapper">
                <div class="content" th:text="${suratKeluar.penerimaEksternal}"></div>
              </div>
          </div>

          <div class="row" th:if="${suratKeluar.pengaju != null}">
            <div class="detail-wrapper">
                <div class="detail">Pengaju</div>
            </div>

            <div class="content-wrapper">
              <div class="content" th:text="${suratKeluar.pengaju.nama}"></div>
            </div>
        </div>

          <div class="row">
              <div class="detail-wrapper">
                  <div class="detail">Nama File</div>
              </div>

              <div class="content-wrapper">
                  <div class="content" th:text="${suratKeluar.fileName}"></div>
              </div>
          </div>

          <h3 class="label6" th:if="${suratKeluar.currentPenandatangan != null}">Tanda Tangan</h3>

          <div class="row" th:if="${suratKeluar.currentPenandatangan != null}">
            <div class="detail-wrapper">
                <div class="detail">Penandatangan</div>
            </div>

            <div class="content-wrapper">
                <div class="content" th:text="${suratKeluar.currentPenandatangan.nama}"></div>
            </div>
          </div>

          <div class="row" th:if="${suratKeluar.currentPenandatangan != null}">
            <div class="detail-wrapper">
                <div class="detail">Status Tanda Tangan</div>
            </div>

            <div class="content-wrapper">
                <div class="content" th:text="${suratKeluar.isSigned ? 'Selesai ditandatangani' : 'Perlu tanda tangan'}"></div>
            </div>
          </div>

          <div class="frame-button">
              <h3 class="label6">Preview Surat</h3>
              <embed th:attr="src='data:application/pdf;base64,' + ${base64PDF}" type="application/pdf" width="100%" height="500px">
          </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
