<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Detail Surat Masuk</title>
    <link rel="stylesheet" href="/css/global-surat-masuk.css" />
    <link rel="stylesheet" href="/css/detail-surat-masuk.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  </head>
  <body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="detail-arsip-surat-diterima">
      <div class="soft-copy-text1">
        <img
          class="soft-copy-text-child"
          loading="lazy"
          alt=""
          src="/images/kiri.svg"
        />

        <div class="date-info-frame">
          <h1 class="detail-surat">
            <span class="detail">Detail</span>
            <span> Surat</span>
          </h1>
        </div>
      </div>
      <img
        class="detail-arsip-surat-diterima-child"
        alt=""
        src="/images/kanan.svg"
      />
      <!-- Detail Display Section -->
      <main class="details-frame">
        <form class="i-d-surat-jenis-nomor-pengirim">
          <!-- Detail display content -->
          <div>
            <!-- perihal -->
            <div class="frame-i-d-details">
              <div class="i-d-label-surat">
                <div class="id-surat1">Perihal</div>
              </div>
              <div class="follow-up-button">
                <div class="ku0011" th:text="${suratMasuk.perihal}"></div>
              </div>
            </div>
            <!-- Nomor Surat -->
            <div class="frame-i-d-details">
              <div class="i-d-label-surat">
                <div class="id-surat1">Nomor Surat</div>
              </div>
              <div class="follow-up-button">
                <div class="ku0011" th:text="${suratMasuk.nomorArsip}"></div>
              </div>
            </div>
            <!-- tanggal -->
            <div class="frame-i-d-details2">
              <div class="nomor-surat-container">
                <div class="nomor-surat1">Tanggal Dibuat</div>
              </div>
              <div class="itsiii2023-container">
                <div
                  class="itsiii20231"
                  th:text="${suratMasuk.tanggalDibuat}"
                ></div>
              </div>
            </div>
            <!-- Kategori -->
            <div class="frame-i-d-details1">
              <div class="jenis-surat-container">
                <div class="jenis-surat1">Kategori</div>
              </div>
              <div class="keuangan-container">
                <div class="keuangan2" th:text="${suratMasuk.kategori}"></div>
              </div>
            </div>
            <!-- status -->
            <div class="frame-i-d-details3">
              <div class="pengirim-container">
                  <div class="pengirim1">Status</div>
              </div>
              <div class="rektor-universitas-andalas-container">
                  <div class="rektor-universitas-andalas1" th:if="${suratMasuk.isDisposisi and !suratMasuk.isFollowUp}">Didisposisi</div>
                  <div class="rektor-universitas-andalas1" th:if="${suratMasuk.isDisposisi and suratMasuk.isFollowUp}">Didisposisi dan difollow-up</div>
                  <div class="rektor-universitas-andalas1" th:if="${suratMasuk.isFollowUp and !suratMasuk.isDisposisi}">Difollow-up</div>
                  <div class="rektor-universitas-andalas1" th:unless="${suratMasuk.isDisposisi or suratMasuk.isFollowUp}">Diarsipkan</div>
              </div>
            </div>
            <!-- Bentuk Surat -->
            <div class="frame-i-d-details4">
              <div class="bentuk-surat-container">
                <div class="bentuk-surat1">Pengirim</div>
              </div>
              <div class="soft-copy-container">
                <div class="soft-copy1" th:text="${suratMasuk.pengirim}"></div>
              </div>
            </div>
            <!-- filename -->
            <div class="frame-i-d-details6">
              <div class="tanggal-surat-masuk-container">
                <div class="tanggal-surat-masuk1">Nama File</div>
              </div>
              <div class="agustus-2022-container">
                <div
                  class="agustus-20221"
                  th:text="${suratMasuk.fileName}"
                ></div>
              </div>
            </div>

            <!-- surat follow up if surat follow up is not null -->
            <div
              class="frame-i-d-details1"
              th:if="${suratMasuk.suratFollowUp != null}"
            >
              <div class="jenis-surat-container">
                <div class="jenis-surat1">Surat Follow Up</div>
              </div>
              <div class="keuangan-container">
                <a
                  class="keuangan2"
                  th:href="@{'/surat-keluar/detail/' + ${suratMasuk.suratFollowUp.nomorArsip}}"
                  th:text="${suratMasuk.suratFollowUp.nomorArsip}"
                ></a>
              </div>
            </div>
            <!-- tembusan -->
            <div
              class="frame-i-d-details5 tembusan-container"
              th:if="${suratMasuk.tembusan.isEmpty() == false}"
            >
              <div class="frame-div">
                <div class="keperluan3">Tembusan</div>
              </div>
              <div
                class="undangan-makan-malam-dies-nata-container"
                style="display: flex; flex-wrap: wrap"
              >
                <div
                  class="undangan-makan-malam1"
                  th:each="tembusanItem, iterStat : ${suratMasuk.tembusan}"
                  th:text="${tembusanItem + (iterStat.last ? '' : ', ')}"
                  th:if="${!#lists.isEmpty(suratMasuk.tembusan)}"
                  style="margin-right: 5px"
                >
                  >
                </div>
              </div>
            </div>
          </div>

          <div th:if="${suratMasuk.penandatangan != null}">
            <div style="margin-bottom: 30px;">
              <h3 class="label6">Tanda Tangan</h3>
            </div>
            <div>
              <!-- ttd -->
              <div class="frame-i-d-details1">
                <div class="jenis-surat-container">
                  <div class="jenis-surat1">penandatangan</div>
                </div>
                <div class="keuangan-container">
                  <div
                    class="keuangan2"
                    th:text="${suratMasuk.penandatangan.nama}"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Footer with Download Button -->
          <div class="footer-frame">
            <div style="margin-bottom: 30px;">
              <h3 class="label6">Preview Surat</h3>
            </div>
            <!-- Embed PDF using Base64 content -->
            <embed
              class="image-20-icon"
              th:attr="src='data:application/pdf;base64,' + ${base64PDF}"
              type="application/pdf"
              width="100%"
              height="300px"
            />
          </div>

          <!-- Follow Up and Disposisi Buttons if surat followup null -->
          <div class="follow-up-group">
            <a
              class="button5"
              th:if="${suratMasuk.suratFollowUp == null}"
              th:href="@{'/surat-masuk/follow-up/' + ${suratMasuk.nomorArsip}}"
            >
              <div class="follow-up">Follow Up</div>
            </a>
            <!-- Tampilkan tombol disposisi jika status surat bukan 3 -->
            <div class="chevrondown-icon">
              <a
                class="button6"
                th:href="@{'/surat-masuk/disposisi/' + ${suratMasuk.nomorArsip}}"
              >
                <div class="disposisi">Disposisi</div>
              </a>
            </div>
          </div>
        </form>
      </main>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html>
