<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Disposisi Arsip</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./disposisi-surat.css" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    />
  </head>

  <body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="disposisi-surat">
      <header class="navbar4">
        <div class="wrapper-group-8-group">
          <div class="wrapper-group-83">
            <img
              class="wrapper-group-8-child1"
              loading="lazy"
              alt=""
              src="./public/group-81.svg"
            />
          </div>
          <div class="request-surat3">
            <b class="beranda3">Beranda</b>
          </div>
          <div class="request-surat4">
            <b class="request-surat5">Request Surat</b>
          </div>
          <div class="arsip-surat-container">
            <b class="arsip-surat3">Arsip Surat</b>
            <img
              class="iconoutlinechevron-down6"
              alt=""
              src="./public/iconoutlinechevrondown.svg"
            />
          </div>
          <div class="request-surat6">
            <b class="template-surat3">Template Surat</b>
          </div>
          <div class="request-surat7">
            <b class="faq3">FAQ</b>
          </div>
        </div>
        <div class="rectangle-div"></div>
        <div class="admin-button-wrapper">
          <div class="admin-button1">
            <div class="button22">
              <div class="admin3">Admin</div>
              <img
                class="iconoutlinechevron-down7"
                alt=""
                src="./public/iconoutlinechevrondown-1.svg"
              />
            </div>
          </div>
        </div>
      </header>
      <img
        class="disposisi-surat-child"
        alt=""
        src="./public/group-65@2x.png"
      />

      <section class="footer-info1">
        <img
          class="footer-info-child"
          loading="lazy"
          alt=""
          src="./public/group-64.svg"
        />

        <div class="label-disposisi">
          <h1 class="disposisi-surat1">
            <span class="disposisi1">Disposisi</span>
            <span> Surat</span>
          </h1>
        </div>
      </section>
      <section class="confirmation-button-wrapper">
        <div class="confirmation-button">
          <div class="cancel-button">
            <div class="label2">Masukkan alamat email yang dituju</div>
            <form class="collaborator-logos">
              <div class="gmail-logo-parent">
                <div class="gmail-logo">
                  <div class="cacaccacacacacagmailcom">
                    cacaccacacacaca@gmail.com
                  </div>
                </div>
                <button class="delete-button-wrapper">
                  <div class="delete-button">
                    <div class="button23">
                      <img
                        class="lets-iconsadd-round"
                        alt=""
                        src="./public/letsiconsaddround.svg"
                      />
                    </div>
                  </div>
                </button>
              </div>
              <div class="frame-parent6">
                <div class="cacaccacacacacagmailcom-wrapper">
                  <input
                    class="cacaccacacacacagmailcom1"
                    placeholder="cacaccacacacaca@gmail.com"
                    type="text"
                  />
                </div>
                <div class="frame-wrapper">
                  <div class="button-parent1">
                    <div class="button24">
                      <img
                        class="lets-iconsadd-round1"
                        loading="lazy"
                        alt=""
                        src="./public/letsiconsaddround.svg"
                      />
                    </div>
                    <div class="button25">
                      <img
                        class="mdidelete-icon"
                        loading="lazy"
                        alt=""
                        src="./public/mdidelete.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent7">
                <div class="cacaccacacacacagmailcom-container">
                  <input
                    class="cacaccacacacacagmailcom2"
                    placeholder="cacaccacacacaca@gmail.com"
                    type="text"
                  />
                </div>
                <div class="frame-wrapper1">
                  <div class="button-parent2">
                    <div class="button26">
                      <img
                        class="lets-iconsadd-round2"
                        loading="lazy"
                        alt=""
                        src="./public/letsiconsaddround.svg"
                      />
                    </div>
                    <div class="button27">
                      <img
                        class="mdidelete-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/mdidelete.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent8">
                <div class="cacaccacacacacagmailcom-frame">
                  <input
                    class="cacaccacacacacagmailcom3"
                    placeholder="cacaccacacacaca@gmail.com"
                    type="text"
                  />
                </div>
                <div class="frame-wrapper2">
                  <div class="button-parent3">
                    <div class="button28">
                      <img
                        class="lets-iconsadd-round3"
                        loading="lazy"
                        alt=""
                        src="./public/letsiconsaddround.svg"
                      />
                    </div>
                    <div class="button29">
                      <img
                        class="mdidelete-icon2"
                        loading="lazy"
                        alt=""
                        src="./public/mdidelete.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="button30">
            <div class="disposisikan-surat">Disposisikan surat</div>
          </div>
        </div>
      </section>
      <section class="footer3">
        <div class="frame-parent9">
          <div class="developed-by-rtx-team-group">
            <h3 class="developed-by-rtx3">Developed by rt(x) Team</h3>
            <h3 class="propensi-d023">Propensi D02</h3>
          </div>
          <div class="collaborator-label">
            <h3 class="in-collaboration-with3">In collaboration with</h3>
            <div class="image-1-parent1">
              <img
                class="image-1-icon3"
                loading="lazy"
                alt=""
                src="./public/image-1@2x.png"
              />

              <img
                class="image-18-icon3"
                loading="lazy"
                alt=""
                src="./public/image-18@2x.png"
              />
            </div>
          </div>
        </div>
        <footer class="r-t-x-team-footer">
          <h3 class="copyright-2024-tazkia3">
            © Copyright 2024 Tazkia Institute. All Rights Reserved.
          </h3>
        </footer>
      </section>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

  </body>
</html>
