<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/asset.css"/>
    <link rel="stylesheet" href="/css/button.css"/>
    <link rel="stylesheet" href="/css/faq.css"/>
  </head>

  <body>

    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="content-container">

        <b class="title-container">
            <span class="title-gradient">Forum</span>
            <span>Pertanyaan</span>
        </b>
    
        <nav th:replace="~{fragments/asset :: asset}"></nav>
    
        <br><br>

        <div class="search-bar" th:unless="${#lists.isEmpty(faqsTerjawab)}">
            <form th:action="@{/faq}" method="get">
                <div class="search-box">
                    <img class="search-icon" alt="" src="/images/search.svg" />
                    <input class="ketik-kata-kunci" placeholder="Cari pertanyaan..." type="text" name="search" />
                </div>
            </form>
        </div>

        <br><br><br>

        <div th:each="faq : ${faqsTerjawab}" class="accordion-container mb-4">
            <div class="accordion">
                <strong th:text="${faq.pertanyaan}"></strong>
                <img class="chevron" alt="Expand/collapse" src="/images/chevron-down.svg"/>
            </div>
            <div class="panel" th:text="${faq.jawaban}"></div>
        </div>

        <br><br><br>

        <div class="row form-question">
            <div class="col-md-3" style="justify-content: center;">
                <div class="row">
                    <img class="faq-person img-fluid" src="/images/faq-person.svg"/>
                </div>
                <div class="row">
                    <a th:href="@{/faq/user-faq/terjawab}" style="color: #459a7d; margin-block: 10px; text-align: left; font-size: 18px; font-weight: 900;">
                        Lihat Pertanyaan Saya
                    </a>
                </div>
            </div>
            <form class="col-md-9 question-form" th:action="@{/faq/tanya}" th:object="${newFaq}" method="POST">
                <div class="row" th:unless="${#lists.isEmpty(faqsTerjawab)}">
                    <p style="padding-left: 0px; font-weight: 600;">Masih memiliki pertanyaan? Tidak dapat menemukan jawaban yang Anda cari?</p>
                </div>
                <div class="row" th:unless="${#lists.isEmpty(faqsTerjawab)}">
                    <p style="padding-left: 0px; font-weight: 600;">Silahkan kirimkan pertanyaan Anda kepada tim kami.</p>
                </div>
                <div class="row" th:if="${#lists.isEmpty(faqsTerjawab)}">
                    <p style="padding-left: 0px; font-weight: 600;">Belum ada pertanyaan yang sudah terjawab.</p>
                </div>
                <div class="row" th:if="${#lists.isEmpty(faqsTerjawab)}">
                    <p style="padding-left: 0px; font-weight: 600;">Jika ada yang ingin ditanyakan, silahkan kirimkan pertanyaan Anda kepada tim kami.</p>
                </div>
                <div class="row">
                    <textarea class="form-control faq-input" rows="4" th:field="*{pertanyaan}" placeholder="Type your question here" required></textarea>
                </div>
                <br>
                <div class="row question-submit-row" style="align-items: end;">
                   <button type="submit" class="btn btn-primary question-submit" style="font-weight: 600;">Kirim pertanyaan</button>
                </div>
            </form>
        </div>

    </div>

    <br><br><br>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                panel.classList.toggle("active");
                var chevron = this.querySelector('.chevron');
                if (chevron) {
                    chevron.classList.toggle("chevron-rotate");
                }
            });
        }
    </script>

  </body>

</html>
