<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/asset.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>
    <link rel="stylesheet" href="/css/button.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <!-- Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="permintaan-template">
        <b class="title-container">
            <span class="title-gradient">Forum</span>
            <span>Pertanyaan</span>
        </b>
    
        <nav th:replace="~{fragments/asset :: asset}"></nav>

        <div class="tabs-group" id="tab">
              <a class="tab-link" data-toggle="tab" href="#belumDijawab">Belum Dijawab</a>
              <a class="tab-link" data-toggle="tab" href="#dieskalasi">Dieskalasi</a>
              <a class="tab-link" data-toggle="tab" href="#terjawab">Terjawab</a>
              <a class="tab-link" data-toggle="tab" href="#dihapus">Dihapus</a>
        </div>
    
        <br>

        <!-- BELUM DIJAWAB -->
        <div class="tab-pane" id="belumDijawab">
            <div class="table-container">
                <table id="belumDijawabAdm" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">No.</th>
                            <th style="width: 70%; text-align: center; vertical-align: middle;">Pertanyaan</th>
                            <th style="width: 20%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="faq, stat : ${faqsBelumDijawab}" th:unless="${#lists.isEmpty(faqsBelumDijawab)}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${faq.pertanyaan}" style="text-align: left;"></td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/faq/' + ${faq.id} + '/jawab'}" class="warning-button" style="margin-right: 10px;">
                                    <div class="warning-text">Jawab</div>
                                </a>

                                <a th:href="@{'/faq/' + ${faq.id} + '/hapus'}" class="cancel-button">
                                    <div class="primary-text">Hapus</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- DIESKALASI -->
        <div class="tab-pane" id="dieskalasi">
            <div class="table-container">
                <table id="dieskalasiAdm" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">No.</th>
                            <th style="width: 90%; text-align: center; vertical-align: middle;">Pertanyaan</th>
                        </tr>
                    </thead>
                    <tbody style="font-weight: 400;">
                        <tr th:each="faq, stat : ${faqsDieskalasi}" th:unless="${#lists.isEmpty(faqsDieskalasi)}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${faq.pertanyaan}" style="text-align: left; font-weight: 400;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- TERJAWAB -->
        <div class="tab-pane" id="terjawab">
            <div class="table-container">
                <table id="terjawabAdm" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">No.</th>
                            <th style="width: 55%; text-align: center; vertical-align: middle;">Pertanyaan</th>
                            <th style="width: 35%; text-align: center; vertical-align: middle;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="faq, stat : ${faqsTerjawab}" th:unless="${#lists.isEmpty(faqsTerjawab)}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${faq.pertanyaan}" style="text-align: left;"></td>
                            <td style="display: flex; justify-content: space-between; border: none;">
                                <a th:href="@{'/faq/' + ${faq.id} + '/detail'}" class="primary-button">
                                    <div class="primary-text">Detail</div>
                                </a>

                                <a th:href="@{'/faq/' + ${faq.id} + '/edit'}" class="warning-button">
                                    <div class="warning-text">Ubah</div>
                                </a>

                                <a th:href="@{'/faq/' + ${faq.id} + '/hapus'}" class="cancel-button">
                                    <div class="primary-text">Hapus</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

         <!-- DIHAPUS -->
         <div class="tab-pane" id="dihapus">
            <div class="table-container">
                <table id="dihapusAdm" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center; vertical-align: middle;">No.</th>
                            <th style="width: 90%; text-align: center; vertical-align: middle;">Pertanyaan</th>
                        </tr>
                    </thead>
                    <tbody style="font-weight: 400;">
                        <tr th:each="faq, stat : ${faqsDihapus}" th:unless="${#lists.isEmpty(faqsDihapus)}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${faq.pertanyaan}" style="text-align: left; font-weight: 400;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br><br><br><br>

    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
       
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pageKey = 'faqAdminPage'; // Gunakan identifikasi unik untuk setiap halaman
            const tabs = document.querySelectorAll('#tab .tab-link');
            const tabPanes = document.querySelectorAll('.tab-pane');
            let savedActiveTab = sessionStorage.getItem(pageKey);
        
            console.log('Saved active tab from session:', savedActiveTab); // Log untuk debugging
        
            function setActiveTab(activeTabId) {
                console.log('Setting active tab:', activeTabId); // Log untuk debugging
                document.querySelectorAll('.tab-link.active, .tab-pane.active').forEach(el => {
                    el.classList.remove('active', 'show');
                });
                const activeTab = document.querySelector(`.tab-link[href="${activeTabId}"]`);
                const activePane = document.querySelector(activeTabId);
                if (activeTab && activePane) {
                    activeTab.classList.add('active');
                    activePane.classList.add('active', 'show');
                }
                sessionStorage.setItem(pageKey, activeTabId);
                if(document.getElementById('hiddenActiveTab')) {
                    document.getElementById('hiddenActiveTab').value = activeTabId; // Update hidden input
                }
            }
        
            // Tentukan tab default atau pulihkan tab sebelumnya
            if (!savedActiveTab) {
                console.log('No saved tab, setting default to #semua'); // Log untuk debugging
                setActiveTab('#belumDijawab');
            } else {
                setActiveTab(savedActiveTab);
            }
        
            tabs.forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    setActiveTab(this.getAttribute('href'));
                });
            });
        });

        new DataTable('#belumDijawabAdm');
        new DataTable('#dieskalasiAdm');
        new DataTable('#terjawabAdm');
        new DataTable('#dihapusAdm');
    </script>
</body>
</html>
