<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/asset.css"/>
    <link rel="stylesheet" href="/css/faq.css"/>
    <link rel="stylesheet" href="/css/button.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>

</head>

<body>
	<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="page-container">
    
        <nav th:replace="~{fragments/asset :: asset}"></nav>

            <b class="title-container">
                <span class="title-gradient">Jawab</span>
                <span>Pertanyaan</span>
            </b>

            <br><br><br><br><br><br>

            <div class="pertanyaan-box">
                <span th:text="${newFaq.pertanyaan}"></span>
            </div>

            <br>

            <form th:action="@{/faq/{idFAQ}/jawab (idFAQ=${newFaq.id})}" th:object="${newFaq}" method="POST" class="answer-form">
                <input class="form-control" type="hidden" th:field="*{id}" />
                <input class="form-control" type="hidden" th:field="*{status}" />
                <input class="form-control" type="hidden" th:field="*{pertanyaan}"/>
                <div class="col">
                    <div class="row">
                        <textarea class="form-control faq-input" style="min-height: 150px;" th:field="*{jawaban}" placeholder="Jawab pertanyaan di sini" required></textarea>
                    </div>
                    
                    <br><br>

                    <div th:if="${role == 'Admin'}" class="row" style="justify-content: end;">
                        <!-- Button trigger modal -->
                        <a class="primary-large-outline-button" style="width: 200px; margin-right: 20px;" type="button" 
                            data-bs-toggle="modal" th:attr="data-bs-target=${'#confirmationModal' + newFaq.id}">
                            <div class="lihat-permintaan-template">Eskalasi ke Pengurus</div>
                        </a>
                        <button type="submit" class="primary-large-button" style="width: 200px;">
                            <div class="tambah-template">Submit</div>
                        </button>
                    </div>

                    <div th:if="${role == 'Pengurus'}" class="row" style="justify-content: end;">
                        <button type="submit" class="primary-large-button" style="width: 200px;">
                            <div class="tambah-template">Submit</div>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" th:id="${'confirmationModal' + newFaq.id}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 450px; height: fit-content; padding: 15px;">
                                <div class="modal-header" style="border-bottom: none; justify-content: center;">
                                    <h5 class="modal-title"><strong>Eskalasi Forum ke Pengurus</strong></h5>
                                </div>
                                <div class="modal-body m-0">
                                    <p style="font-size: large; text-align: center;">
                                        Apakah Anda yakin ingin mengeskalasi forum ini ke pengurus? 
                                        Eskalasi forum dapat dilakukan jika Anda kurang mengerti dalam menjawab pertanyaan tersebut.
                                    </p>
                                </div>
                                <div class="modal-footer" style="border-top: none; justify-content: center; gap: 5px">   
                                    <button type="button" class="cancel-button m-0" data-bs-dismiss="modal" aria-label="Close">
                                        <div class="primary-text">Cancel</div>
                                    </button>
                                    <a th:href="@{/faq/{idFAQ}/eskalasi (idFAQ=${newFaq.id})}">
                                        <button type="button" class="primary-button m-0">
                                            <div class="primary-text">Eskalasi</div>
                                        </button>
                                    </a>                            
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <br><br><br><br>
    </div>

	<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>