<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Input Arsip</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/form-surat-masuk.css" />
    <link rel="stylesheet" href="/css/global-daftar-template.css" />
    <link rel="stylesheet" th:href="@{/css/riwayat-surat.css}"/> 
    
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    />
  </head>

  <body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="tambah-template2">
      <section class="home-frame">
        <div class="sub-group-container">
          <img
            class="sub-group-container-child"
            loading="lazy"
            alt=""
            src="/images/kiri.svg"
          />

          <div class="label-pair">
            <h1 class="input-surat-masuk-container">
              <span class="input-surat-masuk-container1">
                <span class="input">Input</span>
                <span>Arsip</span>
              </span>
            </h1>
          </div>

          <img class="tambah-template-item" alt="" src="/images/kanan.svg" />
        </div>
      </section>

      <section class="attach-button">
        <div class="label-input-frame">
          <div class="label-frame">
            <form
              action="/surat-keluar/upload"
              method="post"
              enctype="multipart/form-data"
            >
              <!-- <div class="text-input-frame">
                <div class="label8">Judul</div>
                <input
                  class="text-input14"
                  type="text"
                  id="judul"
                  name="judul"
                  required
                />
              </div> -->
              <div class="text-input-frame">
                <div class="label8">Perihal</div>
                <input
                  class="text-input14"
                  type="text"
                  id="perihal"
                  name="perihal"
                  required
                />
              </div>
              <br>
              <div class="text-input-frame">
                <label for="kategori" class="label9">Kategori:</label>
                <select
                  class="text-input14"
                  id="kategori"
                  name="kategori"
                  required
                >
                  <option value="">-- Pilih Kategori --</option>
                  <option value="Legal">Legal</option>
                  <option value="SDM">SDM</option>
                  <option value="Keuangan">Keuangan</option>
                  <option value="Sarana">Sarana</option>
                  <option value="Lainnya">Lainnya</option>
                </select>
              </div>
              <br />
              <div class="text-input-frame">
                <div class="label8">Penerima</div>
                <input
                  class="text-input14"
                  type="text"
                  id="penerima_eksternal"
                  name="penerima_eksternal"
                  required
                />
              </div>
              <br />
              

              <br /><br /><br />
              <div class="form-group">
                <div class="upload-illustration-frame">
                  <div class="file-input">
                    <div class="secondary-message">secondary message</div>
                    <div class="rectangle-frame">
                      <div class="arsip-surat-frame">
                        <div class="button-frame1">
                          <label class="upload-illustration" for="file">
                            <div class="chevrondown-icon">
                              <div class="wrapper-group">
                                <img
                                  class="group-icon"
                                  alt=""
                                  src="/images/upload-atas.svg"
                                />
                              </div>
                              <img
                                class="chevrondown-icon-child"
                                alt=""
                                src="/images/upload.svg"
                              />

                              <img
                                class="chevrondown-icon-item"
                                loading="lazy"
                                alt=""
                                src="/images/upload-kanan.svg"
                              />
                            </div>
                            <img
                              class="upload-illustration-child"
                              alt=""
                              src="/images/upload-kiri.svg"
                            />
                          </label>
                          <input
                            type="file"
                            class="custom-file-input"
                            id="file"
                            name="file"
                            required
                          />
                        </div>
                        <h3 class="upload-file-kamu-container">
                          <span>Upload</span>
                          <span class="file-kamu-di">
                            file kamu di sini (Max. 2MB)</span
                          >
                        </h3>
                        <span class="file-name"></span>
                        <br />
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br /><br /><br />
              <section class="creator-info-frame">
                <button type="submit" class="button15">
                  <div class="buat-template">Simpan</div>
                </button>
              </section>
            </form>
          </div>
        </div>
      </section>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
      document.getElementById("file").addEventListener("change", function () {
        var fileName = this.files[0].name;
        document.querySelector(".file-name").textContent = fileName;
      });

    </script>
  </body>
</html>
