<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

	<title>SMAIL</title>
</head>

<body>
	<!-- <nav th:replace="~{fragments/navbar :: navbar}"></nav> -->
	<nav th:replace="~{fragments/navbarUser :: navbarUser}"></nav>

	Hello World!
    <h3 th:text="'Selamat datang, ' + ${nama}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email, ' + ${email}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email pengguna, ' + ${email_pengguna}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'id, ' + ${id}" class="bold-h3 text-color-title"></h3>
	<p></p>

	Hello World!
    <h3 th:text="'Selamat datang, ' + ${nama}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email, ' + ${email}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email pengguna, ' + ${email_pengguna}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'id, ' + ${id}" class="bold-h3 text-color-title"></h3>
	<p></p>

	Hello World!
    <h3 th:text="'Selamat datang, ' + ${nama}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email, ' + ${email}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email pengguna, ' + ${email_pengguna}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'id, ' + ${id}" class="bold-h3 text-color-title"></h3>
	<p></p>

	Hello World!
    <h3 th:text="'Selamat datang, ' + ${nama}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email, ' + ${email}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'email pengguna, ' + ${email_pengguna}" class="bold-h3 text-color-title"></h3>
    <h3 th:text="'id, ' + ${id}" class="bold-h3 text-color-title"></h3>
	<p></p>

	<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
