<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  
  <body>
    <div class="homepage">
      <div class="frame-a">
        <nav class="navbar">
          <div class="wrapper-group-7-parent">
            <div class="wrapper-group-7">
              <img
                class="wrapper-group-7-child"
                loading="lazy"
                alt=""
                src="/images/logo-smail-lg.svg"
              />
            </div>
            <div class="slogan-text">
              <b class="smail">SMAIL</b>
            </div>
          </div>
          <div class="navbar-child"></div>
        </nav>

        <div class="button-frame-a">
          <div class="google-sign-i-n">
            <div class="sub-f-r-a-m-e-b">
              <div class="wrapper-group-71">
                <img
                  class="wrapper-group-7-item"
                  loading="lazy"
                  alt=""
                  src="/images/logo-smail-lg.svg"
                />
              </div>
              <div class="text-frame-a">
                <div class="welcome-label">
                  <div class="selamat-datang-di">Selamat datang di</div>
                  <div class="button-text-a">
                    <b class="smail1">SMAIL</b>
                    <div class="institut-tazkia">Institut Tazkia</div>
                  </div>
                </div>

                <a class="button" th:href="@{/oauth2/authorization/google}">
                  <img class="uimgoogle-icon" alt="" src="/images/google.svg" />
                  <div class="button1">Masuk dengan Google</div>
                </a>
              </div>
            </div>
            <div class="group-b">
              <img
                class="group-of-frames"
                loading="lazy"
                alt=""
                src="/images/group-surat.svg"
              />
            </div>
          </div>
        </div>
      </div>

      <br><br><br>

      <div class="first-vector-frame">
        <img class="vector-node-icon" loading="lazy" alt="" src="/images/white-hill.svg"/>
        <div class="sekilas-info-frame"></div>
      </div>

      <div id="carouselExampleControls" class="carousel slide carousel-fade custom-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="frame-parent">
              <div class="frame-wrapper">
                <div class="proses-persuratan-dapat-dilaku-parent">
                  <b class="proses-persuratan-dapat-container">
                    <p class="proses-persuratan-dapat">
                      Proses persuratan dapat dilakukan kapan pun
                    </p>
                    <p class="kapan-pun-dan">dan di mana pun</p>
                  </b>

                  <div class="cukup-dengan-membuka">
                    Cukup dengan membuka SMAIL, pengguna bisa mengajukan permohonan
                    surat melalui gadget yang dimiliki.
                  </div>
                </div>
              </div>
              <img
                class="vectary-texture-icon"
                loading="lazy"
                alt=""
                src="/images/display-request.png"
              />
            </div>
          </div>

          <div class="carousel-item">
            <div class="frame-parent">
              <div class="frame-wrapper">
                <div class="proses-persuratan-dapat-dilaku-parent">
                  <b class="proses-persuratan-dapat-container">
                    <p class="proses-persuratan-dapat">
                      Riwayat surat dapat digunakan untuk memantau
                    </p>
                    <p class="kapan-pun-dan">proses pengajuan surat</p>
                  </b>
                  
                  <div class="cukup-dengan-membuka">
                    Pengguna dapat melihat status pengajuan surat, apakah ditolak, diproses, atau sudah selesai.
                  </div>
                </div>
              </div>
              <img
                class="vectary-texture-icon"
                loading="lazy"
                alt=""
                src="/images/display-history.png"
              />
            </div>
          </div>

          <div class="carousel-item">
            <div class="frame-parent">
              <div class="frame-wrapper">
                <div class="proses-persuratan-dapat-dilaku-parent">
                  <b class="proses-persuratan-dapat-container">
                    <p class="proses-persuratan-dapat">
                      Ajukan pertanyaan jika menemui kendala pada SMAIL
                    </p>
                  </b>
                  
                  <div class="cukup-dengan-membuka">
                    Temukan solusinya dengan menggunakan forum ini.
                  </div>
                </div>
              </div>
              <img
                class="vectary-texture-icon"
                loading="lazy"
                alt=""
                src="/images/display-faq.png"
              />
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <div class="content-container" th:unless="${faqsTerjawab.isEmpty()}">

        <br><br><br>

        <b class="title-container" style="margin: 0;">
            <span class="title-gradient">Forum</span>
            <span>Pertanyaan</span>
        </b>
        
        <br><br><br>

        <div th:each="faq : ${faqsTerjawab}" class="accordion-container">
          <div class="accordion">
            <strong>Berapa lama surat yang saya ajukan akan diproses?</strong>
            <img class="chevron" alt="Expand/collapse" src="/images/chevron-down.svg"/>
          </div>
          <div class="panel">Surat akan diproses selama 3-5 hari kerja</div>
          
          <br>
          
          <div class="accordion">
            <strong>Apakah saya akan mendapatkan notifikasi jika surat yang saya ajukan telah selesai diproses?</strong>
            <img class="chevron" alt="Expand/collapse" src="/images/chevron-down.svg"/>
          </div>
          <div class="panel">Ya, anda akan mendapatkan notifikasi melalui email</div>

          <br>

          <div class="accordion">
            <strong th:text="${faq.pertanyaan}"></strong>
            <img class="chevron" alt="Expand/collapse" src="/images/chevron-down.svg"/>
          </div>
          <div class="panel" th:text="${faq.jawaban}"></div>

          <br>

        </div>

        <br><br><br><br>

      </div>

    </div>
    
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              panel.classList.toggle("active");
              var chevron = this.querySelector('.chevron');
              if (chevron) {
                  chevron.classList.toggle("chevron-rotate");
              }
          });
      }

      // carousel
      
    </script>

  </body>
</html>
