<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>
    <link rel="stylesheet" href="/css/button.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <!-- Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="page-container">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Daftar</span>
            <span> Permohonan Surat</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>

        <div class="content-wrapper" style="margin-inline: 10px;">    
            <div th:if="${role == 'Pengurus'}">
                <div class="tabs-group">
                    <a class="tab-link active" th:href="@{/ttd/request}">Request Surat</a>
                    <a class="tab-link" th:href="@{/ttd/arsip}">Surat Follow-Up</a>
                </div>
                <br>
            </div>
            
            <div th:unless="${role == 'Pengurus'}">
                <br><br><br>
            </div>

            <div class="tab-pane active">                
                <div class="table-container">
                    <table id="request-ttd" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 10%; text-align: center; vertical-align: middle;">ID Request</th>
                                <th style="width: 25%; text-align: center; vertical-align: middle;">Jenis Surat</th>
                                <th style="width: 15%; text-align: center; vertical-align: middle;">Nama Pengaju</th>
                                <th style="width: 10%; text-align: center; vertical-align: middle;">Nomor Surat</th>
                                <th style="width: 15%; text-align: center; vertical-align: middle;">Tanggal Pengajuan</th>
                                <th style="width: 15%; text-align: center; vertical-align: middle;">Status TTD</th>
                                <th style="width: 10%; text-align: center; vertical-align: middle;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="requestSurat: ${requestSurats}">
                                <td th:text="${requestSurat.id}"></td>
                                <td th:text="${requestSurat.jenisSurat}" style="text-align: left;"></td>
                                <td>
                                    <span th:text="${requestSurat.pengaju.nama}"></span>
                                </td>
                                <td>
                                    <!-- Display SuratKeluar nomorSurat if available, otherwise show 'N/A' -->
                                    <span th:text="${requestSurat.surat != null ? requestSurat.surat.nomorArsip : 'N/A'}"></span>
                                </td>
                                <td th:text="${#dates.format(requestSurat.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                                <td th:style="${requestSurat.status == 4} ? 'color: red;' : ''"
                                    th:text="${requestSurat.status == 4 ? 'Perlu tanda tangan' : 'Selesai ditandatangani'}"></td>
                                <td style="display: flex; justify-content: space-between; border: none;">
                                    <a th:href="@{/ttd/detail/{id}(id=${requestSurat.id})}" class="primary-button">
                                        <div class="primary-text">Detail</div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
        new DataTable('#request-ttd');
    </script>
</body>
</html>
