<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/detail-surat.css" />
    <link rel="stylesheet" href="/css/button.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  </head>

  <body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="detail-surat-diajukan">
      <b class="pengajuan-permohonan-surat-container">
        <span class="pengajuan">Detail</span>
        <span> Surat </span>
      </b>

      <nav th:replace="~{fragments/asset :: asset}"></nav>

      <div class="frame-parent" th:each="suratKeluar: ${suratKeluar}">
        <form
          th:action="@{/ttd/followup/{id}(id=${suratKeluar.nomorArsip})}"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- perihal  -->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Perihal</div>
            </div>

            <div class="content-wrapper">
              <div class="content" th:text="${suratKeluar.perihal}"></div>
            </div>
          </div>

          <!-- nomor arsip -->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Nomor Arsip</div>
            </div>

            <div class="content-wrapper">
              <div class="content" th:text="${suratKeluar.nomorArsip}"></div>
            </div>
          </div>

          <!-- surat masuk terkait -->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Surat Masuk Terkait</div>
            </div>

            <div class="content-wrapper">
              <a
                th:href="@{'/surat-masuk/detail/' + ${suratKeluar.arsipSurat}}"
              >
                <div class="content" th:text="${suratKeluar.arsipSurat}"></div>
              </a>
            </div>
          </div>

          <!-- tanggal pengajuan -->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Tanggal Pengajuan</div>
            </div>

            <div class="content-wrapper">
              <div
                class="content"
                th:text="${#dates.format(suratKeluar.tanggalDibuat, 'dd-MM-yyyy HH:mm')}"
              ></div>
            </div>
          </div>

          <!-- kategori -->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Kategori</div>
            </div>

            <div class="content-wrapper">
              <div class="content" th:text="${suratKeluar.kategori}"></div>
            </div>
          </div>

          <!-- penerima eksternal-->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Penerima Eksternal</div>
            </div>

            <div class="content-wrapper">
              <div
                class="content"
                th:text="${suratKeluar.penerimaEksternal}"
              ></div>
            </div>
          </div>

          <!-- pengaju -->
          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Pengaju</div>
            </div>

            <div class="content-wrapper">
              <div class="content" th:text="${suratKeluar.pengaju.nama}"></div>
            </div>
          </div>

          <!-- nama file -->
          <div class="row" th:if="${suratKeluar.fileName != ''}">
            <div class="detail-wrapper">
              <div class="detail">Nama File</div>
            </div>

            <div class="content-wrapper">
              <div class="content" th:text="${suratKeluar.fileName}"></div>
            </div>
          </div>

          <!-- TTD  -->

          <h3 class="label6">Tanda Tangan</h3>

          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Penandatangan</div>
            </div>

            <div class="content-wrapper">
              <div
                class="content"
                th:text="${suratKeluar.currentPenandatangan.nama}"
              ></div>
            </div>
          </div>

          <div class="row">
            <div class="detail-wrapper">
              <div class="detail">Status Tanda Tangan</div>
            </div>

            <div class="content-wrapper">
              <div
                class="content"
                th:text="${suratKeluar.isSigned ? 'Selesai ditandatangani' : 'Perlu tanda tangan'}"
              ></div>
            </div>
          </div>

          <br />
          <div class="frame-button" th:if="${base64PDF != null}">
            <h3 class="label6">Preview Surat</h3>
            <embed
              th:attr="src='data:application/pdf;base64,' + ${base64PDF}"
              type="application/pdf"
              width="100%"
              height="500px"
            />
          </div>
          <br />
          <div th:if="${suratKeluar.isSigned == false}">
            <div class="form-group">
              <div class="upload-illustration-frame">
                <div class="file-input">
                  <div class="secondary-message">secondary message</div>
                  <div class="rectangle-frame">
                    <div class="arsip-surat-frame">
                      <div class="button-frame1">
                        <label class="upload-illustration" for="file">
                          <div class="chevrondown-icon">
                            <div class="wrapper-group">
                              <img
                                class="group-icon"
                                alt=""
                                src="/images/imagetengah.png"
                              />
                            </div>
                            <img
                              class="chevrondown-icon-child"
                              alt=""
                              src="/images/upload.svg"
                            />

                            <img
                              class="chevrondown-icon-item"
                              loading="lazy"
                              alt=""
                              src="/images/imagekanan.png"
                            />
                          </div>
                          <img
                            class="upload-illustration-child"
                            alt=""
                            src="/images/imagekiri.png"
                          />
                        </label>
                        <input
                          type="file"
                          class="custom-file-input"
                          id="file"
                          name="file"
                        />
                      </div>
                      <h3 class="upload-file-kamu-container">
                        <span>Upload</span>
                        <span class="file-kamu-di">
                          file yang sudah ditandatangani di sini dalam format
                          .pdf</span
                        >
                      </h3>
                      <span class="file-name"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center action-buttons">
              <button type="submit" class="primary-long-button">Simpan perubahan</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
      let listFieldValues = []; // Array to store input values

      document.getElementById("file").addEventListener("change", function () {
        var fileName = this.files[0].name;
        document.querySelector(".file-name").textContent = fileName;
      });
    </script>
  </body>
</html>
