<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" th:href="@{/css/riwayat-surat.css}"/>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    />
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="permintaan-template">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Profile</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>

        <section class="button-frame">
            <div class="inner-frame">
                <div class="ellipse-shape-parent">
                    <div class="ellipse-shape">
                        <div class="text-input-frame">
                            <div class="text-input">
                                <div class="label">Nama Lengkap</div>
                                <div class="text-input1">
                                    <div class="placeholder-text">
                                        <div class="placeholder" th:text="${nama}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-input2">
                                <div class="label1" th:text="${role == 'Mahasiswa' ? 'NPM' : 'NIP'}"></div>
                                <div class="text-input3">
                                    <div class="placeholder-text1">
                                        <div class="placeholder" th:text="${id}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-input4">
                                <div class="label2">Email</div>
                                <div class="text-input5">
                                    <div class="placeholder-text2">
                                        <div class="placeholder" th:text="${email}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-input6">
                                <div class="label3">Role</div>
                                <div class="text-input7">
                                    <div class="placeholder-text3">
                                        <div class="placeholder" th:text="${role}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br><br><br>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
    