<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>

    <link rel="stylesheet" href="/css/request-surat.css"/>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    />
</head>

<body>
    <div class="ajukan-surat">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Pengajuan</span>
            <span> Permohonan Surat</span>
        </b>

        <img class="ajukan-surat-child" alt="" src="/images/kiri.svg" />
        <img class="ajukan-surat-item" alt="" src="/images/kanan.svg" />

        <form th:action="@{/request-template}" th:object="${requestTemplate}" method="POST">
<!--        <form th:action="@{/api/request-template/new}" th:object="${requestTemplate}" method="POST">-->
            <div class="text-input-parent">
                <div class="text-input">
                    <div class="label">Bahasa</div>
                    <div class="text-input7">
                        <select name="bahasa" class="form-select" th:field="*{bahasa}">
                            <option th:each="entry : ${listBahasa}" th:value="${entry.key}" th:text="${entry.value}"></option>
                        </select>
                    </div>
                </div>

                <div class="label-parent">
                    <div class="label">Bentuk Surat</div>
                    <div class="frame-parent">
                        <div class="radio-parent">
                            <input type="radio" id="softCopy" name="jenisDokumen" value="softCopy" />
                            <div class="label-group">
                                <div class="body-14pt">Soft Copy</div>
                                <div class="body-14pt">Surat dapat diunduh di website ini.</div>
                            </div>
                        </div>

                        <div class="radio-parent">
                            <input type="radio" id="hardCopy" name="jenisDokumen" value="hardCopy" />
                            <div class="label-group">
                                <div class="body-14pt">Hard Copy</div>
                                <div class="body-14pt">
                                    Surat dapat diambil di kantor administrasi.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="error-message-wrapper">
                        <div class="placeholder">
                            Jika membutuhkan hardcopy dan softcopy untuk surat yang sama,
                            silakan buat dua pengajuan yang berbeda.
                        </div>
                    </div>
                </div>

                <div class="text-input">
                    <div class="label">Jenis Surat</div>
                    <div class="text-input7">
                        <select name="kategori" class="form-select" th:field="*{kategori}">
                            <option th:each="entry : ${listKategori}" th:value="${entry.key}" th:text="${entry.value}"></option>
                        </select>
                    </div>
                </div>

                <div class="text-input">
                    <div class="label">Keperluan</div>
                    <div class="text-input7">
                        <input type="text" class="form-control" th:field="*{keperluan}" required/>
                    </div>
                </div>

                <div class="text-center action-buttons">
                    <button type="submit" class="button">Ajukan Surat</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
