<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/semua-surat-masuk.css" />
  </head>
  
  <body>
    <div class="semua-arsip">
      <section class="archive-frame">
        <div class="navbar1">
          <div class="navbar-instance">
            <div class="wrapper-group-81">
              <img
                class="wrapper-group-8-item"
                loading="lazy"
                alt=""
                src="./public/group-8.svg"
              />
            </div>
            <div class="frame-set">
              <b class="beranda1">Beranda</b>
            </div>
            <div class="frame-set1">
              <b class="request-surat1">Request Surat</b>
            </div>
            <div class="text-label">
              <b class="arsip-surat1">Arsip Surat</b>
              <img
                class="iconoutlinechevron-down2"
                alt=""
                src="./public/iconoutlinechevrondown.svg"
              />
            </div>
            <div class="frame-set2">
              <b class="template-surat1">Template Surat</b>
            </div>
            <div class="frame-set3">
              <b class="faq1">FAQ</b>
            </div>
          </div>
          <header class="navbar-item"></header>
          <div class="search-field">
            <div class="finance-frame">
              <div class="button3">
                <div class="admin1">Admin</div>
                <img
                  class="iconoutlinechevron-down3"
                  alt=""
                  src="./public/iconoutlinechevrondown-1.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="archipelago-group">
          <img
            class="archipelago-group-child"
            loading="lazy"
            alt=""
            src="./public/group-64.svg"
          />

          <div class="keuangan-group">
            <h1 class="semua-arsip1">
              <span class="semua">Semua</span>
              <span> Arsip</span>
            </h1>
          </div>
        </div>
      </section>
      <img class="semua-arsip-child" alt="" src="./public/group-65@2x.png" />

      <section class="date-frame">
        <form class="navbar-group">
          <div class="frame-archive">
            <div class="frame-semua-arsip">
              <div class="button4">
                <img class="search-icon" alt="" src="./public/search.svg" />

                <input class="keuangan2" placeholder="Keuangan" type="text" />
              </div>
              <div class="rektor-universitas-andalas-fra">
                <button class="button5">
                  <img
                    class="solarcalendar-outline-icon"
                    alt=""
                    src="./public/solarcalendaroutline.svg"
                  />

                  <div class="periode-20212022">Periode 2021/2022</div>
                </button>
                <button class="button6">
                  <img
                    class="fluentfilter-12-regular-icon"
                    alt=""
                    src="./public/fluentfilter12regular.svg"
                  />

                  <div class="filters">Filters</div>
                </button>
              </div>
            </div>
          </div>
          <div class="pengirim-frame">
            <div class="tanggal-surat-masuk-group">
              <button class="i-d-surat1">
                <div class="id-surat1">ID Surat</div>
              </button>
              <button class="i-d-surat2">
                <div class="jenis-surat1">Jenis Surat</div>
              </button>
              <button class="i-d-surat3">
                <div class="nomor-surat1">Nomor Surat</div>
              </button>
              <button class="i-d-surat4">
                <div class="pengirim1">Pengirim</div>
              </button>
              <button class="i-d-surat5">
                <div class="tanggal-surat-masuk1">Tanggal Surat Masuk</div>
              </button>
              <button class="i-d-surat6">
                <div class="action">Action</div>
              </button>
            </div>
            <div class="itsiiiframe">
              <div class="pengirim2">
                <div class="tanggal-surat-masuk2">
                  <div class="ku0011">KU001</div>
                </div>
                <div class="rektorframe">
                  <div class="keuangan3">Keuangan</div>
                </div>
                <div class="keuanganframes">
                  <div class="itsiii20231">08.006/ITS/III/2023</div>
                </div>
                <div class="tanggal-surat-masuk3">
                  <div class="rektor-universitas-andalas1">
                    Rektor Universitas Andalas
                  </div>
                </div>
                <div class="agustusframes">
                  <div class="agustus-20221">8 Agustus 2022</div>
                </div>
                <div class="tanggal-surat-masuk4">
                  <button class="button7">
                    <div class="button8">Detail</div>
                  </button>
                </div>
              </div>
              <div class="pengirim3">
                <div class="ku001-wrapper">
                  <div class="ku0012">KU001</div>
                </div>
                <div class="keuangan-container">
                  <div class="keuangan4">Keuangan</div>
                </div>
                <div class="itsiii2023-container">
                  <div class="itsiii20232">08.006/ITS/III/2023</div>
                </div>
                <button class="maritza-rahayu-2106751474-wrapper">
                  <div class="maritza-rahayu-2106751474">
                    Maritza Rahayu (2106751474)
                  </div>
                </button>
                <div class="agustus-2022-container">
                  <div class="agustus-20222">8 Agustus 2022</div>
                </div>
                <div class="button-wrapper">
                  <button class="button9">
                    <div class="button10">Detail</div>
                  </button>
                </div>
              </div>
              <div class="pengirim4">
                <div class="ku001-container">
                  <div class="ku0013">KU001</div>
                </div>
                <div class="keuangan-frame">
                  <div class="keuangan5">Keuangan</div>
                </div>
                <div class="itsiii2023-frame">
                  <div class="itsiii20233">08.006/ITS/III/2023</div>
                </div>
                <div class="rektor-universitas-andalas-container">
                  <div class="rektor-universitas-andalas2">
                    Rektor Universitas Andalas
                  </div>
                </div>
                <div class="agustus-2022-frame">
                  <div class="agustus-20223">8 Agustus 2022</div>
                </div>
                <div class="button-container">
                  <button class="button11">
                    <div class="button12">Detail</div>
                  </button>
                </div>
              </div>
              <div class="pengirim5">
                <div class="ku001-frame">
                  <div class="ku0014">KU001</div>
                </div>
                <div class="frame-div">
                  <div class="keuangan6">Keuangan</div>
                </div>
                <div class="itsiii2023-wrapper1">
                  <div class="itsiii20234">08.006/ITS/III/2023</div>
                </div>
                <button class="maritza-rahayu-2106751474-container">
                  <div class="maritza-rahayu-21067514741">
                    Maritza Rahayu (2106751474)
                  </div>
                </button>
                <div class="agustus-2022-wrapper1">
                  <div class="agustus-20224">8 Agustus 2022</div>
                </div>
                <div class="button-frame">
                  <button class="button13">
                    <div class="button14">Detail</div>
                  </button>
                </div>
              </div>
              <div class="pengirim6">
                <div class="ku001-wrapper1">
                  <div class="ku0015">KU001</div>
                </div>
                <div class="keuangan-wrapper1">
                  <div class="keuangan7">Keuangan</div>
                </div>
                <div class="itsiii2023-wrapper2">
                  <div class="itsiii20235">08.006/ITS/III/2023</div>
                </div>
                <div class="rektor-universitas-andalas-frame">
                  <div class="rektor-universitas-andalas3">
                    Rektor Universitas Andalas
                  </div>
                </div>
                <div class="agustus-2022-wrapper2">
                  <div class="agustus-20225">8 Agustus 2022</div>
                </div>
                <div class="button-wrapper1">
                  <button class="button15">
                    <div class="button16">Detail</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
      <footer class="footer1">
        <div class="developerframe">
          <div class="rtxteamframe">
            <h3 class="developed-by-rtx1">Developed by rt(x) Team</h3>
            <h3 class="propensi-d021">Propensi D02</h3>
          </div>
          <div class="in-collaboration-with-parent">
            <h3 class="in-collaboration-with1">In collaboration with</h3>
            <div class="logopairframe">
              <img
                class="image-1-icon1"
                loading="lazy"
                alt=""
                src="./public/image-1@2x.png"
              />

              <img
                class="image-18-icon1"
                loading="lazy"
                alt=""
                src="./public/image-18@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="copyrightframe">
          <h3 class="copyright-2024-tazkia1">
            © Copyright 2024 Tazkia Institute. All Rights Reserved.
          </h3>
        </div>
      </footer>
    </div>
  </body>
</html>
