<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/riwayat-surat.css"/>
    <link rel="stylesheet" href="/css/add-template.css"/>
    <link rel="stylesheet" href="/css/upload.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/asset.css"/>
    <link rel="stylesheet" href="/css/button.css"/>
    <link rel="stylesheet" href="/css/checkbox.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<style>
    .alert-container {
        display: flex;
        justify-content: center; /* Center the alert within the container */
        margin: 0 auto; /* Center the container horizontally */
    }

    .alert {
        display: flex; /* Use flexbox for alignment */
        align-items: center; /* Vertically center the content */
        max-width: 700px; /* Maximum width to prevent it from getting too wide */
        padding: 10px; /* Add padding for better appearance */
        background-color: #f8d7da; /* Background color for the alert */
        color: #721c24; /* Text color for the alert */
        border: 1px solid #f5c6cb; /* Border color for the alert */
        border-radius: 4px; /* Rounded corners */
        box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
    }

    .alert strong {
        flex-grow: 1; /* Take up remaining space, pushing the close button to the right */
        margin-right: 28px; /* Add space between the message and the close button */
    }

    .alert .close {
        background: none; /* Remove default button styling */
        border: none; /* Remove border */
        font-size: 1.2rem; /* Adjust font size for the close icon */
        cursor: pointer; /* Pointer cursor on hover */
    }
</style>




<body>
<nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

<div class="page-container">
    <b class="title-container">
        <span class="title-gradient">Ubah</span>
        <span> Template</span>
    </b>

    <nav th:replace="~{fragments/asset :: asset}"></nav>

    <div class="form-wrap">
        <form th:action="@{'/template/update/' + ${template.id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="${template.id}" />

            <div class="alert-container">
                <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong th:text="${errorMessage}"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>

            <div class="form-input-group">
                <div class="form-input-label">Nama Template</div>
                <input class="form-input-box" type="text" id="namaTemplate" name="namaTemplate" th:value="${template.namaTemplate}" required/>
            </div>

            <div class="form-input-group">
                <div class="form-input-label">List Pengguna</div>
                    <div class="row m-0">
                    <div class="checkbox-wrapper-13" style="width:fit-content; padding-left: 0;">
                        <input type="checkbox" id="pengguna1" name="listPengguna" value="Mahasiswa" th:checked="${template.listPengguna.contains('Mahasiswa')}">
                        <label for="pengguna1" style="font-weight:500;">Mahasiswa</label>
                    </div>
                    <div class="checkbox-wrapper-13" style="width:fit-content;">
                        <input type="checkbox" id="pengguna2" name="listPengguna" value="Dosen" th:checked="${template.listPengguna.contains('Dosen')}">
                        <label for="pengguna2" style="font-weight:500;">Dosen</label>
                    </div>
                    <div class="checkbox-wrapper-13" style="width:fit-content;">
                        <input type="checkbox" id="pengguna3" name="listPengguna" value="Staf" th:checked="${template.listPengguna.contains('Staf')}">
                        <label for="pengguna3" style="font-weight:500;">Staf</label>
                    </div>
                </div>
            </div>

            <div id="fieldsContainer">
                <label for="listField" class="form-input-label form-input-group" style="margin-bottom: -10px;">List Field</label>
                <div th:each="field, fieldStat : ${template.listField}" class="list-field-group">
                    <div class="list-field" th:classappend="${fieldStat.index == 0 ? '' : 'with-button'}">
                    <input type="text" class="list-field-input" name="listField[]" th:value="${field}" required/>
                    </div>
                    <div class="button-container">
                    <button type="button" class="button-add-row" onclick="addRow()" style="color: #fffffe">
                        <img class="lets-iconsadd-round2" loading="lazy" alt="" src="/images/plus-icon.svg"/>
                    </button>
                    <button type="button" class="button-delete-row" onclick="deleteRow(this)" style="color: #fffffe" th:unless="${fieldStat.index == 0}">
                        <img class="mdidelete-icon1" loading="lazy" alt="" src="/images/delete.svg"/>
                    </button>
                    </div>
                </div>
            </div>

            <div class="form-input-group" style="margin-top: 50px">
            <div class="upload-illustration-frame">
                <div class="file-input">
                <div class="rectangle-frame">
                    <div class="arsip-surat-frame">
                    <div class="button-frame1">
                        <label class="upload-illustration" for="file">
                        <div class="chevrondown-icon">
                            <div class="wrapper-group">
                            <img class="group-icon" alt="" src="/images/imagetengah.png"/>
                            </div>
                            <img class="chevrondown-icon-child" alt="" src="/images/upload.svg"/>
                            <img class="chevrondown-icon-item" loading="lazy" alt="" src="/images/imagekanan.png"/>
                        </div>
                        <img class="upload-illustration-child" alt="" src="/images/imagekiri.png"/>
                        </label>
                        <input type="file" class="custom-file-input" id="file" name="file" accept="application/pdf"/>
                    </div>
                    <h3 class="upload-file-kamu-container">
                        <span>Perbarui</span>
                        <span class="file-kamu-di">file kamu di sini (dalam PDF, max. 10MB)</span>
                    </h3>
                    <span class="file-name" th:text="${template.fileName}"></span>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <div class="text-center action-buttons">
            <button type="button" onclick="submitForm()" class="primary-long-button" data-bs-toggle="modal" 
                th:attr="data-bs-target=${'#confirmationModal' + template.id}" style="width: 80%;">
                Update
            </button>
            </div>

            <!-- Modal UBAH -->
            <div class="modal fade" th:id="${'confirmationModal' + template.id}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 450px; height: fit-content; padding: 15px">
                <div class="modal-header" style="border-bottom: none; justify-content: center">
                    <h5 class="modal-title">
                    <strong>Ubah Template</strong>
                    </h5>
                </div>
                <div class="modal-body m-0">
                    <p style="font-size: large; text-align: center">
                    Apakah Anda yakin ingin mengubah template ini? 
                    Pastikan seluruh perubahan sudah benar.
                    </p>
                </div>
                <div class="modal-footer" style="border-top: none; justify-content: center; gap: 5px;">
                    <button type="button" class="cancel-button m-0" data-bs-dismiss="modal" aria-label="Close">
                    <div class="primary-text">Cancel</div>
                    </button>
                    <a th:href="@{'/template/update/' + ${template.id}}">
                    <button type="submit" class="primary-button m-0">
                        <div class="primary-text">Ubah</div>
                    </button>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </form>

    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script>
    let listFieldValues = []; // Array to store input values

    document.getElementById('file').addEventListener('change', function() {
        var file = this.files[0];
        var maxFileSize = 10 * 1024 * 1024;

        if (file.size > maxFileSize) {
            document.querySelector('.file-name').textContent = "Ukuran file terlalu besar. Silahkan upload ulang";
            document.querySelector('.file-name').style.color = "red"; 
            document.querySelector('.file-name').style.fontWeight = "700"; 
            document.querySelector('button[type="submit"]').disabled = true;
        } else {
            document.querySelector('.file-name').textContent = file.name;
            document.querySelector('.file-name').style.color = "black";
            document.querySelector('.file-name').style.fontWeight = "400"; 
            document.querySelector('button[type="submit"]').disabled = false;
        }
    });

    function addRow() {
        const container = document.getElementById("fieldsContainer");

        const rowContainer = document.createElement("div");
        rowContainer.className = "list-field-group";

        const listFieldContainer = document.createElement("div");
        listFieldContainer.className = "list-field";

        const input = document.createElement("input");
        input.type = "text";
        input.className = "list-field-input listField";
        input.name = "listField[]";
        input.required = true;

        listFieldContainer.appendChild(input);

        const buttonContainer = document.createElement("div");
        buttonContainer.className = "button-container";

        const addButton = document.createElement("button");
        addButton.type = "button";
        addButton.className = "button-add-row";
        addButton.style.color = "#fffffe";
        addButton.onclick = addRow;

        const addIcon = document.createElement("img");
        addIcon.className = "lets-iconsadd-round2";
        addIcon.loading = "lazy";
        addIcon.alt = "";
        addIcon.src = "/images/plus-icon.svg";

        addButton.appendChild(addIcon);

        const deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.className = "button-delete-row";
        deleteButton.style.color = "#fffffe";
        deleteButton.onclick = function () {
            deleteRow(this);
        };

        const deleteIcon = document.createElement("img");
        deleteIcon.className = "mdidelete-icon1";
        deleteIcon.loading = "lazy";
        deleteIcon.alt = "";
        deleteIcon.src = "/images/delete.svg";

        deleteButton.appendChild(deleteIcon);

        buttonContainer.appendChild(addButton);
        buttonContainer.appendChild(deleteButton);

        rowContainer.appendChild(listFieldContainer);
        rowContainer.appendChild(buttonContainer);

        container.appendChild(rowContainer);

        // Add event listener to the new input field to capture its value
        input.addEventListener("input", function () {
            listFieldValues.push(input.value); // Push the value to the array
        });
    }

    function deleteRow(button) {
        const rowContainer = button.closest(".list-field-group");
        const input = rowContainer.querySelector(".listField");

        if (input) {
            const index = listFieldValues.indexOf(input.value);
            if (index !== -1) {
            listFieldValues.splice(index, 1); // Remove the value from the array
            }
        }

        rowContainer.remove();
    }

    document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    const form = event.target;
    const namaTemplateInput = document.getElementById('namaTemplate');
    const namaTemplateValue = namaTemplateInput.value;

    // Check if the name already exists in the template options
    const existingOption = document.querySelector(`#requestTemplate option[value="${namaTemplateValue}"]`);

    if (existingOption) {
        alert("Template dengan nama yang sama sudah ada. Silakan pilih nama lain.");
    } else {
        form.submit(); // Programmatically submit the form if no duplicates
    }
});


    // Function to submit the form
    function submitForm() {
        // Add the listFieldValues array to the form data before submitting
        let formData = new FormData();
        for (let i = 0; i < listFieldValues.length; i++) {
            formData.append("listField", listFieldValues[i]);
        }

        // Submit the form
        fetch("/template/new-template", {
            method: "POST",
            body: formData,
        })
        .then((response) => {
            // Handle response as needed
        })
        .catch((error) => {
            console.error("Error:", error);
        });
    }
</script>

</body>

</html>
