<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    <link rel="stylesheet" href="/css/detail-surat.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="detail-surat-diajukan">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Detail</span>
            <span> Surat</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>
        
        <div class="frame-parent" th:each="requestSurat: ${requestSurats}">
            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">ID Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.id}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Tanggal Pengajuan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${#dates.format(requestSurat.tanggalPengajuan, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Bahasa</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.bahasa}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Bentuk Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content">
                        <th:block th:each="bentuk, iterStat : ${requestSurat.bentukSurat}">
                            <span th:text="${bentuk}"></span>
                            <th:block th:if="${!iterStat.last}">
                                <span>, </span>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Keperluan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.keperluan}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Kategori Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.kategori}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Jenis Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.jenisSurat}"></div>
                </div>
            </div>

            <div class="row" th:each="fieldName : ${requestSurat.listFieldData}">
                <div class="detail-wrapper">
                    <div class="detail" th:text="${fieldName.key}"></div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${fieldName.value}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Status</div>
                </div>

                <div class="content-wrapper">
                    <div class="content">Diajukan</div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
