<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global-daftar-template.css"/>
    <link rel="stylesheet" href="/css/detail-surat.css"/>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbarLoggedIn :: navbarLoggedIn}"></nav>

    <div class="detail-surat-diajukan">
        <b class="pengajuan-permohonan-surat-container">
            <span class="pengajuan">Detail</span>
            <span> Surat</span>
        </b>

        <nav th:replace="~{fragments/asset :: asset}"></nav>
        
        <div class="frame-parent" th:each="requestSurat: ${requestSurats}">
            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">ID Request Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.id}"></div>
                </div>
            </div>

            <div th:if="${requestSurat.status == 5}" class="row">
                <div class="detail-wrapper">
                    <div class="detail">Nomor Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${outgoing.nomorArsip}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Tanggal Pengajuan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${#dates.format(requestSurat.tanggalPengajuan, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Bahasa</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.bahasa}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Bentuk Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content">
                        <th:block th:each="bentuk, iterStat : ${requestSurat.bentukSurat}">
                            <span th:text="${bentuk}"></span>
                            <th:block th:if="${!iterStat.last}">
                                <span>, </span>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Keperluan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.keperluan}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Kategori Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.kategori}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Jenis Surat</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.jenisSurat}"></div>
                </div>
            </div>

            <div class="row">
                <div class="detail-wrapper">
                    <div class="detail">Status</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${statusMap[requestSurat.status]}"></div>
                </div>
            </div>

            <div th:if="${requestSurat.status == 2}" class="row">
                <div class="detail-wrapper">
                    <div class="detail">Tanggal Dibatalkan</div>
                </div>
            
                <div class="content-wrapper">
                    <div class="content" th:text="${#dates.format(requestSurat.tanggalDibatalkan, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <div th:if="${requestSurat.status == 2}" class="row">
                <div class="detail-wrapper">
                    <div class="detail">Alasan Pembatalan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.alasanPembatalan}"></div>
                </div>
            </div>

            <div th:if="${requestSurat.status == 3}" class="row">
                <div class="detail-wrapper">
                    <div class="detail">Tanggal Penolakan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${#dates.format(requestSurat.tanggalPenolakan, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <div th:if="${requestSurat.status == 3}" class="row">
                <div class="detail-wrapper">
                    <div class="detail">Alasan Penolakan</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${requestSurat.alasanPenolakan}"></div>
                </div>
            </div>

            <div th:if="${requestSurat.status == 5}" class="row">
                <div class="detail-wrapper">
                    <div class="detail">Tanggal Selesai</div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${#dates.format(requestSurat.tanggalSelesai, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <h3 class="label6">Keterangan</h3>

            <div class="row" th:each="fieldName : ${requestSurat.listFieldData}">
                <div class="detail-wrapper">
                    <div class="detail" th:text="${fieldName.key}"></div>
                </div>

                <div class="content-wrapper">
                    <div class="content" th:text="${fieldName.value}"></div>
                </div>
            </div>

            <div class="frame-button" th:if="${base64PDFEx != null}">
                <h3 class="label6">Contoh File Surat</h3>
                <embed th:attr="src='data:application/pdf;base64,' + ${base64PDFEx}" type="application/pdf" width="100%" height="500px">
            </div>

            <div th:if="${requestSurat.status == 5}"></div>
                <div class="frame-button" th:if="${base64PDF != null}">
                    <h3 class="label6">Preview Surat</h3>
                    <embed th:attr="src='data:application/pdf;base64,' + ${base64PDF}" type="application/pdf" width="100%" height="500px">
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
