<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
</head>

<body>
  <nav th:fragment="navbar" class="default">
    <div class="defaultNavbar">
        <div class="groupParent">
          <img class="frameChild" alt="" th:src="@{/images/Logo SMAIL.svg}">
          <b class="smail">SMAIL</b>
        </div>
        <div class="defaultNavbarChild"></div>
    </div>
  </nav>
  
  <script src="script.js"></script>
</body>
</html>