<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    
  <link rel="stylesheet" th:href="@{/css/navbarUser.css}"/>
  <script th:src="@{/js/script.js}"></script>
</head>

<body>
    <nav th:fragment="navbarUser" id="navbar">
        <div class="navbar">
            <i id="menuIcon" class='bx bx-menu'></i>
            <div class="logo">
                <!-- <a href="home.html">CodingLab</a> -->
                <img
                    class="logo"
                    th:src="@{/images/Logo SMAIL.svg}"
                />
            </div>

            <div class="nav-links">
                <div class="sidebar-logo">
                    <img
                        class="logo"
                        th:src="@{/images/Logo SMAIL.svg}"
                    />
                    <!-- <span class="logo-name">CodingLab</span> -->
                    <i class='bx bx-x' ></i>
                </div>

                <ul class="links">
                    <li><a href="#">Beranda</a></li>

                    <li><a href="#">Request Surat</a></li>

                    <li>
                        <a href="#">Arsip Surat</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul id="htmlCssSubMenu" class="htmlCss-sub-menu sub-menu" style="margin-top: 8px; padding: 0; align-items: center;">
                            <li style="margin: 0;"><a href="#">Surat Masuk</a></li>
                            <hr style="margin: 0 auto; width: 80%;" class="horizontalLine" />
                            <li style="margin: 0;"><a href="#">Semua Arsip</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Template Surat</a></li>

                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>

            <div class="navbarUserInner">
                <div class="buttonWrapper">
                    <div class="button">
                        <div class="admin">Admin</div>
                        <img class="iconoutlinechevronDown" alt="" th:src="@{/images/chevron-down.svg}" />
                        <div id="dropdownContent" class="dropdownContent">
                            <div class="iconTextContainer">
                                <img class="profile" alt="" th:src="@{/images/profile.svg}" />
                                <a href="#">Profile</a>
                            </div>

                            <hr class="horizontalLine" />

                            <div class="iconTextContainer">
                                <img class="logout" alt="" th:src="@{/images/logout.svg}"/>
                                <a href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

  <script th:src="@{/js/script.js}"></script>
  
</body>
</html>