<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" href="/css/detail-surat.css"/>

</head>

<body>
    <div th:fragment="upload" class="form-group">
        <div class="upload-illustration-frame">
            <div class="file-input">
                <div class="rectangle-frame">
                    <div class="arsip-surat-frame">
                        <div class="button-frame1">
                            <label class="upload-illustration" for="file">
                                <div class="chevrondown-icon">
                                    <div class="wrapper-group">
                                        <img class="group-icon" alt="" src="/images/imagetengah.png"/>
                                    </div>
                                    <img class="chevrondown-icon-child" alt="" src="/images/upload.svg"/>
                                    <img class="chevrondown-icon-item" loading="lazy" alt="" src="/images/imagekanan.png"/>
                                </div>
                                <img class="upload-illustration-child" alt="" src="/images/imagekiri.png"/>
                            </label>
                            <input type="file" class="custom-file-input" id="file" name="file" accept="application/pdf">
                        </div>
                        <h3 class="upload-file-kamu-container">
                            <span>Upload</span>
                            <span class="file-kamu-di"> file kamu di sini (dalam PDF, max. 10MB)</span>
                        </h3>
                        <span class="file-name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
